# pandas library

pandas is an abbreviation for the **P**ython **an**d **D**ata **A**naly**s**is Library. It is a library that uses three main data structures:

* the Index class
* the Series class
* the DataFrame class

Most Index classes are numeric, that is zero-order integer steps of one.

The Index, similar to a tuple, list or 1darray has a single dimension which can be represented either as a row:

|index|0|1|2|3|
|---|---|---|---|---|

Or as a column when convenient:

|index|
|---|
|0|
|1|
|2|
|3|

The Series class has a value at each index and a name. It is essentially a numpy 1darray that has a name. A Series is normally represented as a column (notice the Index associated with the Series is also displayed as a column):

|index|'x'|
|---|---|
|0|1.1|
|1|2.1|
|2|3.1|
|3|4.1|

A DataFrame class is essentially a grouping of series instances that have the same index:

|index|'x'|'y'|
|---|---|---|
|0|1.1|1.2|
|1|2.1|2.2|
|2|3.1|3.2|
|3|4.1|4.2|

## Importing Libraries

To use the data science libraries they need to be imported:

In [1]:
import numpy as np 
import pandas as pd
from helper_module import print_identifier_group

Once imported the identifiers can be viewed:

In [2]:
print('datamodel attribute:', end=' ')
print_identifier_group(pd, 'datamodel_attribute')
print('datamodel method:', end=' ')
print_identifier_group(pd, 'datamodel_method')
print('attribute:', end=' ')
print_identifier_group(pd, 'attribute')
print('function:', end=' ')
print_identifier_group(pd, 'function')
print('class:', end=' ')
print_identifier_group(pd, 'upper_class')

datamodel attribute: ['__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__']
datamodel method: []
attribute: ['annotations', 'api', 'arrays', 'compat', 'core', 'errors', 'io', 'offsets', 'options', 'pandas', 'plotting', 'testing', 'tseries', 'util']
function: ['array', 'bdate_range', 'concat', 'crosstab', 'cut', 'date_range', 'describe_option', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'period_range', 'pivot', 'pivot_table', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'unique', 'value_counts', 'wide_to_long']
class: ['ArrowDtype', 'BooleanDtype', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DatetimeTZDtype', 'ExcelFile', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NamedAgg', 'Period', 'PeriodDtype', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype']

The datamodel attributes \_\_name\_\_ (dunder name), \_\_version\_\_ (dunder version) and \_\_file\_\_ (dunder file) can be used to get details about the library:

In [3]:
pd.__name__

'pandas'

In [4]:
pd.__version__

'2.1.4'

In [5]:
pd.__file__

'c:\\Users\\phili\\Anaconda3\\envs\\vscode-env\\Lib\\site-packages\\pandas\\__init__.py'

The classes are all in CamelCase. The main classes are:

* Index
* Series
* DataFrame
 
There are some variations of Index such as RangeIndex, MultiIndex, DateIndex and TimedeltaIndex.

In general pandas uses object orientated programming (OOP) opposed to functional programming. This means methods are normally applied to Index, Series and DataFrame instances to analyse or manipulate data from the instance. Most of the functions within the pandas library are used to read in data from a file and output a DataFrame instance.

## Series

The initialisation signature for a pandas ```Series``` class can be examined:

In [6]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool | None' = None,
    fastpath: 'bool' = False,
) -> 'None'
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           c:\users\phili\anaconda3\envs\vscode-env\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

The main keyword input arguments are:

* data
* index
* dtype
* name

If these are not supplied an empty series instance with no index, no name and a generic object datatype is instantiated:

In [7]:
pd.Series()

Series([], dtype: object)

Normally data is supplied in the form of a numpy 1darray:

In [8]:
pd.Series(data=np.array([1, 2, 3]))

0    1
1    2
2    3
dtype: int32

Since a ndarray itself is initialised from a list, this can be abbreviated to:

In [9]:
pd.Series(data=[1, 2, 3])

0    1
1    2
2    3
dtype: int64

When ```dtype=None```, the data type will be inferred from the data:

In [10]:
pd.Series(data=[1., 2., 3.])

0    1.0
1    2.0
2    3.0
dtype: float64

In [11]:
from datetime import datetime, timedelta
pd.Series(data=[datetime.now(), 
                datetime.now() + timedelta(days=1),
                datetime.now() + timedelta(days=2)])

0   2023-12-27 12:33:18.172161
1   2023-12-28 12:33:18.172161
2   2023-12-29 12:33:18.172161
dtype: datetime64[ns]

In [12]:
pd.Series(data=['a', 'b', 'c'])

0    a
1    b
2    c
dtype: object

Anything with a string in it is classed as non-numeric and has the generic dtype ```object``` (meaning it can be any Python object).

The dtype can be manually overidden when supplying the numpy 1darray by using the ```np.array``` input argument ```dtype```:

In [13]:
pd.Series(data=np.array([1., 2., 3.], dtype=np.int32))

0    1
1    2
2    3
dtype: int32

Or by alternatively using the ```Series``` keyword input argument ```dtype```:

In [14]:
pd.Series(data=[1., 2., 3.], dtype=np.int32)

0    1
1    2
2    3
dtype: int32

Notice that the index is zero-ordered numeric in integer steps of 1 by default. This can be manually changed by use of the keyword input argument ```index``` and providing an ```Index``` instance, ```ndarray``` instance or ```list``` instance of index values:

In [15]:
pd.Series(index=['a', 'b', 'c'], data=[1., 2., 3.], dtype=np.int32)

a    1
b    2
c    3
dtype: int32

A ```Series``` usually also has a ```name```:

In [16]:
pd.Series(index=['a', 'b', 'c'], data=[1., 2., 3.], dtype=np.int32, name='x')

a    1
b    2
c    3
Name: x, dtype: int32

Normally the ```data``` and ```name``` are supplied and the ```index``` and ```dtype``` are inferred:

In [17]:
pd.Series([1.1, 2.1, 3.1, 4.1], name='x')

0    1.1
1    2.1
2    3.1
3    4.1
Name: x, dtype: float64

## DataFrame

The initialisation signature for a pandas DataFrame can be examined:

In [18]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
) -> 'None'
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3
File:           c:\users\phili\anaconda3\envs\vscode-env\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

The keyword input arguments for a ```DataFrame``` instance are similar to those found for a ```Series``` instance however because a ```DataFrame``` is a collection of ```Series``` most of these are plural:

* data (plural)
* index (singular)
* columns (plural of name)
* dtype (plural)

In [19]:
pd.DataFrame(data=[[1.1, 1.2], 
                   [2.1, 2.2],
                   [3.1, 3.2],
                   [4.1, 4.2]],
             index=['a', 'b', 'c', 'd'],
             columns=('x', 'y'),
             dtype=(np.float64, np.float64))

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2

The dtype has to be supplied as a ```tuple``` containing the ```dtype``` for each ```Series``` instance in the ```DataFrame``` instance. If it is supplied as a list of dtypes a ```TypeError``` will display.

Once again normally the ```dtype``` and ```index``` are inferred:

In [20]:
pd.DataFrame(data=[[1.1, 1.2], 
                   [2.1, 2.2],
                   [3.1, 3.2],
                   [4.1, 4.2]],
             columns=('x', 'y'))

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  4.1  4.2

It is common to supply ```columns``` and ```data``` in the form of a mapping. The mapping has a key: value pair. The key should be a string which will become the column name and the value should be a 1darray or list which corresponds to the data:

In [21]:
pd.DataFrame({'x': np.array([1.1, 2.1, 3.1, 3.1]),
              'y': np.array([1.2, 2.2, 3.2, 4.2])})

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  3.1  4.2

## Series Identifiers

If the following ```NDArray``` (1D) and ```Series``` instances are created:

In [22]:
xarray = np.array([1.1, 2.1, 3.1, 4.1])

In [23]:
xarray

array([1.1, 2.1, 3.1, 4.1])

In [24]:
xseries = pd.Series(xarray, name='x')

In [25]:
xseries

0    1.1
1    2.1
2    3.1
3    4.1
Name: x, dtype: float64

The ```Series``` is more commonly instantiated directly from a ```list```:

In [26]:
yseries = pd.Series([1.1, -2.1, -3.1, None], name='y', dtype=float)

In [27]:
yseries

0    1.1
1   -2.1
2   -3.1
3    NaN
Name: y, dtype: float64

Its identifiers can be viewed. Notice that the following are consistent with a ```1darray``` instance because a ```Series``` instance is based on a ```NDArray``` (1D). This means the previous knowledge from the ```numpy``` tutorial is applicable to the ```Series```:

In [28]:
print('datamodel attribute:', end=' ')
print_identifier_group(xarray, kind='datamodel_attribute', second=xseries, show_only_intersection_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(xarray, kind='datamodel_method', second=xseries, show_only_intersection_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(xarray, kind='attribute', second=xseries, show_only_intersection_identifiers=True)
print('method:', end=' ')
print_identifier_group(xarray, kind='function', second=xseries, show_only_intersection_identifiers=True)

datamodel attribute: ['__array_priority__', '__doc__', '__hash__']
datamodel method: ['__abs__', '__add__', '__and__', '__array__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__']
attribute: ['dtype', 'flags', 'nbytes', 'ndim', 'shape', 'size']
method: ['all', 'any', 'argmax', 'argmin', 'argsort', 'astype', 'clip', 'copy', 'cumprod', 'cumsum', 'dot', 'item', 'max', 'mean', 'min', 'prod', 'ravel', 'repeat', 'round', 'searchsorted', 'squeeze', 'std', 'sum', 'swapaxes', 'take', 'transpose', 'var', 'view']

Some of the identifiers in a ```NDArray``` (1D) are not applicable to a ```Series``` such as the functions which work over multiple dimensions:

In [29]:
print('datamodel attribute:', end=' ')
print_identifier_group(xarray, kind='datamodel_attribute', second=xseries, show_unique_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(xarray, kind='datamodel_method', second=xseries, show_unique_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(xarray, kind='attribute', second=xseries, show_unique_identifiers=True)
print('method:', end=' ')
print_identifier_group(xarray, kind='function', second=xseries, show_unique_identifiers=True)

datamodel attribute: ['__array_interface__', '__array_struct__']
datamodel method: ['__array_finalize__', '__array_function__', '__array_prepare__', '__array_wrap__', '__buffer__', '__class_getitem__', '__complex__', '__dlpack__', '__dlpack_device__', '__ilshift__', '__imatmul__', '__index__', '__irshift__', '__lshift__', '__rlshift__', '__rrshift__', '__rshift__']
attribute: ['base', 'ctypes', 'data', 'flat', 'imag', 'itemsize', 'real', 'strides']
method: ['argpartition', 'byteswap', 'choose', 'compress', 'conj', 'conjugate', 'diagonal', 'dump', 'dumps', 'fill', 'flatten', 'getfield', 'itemset', 'newbyteorder', 'nonzero', 'partition', 'ptp', 'put', 'reshape', 'resize', 'setfield', 'setflags', 'sort', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace']

There are also additional identifiers in the ```Series``` class that are not available in the ```NDArray``` (1D):

In [30]:
print('datamodel attribute:', end=' ')
print_identifier_group(xseries, kind='datamodel_attribute', second=xarray, show_unique_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(xseries, kind='datamodel_method', second=xarray, show_unique_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(xseries, kind='attribute', second=xarray, show_unique_identifiers=True)
print('method:', end=' ')
print_identifier_group(xseries, kind='function', second=xarray, show_unique_identifiers=True)

datamodel attribute: ['__annotations__', '__dict__', '__module__', '__pandas_priority__']
datamodel method: ['__column_consortium_standard__', '__finalize__', '__getattr__', '__nonzero__', '__round__', '__weakref__']
attribute: ['array', 'at', 'attrs', 'axes', 'dtypes', 'empty', 'hasnans', 'iat', 'index', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'name', 'values']
method: ['abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'apply', 'asfreq', 'asof', 'at_time', 'autocorr', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'corr', 'count', 'cov', 'cummax', 'cummin', 'describe', 'diff', 'div', 'divide', 'divmod', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'duplicated', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'idxmax', 'idxmin', 'iloc', 'infer_objects', 'info', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'median', 'memory_usage', 'mod', 'mode', 'mul', 'multiply', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'product', 'quantile', 'radd', 'rank', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'rpow', 'rsub', 'rtruediv', 'sample', 'sem', 'set_axis', 'set_flags', 'shift', 'skew', 'sort_index', 'sort_values', 'sub', 'subtract', 'swaplevel', 'tail', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'where', 'xs']

Many of the additional attributes return the supplied value in the initialisation signature:

In [31]:
xseries.array

<NumpyExtensionArray>
[1.1, 2.1, 3.1, 4.1]
Length: 4, dtype: float64

In [32]:
xseries.name

'x'

In [33]:
xseries.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
xseries.values

array([1.1, 2.1, 3.1, 4.1])

In [35]:
xseries.dtypes

dtype('float64')

Many of the additional methods duplicate the behaviour of an equivalent datamodel method for example ```abs``` and ```__abs__``` (dunder abs). Recall that the datamodel identifier ```__abs__``` defines the way the ```builtins``` function ```abs``` operates with an instance of the ```Series``` class and its use is generally preferred:

In [36]:
yseries

0    1.1
1   -2.1
2   -3.1
3    NaN
Name: y, dtype: float64

In [37]:
abs(yseries)

0    1.1
1    2.1
2    3.1
3    NaN
Name: y, dtype: float64

In [38]:
yseries.abs()

0    1.1
1    2.1
2    3.1
3    NaN
Name: y, dtype: float64

 The supplementary method ```add``` largely duplicates the behaviour of the datamodel ```__add__``` (dunder add) which recall defines the behaviour of the ```+``` operator which use is generally preferred:

In [39]:
xseries.__add__(yseries)

0    2.2
1    0.0
2    0.0
3    NaN
dtype: float64

In [40]:
xseries + yseries

0    2.2
1    0.0
2    0.0
3    NaN
dtype: float64

The ```add``` method however includes additional options via keyword input arguments such as ```fill_value``` which can be used for an addition involving a missing value:

In [41]:
xseries.add(yseries)

0    2.2
1    0.0
2    0.0
3    NaN
dtype: float64

In [42]:
xseries.add(yseries, fill_value=0)

0    2.2
1    0.0
2    0.0
3    4.1
dtype: float64

## DataFrame Identifiers

If the following dataframe is constructed:

In [43]:
df = pd.DataFrame({'x': np.array([1.1, 2.1, 3.1, 3.1]),
                   'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [44]:
df

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  3.1  4.2

A large number of identifiers can be seen to be consistent between a ```DataFrame``` and a ```Series``` instance such as almost all of the datamodel identifiers. These identifiers operate across 2 dimensions across a ```DataFrame``` instance instead of 1 dimension along a ```Series```:

In [45]:
print('datamodel attribute:', end=' ')
print_identifier_group(df, kind='datamodel_attribute', second=xseries, show_only_intersection_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(df, kind='datamodel_method', second=xseries, show_only_intersection_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(df, kind='attribute', second=xseries, show_only_intersection_identifiers=True)
print('method:', end=' ')
print_identifier_group(df, kind='function', second=xseries, show_only_intersection_identifiers=True)

datamodel attribute: ['__annotations__', '__array_priority__', '__dict__', '__doc__', '__hash__', '__module__', '__pandas_priority__']
datamodel method: ['__abs__', '__add__', '__and__', '__array__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__']
attribute: ['at', 'attrs', 'axes', 'dtypes', 'empty', 'flags', 'iat', 'index', 'ndim', 'shape', 'size', 'values']
method: ['abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'asfreq', 'asof', 'astype', 'at_time', 'backfill', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'duplicated', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'idxmax', 'idxmin', 'iloc', 'infer_objects', 'info', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'sem', 'set_axis', 'set_flags', 'shift', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_hdf', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'var', 'where', 'xs']

The ```Series``` has ```Series``` specific attributes which are not available for a ```DataFrame``` instance. The datamodel methods in a ```Series``` not present in a ```DataFrame``` are for type-casting:

In [46]:
print('datamodel attribute:', end=' ')
print_identifier_group(xseries, kind='datamodel_attribute', second=df, show_unique_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(xseries, kind='datamodel_method', second=df, show_unique_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(xseries, kind='attribute', second=df, show_unique_identifiers=True)
print('method:', end=' ')
print_identifier_group(xseries, kind='function', second=df, show_unique_identifiers=True)

datamodel attribute: []
datamodel method: ['__column_consortium_standard__', '__float__', '__int__']
attribute: ['array', 'dtype', 'hasnans', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'name', 'nbytes']
method: ['argmax', 'argmin', 'argsort', 'autocorr', 'between', 'divmod', 'factorize', 'item', 'ravel', 'rdivmod', 'repeat', 'searchsorted', 'to_frame', 'to_list', 'unique', 'view']

The ```DataFrame``` instead has ```DataFrame``` specific attributes such as the name of each ```Series``` in the ```DataFrame```. The ```DataFrame``` also has supplementary methods such as ```insert``` which is used to insert a ```Series``` instance into a ```DataFrame``` instance or ```join``` and ```merge``` used to join or merge ```DataFrame``` instances respectively. The datamodel methods in a ```DataFrame``` not present in a ```Series``` are for type-casting (to a ```DataFrame```):

In [47]:
print('datamodel attribute:', end=' ')
print_identifier_group(df, kind='datamodel_attribute', second=xseries, show_unique_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(df, kind='datamodel_method', second=xseries, show_unique_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(df, kind='attribute', second=xseries, show_unique_identifiers=True)
print('method:', end=' ')
print_identifier_group(df, kind='function', second=xseries, show_unique_identifiers=True)

datamodel attribute: []
datamodel method: ['__dataframe__', '__dataframe_consortium_standard__']
attribute: ['columns', 'style', 'x', 'y']
method: ['applymap', 'assign', 'boxplot', 'corrwith', 'eval', 'from_dict', 'from_records', 'insert', 'isetitem', 'iterrows', 'itertuples', 'join', 'melt', 'merge', 'pivot', 'pivot_table', 'query', 'select_dtypes', 'set_index', 'stack', 'to_feather', 'to_gbq', 'to_html', 'to_orc', 'to_parquet', 'to_records', 'to_stata', 'to_xml']

Notice the columns attribute returns a list of the names of each ```Series``` in the ```DataFrame```:

In [48]:
df.columns

Index(['x', 'y'], dtype='object')

Since the following conditions are satisfied:

In [49]:
'x'.isidentifier()

True

In [50]:
'y'.isidentifier()

True

And these identifier names don't clash with any of the other ```DataFrame``` identifiers, the following become ```DataFrame``` attributes and correspond to each ```Series``` in the ```DataFrame```:

In [51]:
df.x

0    1.1
1    2.1
2    3.1
3    3.1
Name: x, dtype: float64

In [52]:
df.y

0    1.2
1    2.2
2    3.2
3    4.2
Name: y, dtype: float64

## Mutability

The ```Index```, ```Series``` and ```DataFrame``` classes are mutable Collections meaning they have the immutable datamodel identifier ```__getitem__``` (dunder getitem) as well as the mutable identifier ```__setitem__``` (dunder setitem):

In [53]:
'__getitem__' in dir(pd.Series)

True

In [54]:
'__setitem__' in dir(pd.Series)

True

In [55]:
'__delitem__' in dir(pd.Series)

True

This means the following array can be indexed into:

In [56]:
xseries = pd.Series([1.1, 2.1, 3.1, 4.1], name='x')

In [57]:
xseries

0    1.1
1    2.1
2    3.1
3    4.1
Name: x, dtype: float64

Recall the datamodel ```__getitem__``` (dunder getitem) defines how a ```Collection``` responds to indexing using square brackets:

In [58]:
xseries[0]

1.1

Recall that the mutable method ```__setitem__``` (dunder setitem) defines how a ```MutableCollection``` responds to indexing using square brackets followed by assignment to a new value:

In [59]:
xseries[0] = None

In [60]:
xseries

0    NaN
1    2.1
2    3.1
3    4.1
Name: x, dtype: float64

Recall that the mutable method ```__delitem__``` (dunder delitem) defines how a ```MutableCollection``` responds to a ```del``` statement of an element indexing using square brackets:

In [61]:
del xseries[2]

In [62]:
xseries

0    NaN
1    2.1
3    4.1
Name: x, dtype: float64

Despite the ```NDArray```, ```Series``` and ```DataFrame``` being mutable datatypes, most the identifiers are immutable by default. If the docstring of the method ```dropna``` is examined:

In [63]:
xseries.dropna?

Signature:
xseries.dropna(
    *,
    axis: 'Axis' = 0,
    inplace: 'bool' = False,
    how: 'AnyAll | None' = None,
    ignore_index: 'bool' = False,
) -> 'Series | None'
Docstring:
Return a new Series with missing values removed.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index'}
    Unused. Parameter needed for compatibility with DataFrame.
inplace : bool, default False
    If True, do operation inplace and return None.
how : str, optional
    Not in use. Kept for compatibility.
ignore_index : bool, default ``False``
    If ``True``, the resulting axis will be labeled 0, 1, …, n - 1.

    .. versionadded:: 2.0.0

Returns
-------
Series or None
    Series with NA entries dropped from it or None if ``inplace=True``.

See Also
--------
Series.isna: Indicate missing values.
Series.notna : Indicate existing (non-missing) values.
Series.fillna : Replace missing values.
DataFrame.dropna : Drop rows or columns which contain NA values.
Index.dropna : Drop missing indices.

Examples
--------
>>> ser = pd.Series([1., 2., np.nan])
>>> ser
0    1.0
1    2.0
2    NaN
dtype: float64

Drop NA values from a Series.

>>> ser.dropna()
0    1.0
1    2.0
dtype: float64

Empty strings are not considered NA values. ``None`` is considered an
NA value.

>>> ser = pd.Series([np.nan, 2, pd.NaT, '', None, 'I stay'])
>>> ser
0       NaN
1         2
2       NaT
3
4      None
5    I stay
dtype: object
>>> ser.dropna()
1         2
3
5    I stay
dtype: object
File:      c:\users\phili\anaconda3\envs\vscode-env\lib\site-packages\pandas\core\series.py
Type:      method

Notice it has the keyword input arguments ```inplace```. ```inplace``` has the default value of ```False``` making the method immutable by default and therefore returns a new ```Series```:

In [64]:
xseries.dropna() # Return value

1    2.1
3    4.1
Name: x, dtype: float64

In [65]:
xseries # Unchanged

0    NaN
1    2.1
3    4.1
Name: x, dtype: float64

When ```inplace``` is set to ```True``` the method becomes mutable:

In [66]:
xseries.dropna(inplace=True) # No return value

In [67]:
xseries # Modified inplace

1    2.1
3    4.1
Name: x, dtype: float64

The same behaviour can be seen on the method ```reset_index```:

In [68]:
xseries.reset_index?

Signature:
xseries.reset_index(
    level: 'IndexLabel | None' = None,
    *,
    drop: 'bool' = False,
    name: 'Level' = <no_default>,
    inplace: 'bool' = False,
    allow_duplicates: 'bool' = False,
) -> 'DataFrame | Series | None'
Docstring:
Generate a new DataFrame or Series with the index reset.

This is useful when the index needs to be treated as a column, or
when the index is meaningless and needs to be reset to the default
before another operation.

Parameters
----------
level : int, str, tuple, or list, default optional
    For a Series with a MultiIndex, only remove the specified levels
    from the index. Removes all levels by default.
drop : bool, default False
    Just reset the index, without inserting it as a column in
    the new DataFrame.
name : object, optional
    The name to use for the column containing the original Series
    values. Uses ``self.name`` by default. This argument is ignored
    when `drop` is True.
inplace : bool, default False
    Modify the Series in place (do not create a new object).
allow_duplicates : bool, default False
    Allow duplicate column labels to be created.

    .. versionadded:: 1.5.0

Returns
-------
Series or DataFrame or None
    When `drop` is False (the default), a DataFrame is returned.
    The newly created columns will come first in the DataFrame,
    followed by the original Series values.
    When `drop` is True, a `Series` is returned.
    In either case, if ``inplace=True``, no value is returned.

See Also
--------
DataFrame.reset_index: Analogous function for DataFrame.

Examples
--------
>>> s = pd.Series([1, 2, 3, 4], name='foo',
...               index=pd.Index(['a', 'b', 'c', 'd'], name='idx'))

Generate a DataFrame with default index.

>>> s.reset_index()
  idx  foo
0   a    1
1   b    2
2   c    3
3   d    4

To specify the name of the new column use `name`.

>>> s.reset_index(name='values')
  idx  values
0   a       1
1   b       2
2   c       3
3   d       4

To generate a new Series with the default set `drop` to True.

>>> s.reset_index(drop=True)
0    1
1    2
2    3
3    4
Name: foo, dtype: int64

The `level` parameter is interesting for Series with a multi-level
index.

>>> arrays = [np.array(['bar', 'bar', 'baz', 'baz']),
...           np.array(['one', 'two', 'one', 'two'])]
>>> s2 = pd.Series(
...     range(4), name='foo',
...     index=pd.MultiIndex.from_arrays(arrays,
...                                     names=['a', 'b']))

To remove a specific level from the Index, use `level`.

>>> s2.reset_index(level='a')
       a  foo
b
one  bar    0
two  bar    1
one  baz    2
two  baz    3

If `level` is not set, all levels are removed from the Index.

>>> s2.reset_index()
     a    b  foo
0  bar  one    0
1  bar  two    1
2  baz  one    2
3  baz  two    3
File:      c:\users\phili\anaconda3\envs\vscode-env\lib\site-packages\pandas\core\series.py
Type:      method

With default value this method is immutable and returns a ```DataFrame``` since the old index is now added as the first ```Series```:

In [69]:
xseries.reset_index() # Return value

   index    x
0      1  2.1
1      3  4.1

If the ```drop``` keyword input argument is set to ```True```, a ```Series``` will instead be returned:

In [70]:
xseries.reset_index(drop=True) # Return value

0    2.1
1    4.1
Name: x, dtype: float64

Once again the ```inplace``` keyword input argument can be assigned to ```True``` making the method mutable:

In [71]:
xseries.reset_index(drop=True, inplace=True) # No return value

In [72]:
xseries # Modified inplace

0    2.1
1    4.1
Name: x, dtype: float64

The following ```Series``` methods have the parameter ```inplace``` and are therefore immutable by default but are mutable when this parameter is assigned to ```True```:

In [73]:
print_identifier_group(xseries, kind='function', has_parameter='inplace')

['backfill', 'bfill', 'clip', 'drop', 'drop_duplicates', 'dropna', 'ffill', 'fillna', 'interpolate', 'mask', 'pad', 'rename', 'rename_axis', 'replace', 'reset_index', 'sort_index', 'sort_values', 'where']

Notice that most of these are used to fill, interpolate or drop values along a ```Series``` in response to missing data. 

```sort_values``` for example can be used to sort the values along a ```Series```, by default ```inplace=False``` and the method is immutable:

In [74]:
xseries.sort_values(ascending=False) # Return value

1    4.1
0    2.1
Name: x, dtype: float64

Recall when an immutable method is used with assignment, the new value returned on the right of the assignment operator is assigned to the instance name or label on the left of the assignment operator. If the instance name is conceptualised as a label, then a reassignment peels the label from the original instance and places it on the new instance created:

In [75]:
xseries = xseries.sort_values(ascending=False)

In [76]:
xseries

1    4.1
0    2.1
Name: x, dtype: float64

On the other hand when a method is immutable, there is no return value and the ```Series``` is updated inplace:

In [77]:
xseries.sort_values(ascending=True, inplace=True) # No return value

In [78]:
xseries

0    2.1
1    4.1
Name: x, dtype: float64

If assignment is used with an mutable function, the return value of the function is ```None``` and therefore ```None``` will be assigned to the ```new_label```:

In [79]:
new_label = xseries.sort_values(ascending=True, inplace=True)

In [80]:
new_label

And therefore reassignment with the ```inplace``` parameter set to ```True``` should be avoided as the value will being reassigned will be ```None```:

In [81]:
xseries = xseries.sort_values(ascending=True, inplace=True)

In [82]:
xseries

By convention immutable methods have a ```return``` value and mutable methods have no ```return``` value. An exception to this is the mutable method ```pop``` which returns the popped value and mutates the ```Series``` in place:

In [90]:
xseries = pd.Series([4.1, 2.1, 3.1, 1.1], name='x')

In [91]:
xseries

0    4.1
1    2.1
2    3.1
3    1.1
Name: x, dtype: float64

In [92]:
xseries.pop(item=1) # Return value

2.1

In [93]:
xseries # Mutated

0    4.1
2    3.1
3    1.1
Name: x, dtype: float64

Most of the other methods are immutable and have a ```return``` value.

## Axis

Another common keyword is ```axis```:

In [94]:
print_identifier_group(xseries, kind='function', has_parameter='axis')

['add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'argmax', 'argmin', 'argsort', 'at_time', 'backfill', 'between_time', 'bfill', 'clip', 'cummax', 'cummin', 'cumprod', 'cumsum', 'div', 'divide', 'divmod', 'drop', 'droplevel', 'dropna', 'eq', 'ewm', 'expanding', 'ffill', 'fillna', 'filter', 'floordiv', 'ge', 'groupby', 'gt', 'idxmax', 'idxmin', 'iloc', 'interpolate', 'kurt', 'kurtosis', 'le', 'loc', 'lt', 'mask', 'max', 'mean', 'median', 'min', 'mod', 'mul', 'multiply', 'ne', 'pad', 'pow', 'prod', 'product', 'radd', 'rank', 'rdiv', 'rdivmod', 'reindex', 'rename', 'rename_axis', 'repeat', 'resample', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'rpow', 'rsub', 'rtruediv', 'sample', 'sem', 'set_axis', 'shift', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'take', 'transform', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'var', 'where', 'xs']

A ```Series``` is a column and only has a single ```axis``` available, ```0```. The operation can be conceptualised as sorting the data in the rows by use of the ```Series``` name and therefore ```axis``` can also be assigned to the ```str``` instance ```'rows'```:

In [100]:
xseries.sort_values(ascending=True, axis=0)

3    1.1
2    3.1
0    4.1
Name: x, dtype: float64

In [125]:
xseries.sort_values(ascending=True, axis='rows')

3    1.1
2    3.1
0    4.1
Name: x, dtype: float64

For a ```DataFrame``` there are two values for ```axis```, ```0``` which is the default and ```1```:

In [162]:
df = pd.DataFrame({'x': np.array([5.1, 2.1, 2.1, 4.1]),
                   'y': np.array([6.2, 7.0, 2.1, 1.2])},
                   index=['a', 'b', 'c', 'd'])

In [163]:
df

     x    y
a  5.1  6.2
b  2.1  7.0
c  2.1  2.1
d  4.1  1.2

The default ```axis``` is ```0``` which is equivalent to the ```str``` instance ```'rows'```. This is an instruction to sort the data in the rows ```by``` the ordering of the data in the columns:

In [164]:
df.sort_values(by=['x', 'y'], axis='rows')

     x    y
c  2.1  2.1
b  2.1  7.0
d  4.1  1.2
a  5.1  6.2

Notice that the data is sorted in ascending order by ```'x'``` and in the case where the two values in ```'x'``` have duplicate values are sorted by ```'y'``` :

In [156]:
df

     x    y
a  5.1  6.2
b  2.1  7.0
c  2.1  2.1
d  4.1  1.2

The ```axis``` can be changed to ```1``` which is equivalent to the ```str``` instance ```'columns'```. This is an instruction to sort the data in the columns ```by``` the ordering of the data in the index:

In [159]:
df.sort_values(by=['c', 'd'], axis='columns')

     y    x
a  6.2  5.1
b  7.0  2.1
c  2.1  2.1
d  1.2  4.1

The data is sorted in ascending order first by ```'c'``` but the data in the two ```Series``` instances ```'x'``` and ```'y'``` have the same value 2.1 so there is no instruction to specify the order of the ```Series```. The next index value ```'d'``` is used and the value in the ```Series``` instance ```y``` is 1.2 and the ```Series``` instance ```'x'``` is 4.1, therefore ```'y'``` is ordered before ```'x'```.

In the ```NDArray``` negative indexes are quite commonly used to select an ```axis```. This are not used for the ```Series``` (1D) and ```DataFrame``` (2D) instances which are of fixed dimensions.

## Indexing and Slicing

Supposing the following dictionary instance is instantiated:

In [165]:
mapping = {'x': np.array([1.1, 2.1, 3.1, 4.1]),
           'y': np.array([1.2, 2.2, 3.2, 4.2])}

In [166]:
mapping

{'x': array([1.1, 2.1, 3.1, 4.1]), 'y': array([1.2, 2.2, 3.2, 4.2])}

A ```DataFrame``` instance can be instantiated by assigning the ```mapping``` to the keyword input argument ```data```:

In [167]:
df = pd.DataFrame(data=mapping)

In [168]:
df

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  4.1  4.2

A ```mapping``` can be indexed with a ```key```. This returns the ```value``` the ```key``` references, in this case the ```NDArray```:

In [169]:
mapping['x']

array([1.1, 2.1, 3.1, 4.1])

Analogously, when a ```DataFrame``` is indexed using the ```name``` of a ```Series```, the ```Series``` is returned:

In [170]:
df['x']

0    1.1
1    2.1
2    3.1
3    4.1
Name: x, dtype: float64

A value in the ```NDArray``` instance can be indexed by use of a second set of square brackets to enclose the numeric index:

In [171]:
mapping['x'][1]

2.1

Analogously, a ```value``` in the ```Series``` can be indexed by use of a second set of square brackets to enclose the numeric index:

In [172]:
df['x'][1]

2.1

If the DataFrame instance is examined:

|index|'x'|'y'|
|---|---|---|
|0|1.1|1.2|
|1|2.1|2.2|
|2|3.1|3.2|
|3|4.1|4.2|

The first set of brackets select the Series:

|index|'x'|
|---|---|
|0|1.1|
|1|2.1|
|2|3.1|
|3|4.1|

And the second set of brackets selects the index retrieving the value:

2.1

If the DataFrame is examined:

|index|'x'|'y'|
|---|---|---|
|0|1.1|1.2|
|1|2.1|2.2|
|2|3.1|3.2|
|3|4.1|4.2|

Sometimes the value for each ```Series``` at a value within the ```Index``` instance is desired:

|index|'x'|'y'|
|---|---|---|
|1|2.1|2.2|

This is done by use of the property location ```loc```. Note that ```loc``` returns the above *row* as a ```Series``` which is displayed by default as a *column*:

|index|1|
|---|---|
|'x'|2.1|
|'y'|2.1|

```loc``` is callable and has a docstring:

In [173]:
callable(df.loc)

True

In [174]:
df.loc?

Type:        property
String form: <property object at 0x0000018D9D875670>
Docstring:
Access a group of rows and columns by label(s) or a boolean array.

``.loc[]`` is primarily label based, but may also be used with a
boolean array.

Allowed inputs are:

- A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
  interpreted as a *label* of the index, and **never** as an
  integer position along the index).
- A list or array of labels, e.g. ``['a', 'b', 'c']``.
- A slice object with labels, e.g. ``'a':'f'``.

  .. warning:: Note that contrary to usual python slices, **both** the
      start and the stop are included

- A boolean array of the same length as the axis being sliced,
  e.g. ``[True, False, True]``.
- An alignable boolean Series. The index of the key will be aligned before
  masking.
- An alignable Index. The Index of the returned selection will be the input.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above)

See more at :ref:`Selection by Label <indexing.label>`.

Raises
------
KeyError
    If any items are not found.
IndexingError
    If an indexed key is passed and its index is unalignable to the frame index.

See Also
--------
DataFrame.at : Access a single value for a row/column label pair.
DataFrame.iloc : Access group of rows and columns by integer position(s).
DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
    Series/DataFrame.
Series.loc : Access group of values using labels.

Examples
--------
**Getting values**

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...      index=['cobra', 'viper', 'sidewinder'],
...      columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

>>> df.loc['viper']
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[['viper', 'sidewinder']]
            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

>>> df.loc['cobra', 'shield']
2

Slice with labels for row and single label for column. As mentioned
above, note that both the start and stop of the slice are included.

>>> df.loc['cobra':'viper', 'max_speed']
cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

>>> df.loc[[False, False, True]]
            max_speed  shield
sidewinder          7       8

Alignable boolean Series:

>>> df.loc[pd.Series([False, True, False],
...        index=['viper', 'sidewinder', 'cobra'])]
            max_speed  shield
sidewinder          7       8

Index (same behavior as ``df.reindex``)

>>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
       max_speed  shield
foo
cobra          1       2
viper          4       5

Conditional that returns a boolean Series

>>> df.loc[df['shield'] > 6]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series with column labels specified

>>> df.loc[df['shield'] > 6, ['max_speed']]
            max_speed
sidewinder          7

Multiple conditional using ``&`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
       max_speed  shield
viper          4       5

Multiple conditional using ``|`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
            max_speed  shield
cobra               1       2
sidewinder          7       8

Please ensure that each condition is wrapped in parentheses ``()``.
See the :ref:`user guide<indexing.boolean>`
for more details and explanations of Boolean indexing.

.. note::
    If you find yourself using 3 or more conditionals in ``.loc[]``,
    consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.

    See below for using ``.loc[]`` on MultiIndex DataFrames.

Callable that returns a boolean Series

>>> df.loc[lambda df: df['shield'] == 8]
            max_speed  shield
sidewinder          7       8

**Setting values**

Set value for all items matching the list of labels

>>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
>>> df
            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Set value for an entire row

>>> df.loc['cobra'] = 10
>>> df
            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Set value for an entire column

>>> df.loc[:, 'max_speed'] = 30
>>> df
            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Set value for rows matching callable condition

>>> df.loc[df['shield'] > 35] = 0
>>> df
            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

Add value matching location

>>> df.loc["viper", "shield"] += 5
>>> df
            max_speed  shield
cobra              30      10
viper               0       5
sidewinder          0       0

Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
index labels, not the index positions.

>>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
>>> df.loc[:] += shuffled_df
>>> df
            max_speed  shield
cobra              60      20
viper               0      10
sidewinder          0       0

**Getting values on a DataFrame with an index that has integer labels**

Another example using integers for the index

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...      index=[7, 8, 9], columns=['max_speed', 'shield'])
>>> df
   max_speed  shield
7          1       2
8          4       5
9          7       8

Slice with integer labels for rows. As mentioned above, note that both
the start and stop of the slice are included.

>>> df.loc[7:9]
   max_speed  shield
7          1       2
8          4       5
9          7       8

**Getting values with a MultiIndex**

A number of examples using a DataFrame with a MultiIndex

>>> tuples = [
...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
...    ('viper', 'mark ii'), ('viper', 'mark iii')
... ]
>>> index = pd.MultiIndex.from_tuples(tuples)
>>> values = [[12, 2], [0, 4], [10, 20],
...         [1, 4], [7, 1], [16, 36]]
>>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
>>> df
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Single label. Note this returns a DataFrame with a single index.

>>> df.loc['cobra']
         max_speed  shield
mark i          12       2
mark ii          0       4

Single index tuple. Note this returns a Series.

>>> df.loc[('cobra', 'mark ii')]
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

Single label for row and column. Similar to passing in a tuple, this
returns a Series.

>>> df.loc['cobra', 'mark i']
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

Single tuple. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[[('cobra', 'mark ii')]]
               max_speed  shield
cobra mark ii          0       4

Single tuple for the index with a single label for the column

>>> df.loc[('cobra', 'mark i'), 'shield']
2

Slice from index tuple to single label

>>> df.loc[('cobra', 'mark i'):'viper']
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Slice from index tuple to index tuple

>>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

Please see the :ref:`user guide<advanced.advanced_hierarchical>`
for more details and explanations of advanced indexing.

However unlike most callables it is not called using parenthesis:

In [175]:
df.loc

In [176]:
df.loc()

Instead ```loc``` is a property. Under the hood it uses syntactic sugar around the datamodel method ```__getitem__``` that switches the order of indexing from the default ```[column, index]``` to ```[index, column]```:

In [177]:
df.loc[1]

x    2.1
y    2.2
Name: 1, dtype: float64

In [178]:
df.loc[1]['x']

2.1

```loc``` can also uses index values:

In [179]:
df.loc[[0, 2]]

     x    y
0  1.1  1.2
2  3.1  3.2

The related property integer location ```iloc``` always uses a numeric index. Since ```iloc``` has a numeric index, additional numeric operations can be used such as slicing:

In [180]:
df.iloc[[0, 2]]

     x    y
0  1.1  1.2
2  3.1  3.2

In [181]:
df.iloc[0:2]

     x    y
0  1.1  1.2
1  2.1  2.2

If the following DataFrame instance is created with index labels i.e. a non-numeric index:

|index|'x'|'y'|
|---|---|---|
|'a'|1.1|1.2|
|'b'|2.1|2.2|
|'c'|3.1|3.2|
|'d'|4.1|4.2|

In [223]:
df = pd.DataFrame(index=['a', 'b', 'c', 'd'],
                  data=mapping)

In [224]:
df

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2

The difference between ```loc``` and ```iloc``` can be seen more clearly. For ```loc``` the index label is used:

In [225]:
df.loc['b']

x    2.1
y    2.2
Name: b, dtype: float64

Despite the labels being non-numeric ```iloc``` handles the index values numerically:

In [226]:
df.iloc[1]

x    2.1
y    2.2
Name: b, dtype: float64

Under the hood ```iloc``` essentially uses the ```DataFrame``` instances reset index:

In [227]:
df.reset_index(drop=True)

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  4.1  4.2

In [228]:
df.iloc[1]

x    2.1
y    2.2
Name: b, dtype: float64

When ```loc``` and ```iloc``` are used to select a single index, the data for each ```Series``` at this index is itself displayed as a ```Series```:

In [229]:
df.loc['b']

x    2.1
y    2.2
Name: b, dtype: float64

In [230]:
df.iloc[1]

x    2.1
y    2.2
Name: b, dtype: float64

Because each of the above are a ```Series``` instance, they can in turn be indexed into:

In [231]:
df.loc['b']['y']

2.2

In [232]:
df.iloc[1]['y']

2.2

When ```iloc``` and ```loc``` are instead used to select data from multiple indexes a ```DataFrame``` instance is output:

In [233]:
df.loc[['a', 'b']]

     x    y
a  1.1  1.2
b  2.1  2.2

In [234]:
df.iloc[0:2]

     x    y
a  1.1  1.2
b  2.1  2.2

And because each of these is a ```DataFrame``` instance, the ```Series``` within the ```DataFrame``` instance can then be indexed using the ```Series``` name:

In [235]:
df.loc[['a', 'b']]['x']

a    1.1
b    2.1
Name: x, dtype: float64

In [236]:
df.iloc[0:2]['x']

a    1.1
b    2.1
Name: x, dtype: float64

```at``` is used for a scalar selector and requires both the index and the ```Series``` name:

In [237]:
df.at['a', 'y']

1.2

The related integer at ```iat``` is also a scalar selector and requires both the index and column to be specified as integers:

In [238]:
df.iat[0, 1]

1.2

Conceptualise, the ```DataFrame``` being cast to a ```NDArray``` (2D) and indexing a value from it:

In [239]:
df.to_numpy()

array([[1.1, 1.2],
       [2.1, 2.2],
       [3.1, 3.2],
       [4.1, 4.2]])

In [240]:
df.to_numpy()[0, 1]

1.2

To recap, for a ```DataFrame``` instance:

* ```__getitem__``` selects a ```Series``` by default
* ```loc``` and ```iloc``` change the behaviour to select an observation from the ```Index``` instance label
* ```at``` and ```iat``` select a scalar element

```loc``` can also be used to add a new observation to the ```DataFrame``` instance:

In [241]:
df

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2

In [242]:
df.loc['f'] = {'x': 6.1, 'y': 6.2}

In [243]:
df.loc['e'] = {'x': 5.1, 'y': 5.2}

The ordering of rows (also known as observations) follows the insertion order:

In [244]:
df

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2
f  6.1  6.2
e  5.1  5.2

The ```DataFrame``` method ```sort_index``` can be used to reorder the index:

In [245]:
df.sort_index(inplace=True)

In [246]:
df # modified inplace

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2
e  5.1  5.2
f  6.1  6.2

The ```Index``` instance can also be reset to a numeric index using the ```DataFrame``` instance ```reset_index```:

In [247]:
df.reset_index(drop=True, inplace=True)

In [248]:
df # modified inplace

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  4.1  4.2
4  5.1  5.2
5  6.1  6.2

The length of the ```DataFrame``` gives the number of rows (observations):

In [249]:
len(df)

6

Python uses zero-order indexing and the ```Index``` starts at ```0``` (inclusive) and stops at ```len(df)``` (exclusive).

```iloc``` cannot be used to index into an index value that doesn't exist and cannot be used to add a new observation. However ```loc``` can be used to add a numeric index using the ```len``` of the ```DataFrame``` instance:

In [250]:
df.loc[len(df)] = {'x': 7.1, 'y': 7.2}

In [251]:
df

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  4.1  4.2
4  5.1  5.2
5  6.1  6.2
6  7.1  7.2

## DataFrame Properties

Supposing the following ```DataFrame``` is instantiated to ```df```:

In [252]:
df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                  data={'x': np.array([1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2, 5.2, 6.2, 7.2])})

In [253]:
df

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2
e  5.1  5.2
f  6.1  6.2
g  7.1  7.2

The ```DataFrame``` instance has the following dimension related properties. The attribute ```empty``` returns a boolean that is ```True``` only with an empty DataFrame:

In [254]:
df.empty

False

In [255]:
pd.DataFrame(None).empty

True

A ```DataFrame``` instance has a length, which is returned by the ```builtins``` function ```len```. This was seen previously to correspond to the number of rows (number of observations):

In [256]:
len(df)

7

A ```DataFrame``` instance has the attribute ```shape``` which is a ```tuple``` of dimensions. The 1st dimension is the number of rows (observations in the index) and the 2nd value is the number of ```Series``` (columns):

In [257]:
df.shape

(7, 2)

A ```DataFrame``` instance has the attribute ```ndim``` which gives the number fo dimensions and is always ```2```:

In [258]:
df.ndim

2

Recall this is equivalent to the length of the ```shape``` ```tuple```:

In [259]:
len(df.shape)

2

The ```DataFrame``` instance has a ```size``` attribute which is the product of the elements in the ```shape``` ```tuple```:

In [260]:
df.size

14

The index attribute is an Index instance. An Index instance has a single dimension that can either be depicted as a row or a column. The output below displays this as a row although the index itself is conventionally depicted as a column when incorporated as part of a DataFrame:

In [ ]:
df.index

When no index is specified during instantiation a RangeIndex is shown:

In [ ]:
df2 = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 3.1]),
                         'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df2.index

The attribute columns is also an instance of the class Index that contains the names used for each Series in the DataFrame:

In [ ]:
df.columns

The attribute axes returns a 2 element list, where the first element is the index and the second element is the columns:

In [ ]:
df.axes

The attribute values returns the values in the DataFrame in the form of a 2darray:

In [ ]:
df.values

The attribute dtypes returns the data types of each Series and of the DataFrame:

In [ ]:
df.dtypes

The Series instances x and y are each of the data type float64, the DataFrame instance df is of the data type object. A DataFrame instance is always of the type object.

Each existing Series is accessable as an attribute:

In [ ]:
df.x

In [ ]:
df.y

The formal representation of the DataFrame instance df can be examined in a cell:

In [ ]:
df

The attribute style will instead display the DataFrame instance using default styling:

In [ ]:
df.style

This attribute can be used with a number of methods to apply custom formatting:

In [ ]:
for identifier in dir(df.style):
    if not identifier.startswith('_') and callable(getattr(df.style, identifier)):
        print(identifier, end=' ')

In [ ]:
df_styled = df.style.format(precision=3).set_caption('DataFrame Instance')

This gives a Styler instance:

In [ ]:
type(df_styled)

The Styler instance applies the formatting to the data in the DataFrame when output in a cell:

In [ ]:
df_styled

The associated attributes give information about an existing Styler instance:

In [ ]:
for identifier in dir(df_styled):
    if not identifier.startswith('_') and not callable(getattr(df_styled, identifier)):
        print(identifier, end=' ')

In [ ]:
df_styled.caption

In [ ]:
df_styled.hidden_rows

The attributes attrs is an empty dictionary by default and is designed to store metadata associated with the DataFrame:

In [ ]:
df.attrs

This metadata can include a text description giving information about how the data was collection or contain a link to a scientific publication for example. The pandas documentation warns that this is an experimental feature and is subject to change:

In [ ]:
df.attrs = {'description': 'this DataFrame was instantiated from a dict',
            'scientific paper': r'https://www.sciencedirect.com/'}

flags is another experimental feature and is used to change some flags. At current there is only a flag that can be set, the flag which allows duplicate labels:

In [ ]:
df.flags

In [ ]:
df

This flag is enabled by default:

In [ ]:
df.flags.allows_duplicate_labels

In [ ]:
df_duplicated = pd.concat([df, df])

In [ ]:
df_duplicated

If set to False:

In [ ]:
df.flags.allows_duplicate_labels

Then any operation involving that DataFrame that could lead to a DataFrame with duplicate labels will give a DuplicateLabelError:

In [ ]:
# pd.concat([df, df])

<span style='color:red'>DuplicateLabelError</span>:

info
describe
head
tail

The dataframe method info gives information about the dataframe putting several attributes together such as the Series names, number of non-null values and the data types of each Series:

In [ ]:
df.info()

The describe method gives descriptive statistics on each numeric Series:

In [ ]:
df.describe()

The dataframe method head and tail give the top 5 and last 5 observations by default and are usually used to preview a very large DataFrame instance:

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

The number of observations n can be changed:

In [ ]:
df.head(n=3)

The method nunique gives the number of unique observations for each Series:

In [ ]:
df.nunique()

## Attribute Access - Dictionary Syntax vs Dot Syntax

If the following DataFrame instance is created:

In [ ]:
df = pd.DataFrame(index = np.array(['a', 'b', 'c', 'd']),
                  data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

Each Series can be accessed from the DataFrame instance df by indexing into df using a string of the Series name enclosed in square brackets. This style of Series access is analogous to retrieving a value from a dictionary by use of its key:

In [ ]:
df['x']

Since the following is True:

In [ ]:
'x'.isidentifier()

x becomes an attribute and can also be accessed using:

In [ ]:
df.x

In [ ]:
df.x is df['x']

One major advantage of this attribute access is that code completion often works better:

In [ ]:
# df.x.

In [ ]:
# df['x'].

A Series only becomes an identifier of a DataFrame **after** it is instantiated and if it is a valid identifier:

In [ ]:
df['z1'] = np.array([1.3, 2.3, 2.3, 2.4])

In [ ]:
df

In [ ]:
df.z1

A UserWarning will display if the dot syntax is used in an attempt to create a new attribute:

In [ ]:
# df.z2 = np.array([1.3, 2.3, 2.3, 2.4])

<span style='color:red'>UserWarning</span>: Pandas doesn't allow columns to be created via a new attribute name

The DataFrame instance df will be unchanged:

In [ ]:
df

If an invalid identifier name is used:

In [ ]:
'1'.isidentifier()

In [ ]:
df['1'] = np.array([1.3, 2.3, 2.3, 2.4])

In [ ]:
df

Then the new Series will not be accessible as an attribute and a SyntaxError will be displayed if attribute access is attempted:

In [ ]:
# df.1

<span style='color:red'>SyntaxError</span>: invalid syntax

For this reason Series names should follow the naming conventions of Python identifiers (object names).

Although the dot attribute access from the DataFrame instance df is unavailable for this Series instance '1'. The Series instance '1' can still be accessed by indexing into the DataFrame instance df using the Series name '1':

In [ ]:
df['1']

Accessing a Series via dictionary-style indexing is therefore more powerful and this syntax is generally preferred.

The major drawback of this syntax is with code-completion. Notice if the following is input, no identifiers display:

In [ ]:
# df['x'].

However if the following is input, identifiers display:

In [ ]:
# df.x.

The ? operator cannot find the docstring of the Series method info using dictionary-style indexing:

In [ ]:
? df['x'].info

But can find the docstring using the attribute-style indexing:

In [ ]:
? df.x.info

The method info gives the same result when called from the Series in both cases:

In [ ]:
df['x'].info()

In [ ]:
df.x.info()

When the name used for each index is also a valid identifier:

In [ ]:
'a'.isidentifier()

It will display as an an attribute for each Series:

In [ ]:
df.x.a

Once again the object, in this case the str object has its own identifiers and code completion can access them when the dot access is used:

In [ ]:
# df.x.a.

In [ ]:
# df['x'].a.

But not when square brackets are used:

In [ ]:
# df['x']['a'].

The default index is numeric integer steps which are invalid identifiers:

In [ ]:
'0'.isidentifier()

And therefore when the default index is used:

In [ ]:
df = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

The dot attribute access cannot be used to access the value in the Index:

In [ ]:
# df.x.1

<span style='color:red'>SyntaxError</span>: invalid syntax

But indexing with square brackets works:

In [ ]:
df.x[1]

## Combining DataFrames

DataFrame methods are generally setup for Series. For example if the following DataFrame instance is examined:

In [ ]:
df = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

A Series is typically appended to the end of the DataFrame by use of:

In [ ]:
df['z'] = np.array([1.3, 2.3, 3.3, 4.3])

In [ ]:
df

Alternatively it can be inserted at a specified index using the mutable method insert:

In [ ]:
? df.insert

In [ ]:
df.insert(loc=0, column='w', value=np.array([1.0, 2.0, 3.0, 4.0]))

In [ ]:
df

To add an observation to the end of a DataFrame, loc is typically used with a dictionary where the keys are the column names and the values are the associated values at that observation:

In [ ]:
df.loc[len(df)] = {'w': 5.0, 'x': 5.1, 'y': 5.2, 'z': 5.3}

In [ ]:
df

When multiple observations are to be added to a DataFrame they are normally in the form of a DataFrame:

In [ ]:
df2 = pd.DataFrame(index=np.array([5, 6]),
                                  data = {'w': np.array([6.0, 7.0]),
                                          'x': np.array([6.1, 7.1]),
                                          'y': np.array([6.2, 7.2]),
                                          'z': np.array([6.3, 7.3])})

In [ ]:
df

In [ ]:
df2

If multiple observations are to be added, normally pd.concat is used:

In [ ]:
? pd.concat

For example, df and df2 can be concatenated along axis 0 (the index):

In [ ]:
pd.concat(objs=[df, df2], axis=0) #'index'

If these DataFrame instances are created with the default indexes:

In [ ]:
df.reset_index(drop=True, inplace=True)
df

In [ ]:
df2.reset_index(drop=True, inplace=True)
df2

Notice the index now has duplicate entires:

In [ ]:
pd.concat(objs=[df, df2])

In such a scenario it is common to assign ignore_index to True which will recreate a numeric index:

In [ ]:
pd.concat([df, df2], ignore_index=True)

When two DataFrames are concatenated with Series not in common:

In [ ]:
df = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df2 = pd.DataFrame(data = {'w': np.array([6.0, 7.0]),
                           'z': np.array([6.3, 7.3])})

In [ ]:
df

In [ ]:
df2

They can be outer joined (the default). This will lead to NaN values where no data was supplied:

In [ ]:
pd.concat(objs=[df, df2], axis=1, join='outer') #'columns'

Alternatively they can be inner joined, which will drop the observations that are missing the data:

In [ ]:
pd.concat([df, df2], axis=1, join='inner') #'columns'

The DataFrame method align can be used to align the data of a DataFrame with another DataFrame instance for the purpose of comparison:

In [ ]:
df3 = pd.concat([df, df2], axis=1, join='inner') #'columns'

In [ ]:
df.align(other=df3)

## Not Available Values

If the following DataDrame is instantiated with None Values:

In [ ]:
df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                  data={'x': np.array([1.1, None, 3.1, None, 5.1, None, 7.1]),
                        'y': np.array([1.2, None, 3.2, 4.2, 5.2, 6.2, 7.2])})

The information of the DataFrame instance can be examined, now there are 7 entries (observations). 5 observations have available (non-null) values in Series instance x. 6 observations have available (non-null) values in Series instance y. Also notice the data type is now object instead of float64 meaning everything in each Series is interpretted as a string:

In [ ]:
df.info()

If describe is used, because None values are present and the data type is an object the descriptive statistics change:

In [ ]:
df.describe()

The data type of each Series in the DataFrame can be changed using the method astype:

In [ ]:
df

In [ ]:
df.astype(float)

Notice the difference between the two DataFrame instances, the one which has each Series with the data type object has None whereas the one which has each Series as numeric has NaN (not a number).

In [ ]:
None == np.NaN

NaN is essentially equivalent to None that has a datatype of float. Series that only have numeric data and NaN can therefore have the data type float:

In [ ]:
type(np.NaN)

Series with only numeric data and None therefore contain multiple different data types and therefore the Series has the data type object:

In [ ]:
type(None)

If the method describe is used on the DataFrame instance that has the float data type with NaN values instead of None values, the numeric descriptive statistics display:

In [ ]:
df.astype(float).describe()

The method drop not available dropna can be used to drop these values outputting a new DataFrame instance. Both None and NaN are classified as not available and are also known collectively as null values. Notice the number of observations is now reduced to 4:

In [ ]:
df.dropna()

In [ ]:
df.astype(float).dropna()

If the DataFrame method info is used on this new DataFrame instance, notice the data type of each Series is still object and not float64:

In [ ]:
df.dropna().info()

The astype method can be used to change the data type of each Series in the DataFrame to a float once again outputting a new DataFrame instance. If the info method is examined for this DataFrame instance, each Series now has a float64 data type:

In [ ]:
df.dropna().astype(float).info()

And describe can be used on this instance to give descriptive statistics:

In [ ]:
df.dropna().astype(float).describe()

dropna can be used when a DataFrame instance has a large number of observations and only a small number of these observations have not available values. If the docstring is examined:

In [ ]:
? df.dropna

Notice there is the keyword input argument inplace and axis. These two keywords are present it many of the DataFrame identifiers.

The following identifiers have the keyword inplace which recall toggles the method from being immutable (default when inplace=False) to mutable (when inplace=True). Notice that many of these other identifiers are used to drop not available data or to fill not available data.

In [ ]:
for identifier in dir(df):
    isfunction = callable(getattr(df, identifier))
    isdatamodel = identifier[0] == '_'
    if (isfunction and not isdatamodel):
        if ('inplace' in inspect.signature(getattr(df, identifier)).parameters):
            print(identifier, end=' ')

The following identifiers have the keyword axis:

In [ ]:
for identifier in dir(df):
    isfunction = callable(getattr(df, identifier))
    isdatamodel = identifier[0] == '_'
    if (isfunction and not isdatamodel):
        if ('axis' in inspect.signature(getattr(df, identifier)).parameters):
            print(identifier, end=' ')

The keyword axis can be examined in more detail using the DataFrame instance df:

In [ ]:
df

df has a shape tuple which has 7 observations or rows in the index and 2 Series or columns:

In [ ]:
df.shape

Because a DataFrame is always 2 dimensions, positive indexes can be considered. Notice the 7 is at index 0 and the 2 is at index 1 of the shape tuple:

In [ ]:
nrows = df.shape[0]
nrows

In [ ]:
ncols = df.shape[1]
ncols

The default value is axis 0 or 'index' and drops any observations along the index that have null entries:

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(axis='index')

This can be changed to an axis of 1 or 'columns' that will instead drop any Series that has not available values. In this case all the Series have not available values:

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(axis='columns')

The method fillna can be used to fill in not available values:

In [ ]:
? df.fillna

These can be filled with a constant value:

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(np.inf)

Alternatively a method can be used to linearly forward fill missing data. When using the forward fill, the previous available value is used to replace the not available value:

In [ ]:
df

In [ ]:
df.fillna(method='ffill')

When using the back fill the next available value is used to replace the not available value:

In [ ]:
df

In [ ]:
df.fillna(method='bfill')

These also have synonym methods ffill and bfill:

In [ ]:
df.bfill()

In [ ]:
df.ffill()

The interpolate method can use neighbouring datapoints to interpolate a missing value:

In [ ]:
? df.interpolate

The interpolate method has the keyword input argument method. If method is set to 'linear' numeric interpolation will use the two nearest non-null data points.

If the data type of the Series is object, the data will not be recognised as numeric and a TypeError will display:

In [ ]:
# df.interpolate(method='linear')

<span style='color:red'>TypeError</span>: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

In [ ]:
df.astype(float).interpolate(method='linear')

This is the same as a 1st order polynomial (two nearest data points). If a polynomial method is specified however the index needs to be numeric otherwise there is a ValueError:

In [ ]:
# df.astype(float).interpolate(method='polynomial', order=1)

<span style='color:red'>ValueError</span>: Index column must be numeric or datetime type when using polynomial method other than linear. Try setting a numeric or datetime index column before interpolating.

If reset_index is used to make the index numeric, polynomial interpolation can be used:

In [ ]:
df.reset_index(drop=True).astype(float).interpolate(method='polynomial', order=1) # 2 nearest data points

In [ ]:
df.reset_index(drop=True).astype(float).interpolate(method='polynomial', order=2) # 3 nearest data points

In [ ]:
df.reset_index(drop=True).astype(float).interpolate(method='polynomial', order=3) # 4 nearest data points

The isna DataFrame method returns a boolean DataFrame instance which is True for not available values and False otherwise:

In [ ]:
df.isna()

The opposite method notna returns a boolean DataFrame of inverse values:

In [ ]:
df.notna()

These two methods have the alias isnull and notnull respectively. These alias are used for consistency with the R programming language.

The boolean mask above can be used to index into the DataFrame instance:

In [ ]:
bool_mask = df.notna()

Notice indexing using the boolean mask updates None to NaN:

In [ ]:
df

In [ ]:
df[bool_mask]

## String Series and String Methods

Supposing the following list of words is instantiated:

In [ ]:
words = 'the quick brown for jumped over the lazy dog'.split()

In [ ]:
words

Using len of words will return the number of words and not the length of each word:

In [ ]:
len(words)

To instead get a list of the length of each word i.e. use len on each individual str, list comprehension can be used:

In [ ]:
[len(word) for word in words]

This can also be done using map:

In [ ]:
map(len, words)

In [ ]:
list(map(len, words))

If an analogous DataFrame is instantiated with a Series words:

In [ ]:
df = pd.DataFrame({'words': 'the quick brown for jumped over the lazy dog'.split()})

In [ ]:
df

Using len on the DataFrame will return the number of observations in the index:

In [ ]:
len(df)

The DataFrame method applymap is similar to map and can be used to individually apply the len function element by element throughout the DataFrame:

In [ ]:
df.applymap(func=len)

Since every element in the DataFrame is a str, a str method can be applied to each element using applymap and a lambda expression:

In [ ]:
df.applymap(func=lambda str: str.upper())

A Series has a similar method map:

In [ ]:
df['words'].map(lambda str: str.upper())

Notice the difference in the return values. The method applymap called from the DataFrame returns another DataFrame instance. In contrast the method map when called from a Series returns another Series instance.

The Series instance returned can be assigned to a new Series of the DataFrame:

In [ ]:
df['upperwords'] = df['words'].map(lambda str: str.upper())

In [ ]:
df

The DataFrame instance also has the method apply which can be used to apply a function for example a universal function along an axis, by default it operates along axis 0 which is the 'index':

In [ ]:
df.apply(max)

In [ ]:
df.apply(min)

Since the str methods are commonly invoked, a Series has the attribute str which can be used to invoke the most common string methods:

In [ ]:
df['words'].str.zfill(20)

And includes some additions such as len:

In [ ]:
df['words'].str.len()

## Numeric Series

If a DataFrame with numeric Series x, y and z is instantiated:

In [ ]:
df = pd.DataFrame({'x': [1, 2, 3, 4, 5],
                   'y': [-2, -4, 6, 8, 10],
                   'z': [12, 24, 48, -63, -999]})

In [ ]:
df

The apply method can be used to apply the builtins universal function max along axis 0 'index' (default) or axis 1 'columns':

In [ ]:
df.apply(max) #'index'

In [ ]:
df.apply(max, axis=1) #'columns'

Note however that most the universal functions from builtins or numpy are implemented directly as DataFrame methods:

In [ ]:
df.max(axis=0)

In [ ]:
df.min(axis=0)

In [ ]:
df.mean(axis=0)

In [ ]:
df.var(axis=0)

In [ ]:
df.std(axis=0)

And the data model identifiers are configured for numeric operation:

In [ ]:
df['x'] + df['y']

In [ ]:
df['x'] + 5

The apply function can also be used with a tuple of these universal functions outputting a DataFrame instance opposed to a Series:

In [ ]:
df.apply((len, max, min, np.mean, np.var, np.std))

## Categorical Series

Another common type of Series is a category Series:

In [ ]:
df = pd.DataFrame({'student': ['Lucie', 'Petra', 'Pavel', 'Martin', 'Harry', 'Daniel', 'Valeria', 'Julia'],
                   'grade': ['B', 'F', 'A', 'C', 'A', 'C', 'B', 'A']})

When instantiated, the categories will normally be recognised as strings:

In [ ]:
df

And the data types will therefore be objects:

In [ ]:
df.dtypes

The data type of a Series can be changed using the method astype. To change to category use the input argument 'category':

In [ ]:
oldidentifiers = dir(df['grade'])

In [ ]:
df['grade'].astype('category')

The original Series can be reassigned to the new Series that are now categorical:

In [ ]:
df['grade'] = df['grade'].astype('category')

If the DataFrame instance is examined, it looks the same:

In [ ]:
df

However its data type is updated:

In [ ]:
df.dtypes

A categorical Series also has the attribute cat which groups together methods and attributes commonly used for categorical Series:

In [ ]:
newidentifiers = dir(df['grade'])

In [ ]:
for identifier in newidentifiers:
    if identifier not in oldidentifiers:
        print(identifier, end=' ')

Categories are often used for boolean selectors:

In [ ]:
df[df['grade'] == 'A']

In [ ]:
df[df['grade'] == 'B']

In [ ]:
df[(df['grade'] == 'A') | (df['grade'] == 'B')]

Only the equal to == and not equal to != operators are defined for unordered categoricals. A TypeError displays if one of the other comparision operators is attempted to be used:

In [ ]:
# df[df['grade'] >= 'B']

<span style='color:red'>TypeError</span>: Unordered Categoricals can only compare equality or not

The as_ordered method can be used to ordinally order categories:

In [ ]:
df['grade'].cat.as_ordered()

In this case, the order desired is reverse the ordinal values because 'A' corresponds to a higher grade than 'F':

In [ ]:
df['grade'].cat.reorder_categories(new_categories = ('F', 'C', 'B', 'A'),
                                   ordered=True)

The original Series 'grade' can be reassigned:

In [ ]:
df['grade'] = df['grade'].cat.reorder_categories(new_categories = ('F', 'C', 'B', 'A'),
                                                 ordered=True)

In [ ]:
df[df['grade'] >= 'B']

When sorting out data in DataFrames, ordinal Series are quite often used:

In [ ]:
df.sort_values(['grade'])

In [ ]:
df.sort_values(['grade', 'student'])

A GroupBy instance can be created from the categories:

In [ ]:
df.groupby(df['grade'])

In [ ]:
gbo = df.groupby(df['grade'])

Statistical methods can then be called from this GroupBy instance applying them to every Series in the DataFrame. For example the statistical method count returns a DataFrame which counts the number of students for each grade:

In [ ]:
gbo.count()

A Series can be selected from the GroupBy instance and the statistical method can only be called on this Series:

In [ ]:
gbo['student'].count()

Notice the difference in output, the return value is a Series and not a DataFrame because the method was called from a Series and not a DataFrame.

Some methods like describe will however output a DataFrame:

In [ ]:
gbo['student'].describe()

In [ ]:
gbo.describe()

Notice the slight difference with the multi-index column above being used to give statistical information (count, unique, top and freq) for each Series in the latter case.

In [ ]:
df

The difference can be seen more clearly if a second category is added to the DataFrame:

In [ ]:
df['sex'] = pd.Series(['F', 'F', 'M', 'M', 'M', 'M', 'F', 'F'])

In [ ]:
df['sex'] = df['sex'].astype('category')

In [ ]:
df.groupby('grade')['student'].describe()

In [ ]:
df.groupby('grade').describe()

If the DataFrame instance df is examined:

In [ ]:
df

The Series grade gives the ordinal grade which is normally achieved by an examiniation score. The results of the exam can be added as a numeric Series:

In [ ]:
df['score'] = np.array([35, 20, 99, 55, 75, 58, 68, 90])

In [ ]:
df

The pandas function pd.cut can be used to cut this Series of numeric values into bins which correspond to each grade:

In [ ]:
? pd.cut

For example:

0:50 'F'

50:60 'C'

60:70 'B'

70:100 'A'

Inclusive of the top bound and exclusive of the top bound.

In [ ]:
pd.cut(x=df['score'], bins=[0, 50, 60, 70, 101])

In the output below the ( means inclusive of the boundary and the ] means exclusive of the top boundary. These can be relabelled as the grades using the keyword labels. Notice that there are 5 values for bins and 4 labels, this is because each bin is between two values:

In [ ]:
pd.cut(x=df['score'], bins=[0, 50, 60, 70, 101], labels=['F', 'C', 'B', 'A'])

## DateTime

In pandas dates and time invervals are based upon the data types datetime64 or timedelta64 respectively:

In [ ]:
? np.datetime64

The datetime64 class is normally initialised using a timestamp string of the following format:

np.datetime64('YYYY-MM-DD')
np.datetime64('YYYY-MM-DDThh:mm:ss:μμμμμμ')

For example:

In [ ]:
np.datetime64('2023-07-25')

In [ ]:
np.datetime64('2023-07-25T14:30:15.123456')

The timedelta64 is normally initialised using a set of tuples:

In [ ]:
? np.timedelta64

In [ ]:
np.timedelta64(1, 'D')

In [ ]:
np.timedelta64(1, 'D') + np.timedelta64(1, 'h')

In [ ]:
np.timedelta64(1, 'D') + np.timedelta64(1, 'h') + np.timedelta64(1, 's')

In [ ]:
np.timedelta64(1, 'D') + np.timedelta64(1, 'h') + np.timedelta64(1, 's') + np.timedelta64(1, 'ms')

These can be used to make an Index or Series respectively, normally using the np.arange function:

In [ ]:
starttime = np.datetime64('2023-07-25')
endtime = np.datetime64('2023-07-26')
timeinterval = np.timedelta64(1, 'h')

In [ ]:
times = np.arange(start=starttime, #inclusive
                  stop=endtime, #exclusive
                  step=timeinterval)

In [ ]:
times

These times can be cast into an Index or Series:

In [ ]:
pd.Index(times)

In [ ]:
pd.Series(data=times, name='times')

This datetime64 Index instance can be used as a time index alongside measurement Series for example emulated temperature, ph and humidity data:

In [ ]:
import numpy.random as random
random.seed(0)

In [ ]:
df = pd.DataFrame(index=pd.Index(times),
                  data={'temperature': 25 + random.randn(24),
                        'ph': 7 + random.randn(24) / 10,
                        'humidity': 100 - random.randint(0, 100, 24)})

In [ ]:
df

loc can be used to retrieve the data at a specified datetime64:

In [ ]:
df.loc['2023-07-25T01:00:00']

iloc can also be used with an integer:

In [ ]:
df.iloc[1]

A comparison between two times can be made:

In [ ]:
df.loc['2023-07-25 16:00:00'] - df.loc['2023-07-25T01:00:00']

In addition to the datetime64 Index, the Series instance times can be added:

In [ ]:
df['times'] = times

In [ ]:
df

When loc is used to calculate the difference between two measurements at the two different times, the time difference, i.e. timedelta64 will be calculated:

In [ ]:
df.loc['2023-07-25 16:00:00'] - df.loc['2023-07-25T01:00:00']

datetimes64 are usually specified in UTC. The tz_localize method can be used to specify a timezone using the input argument tz:

In [ ]:
? df.times.tz_localize

For example in the UK:

In [ ]:
df['times'].tz_localize(tz='Europe/London')

And in the Czech Republic:

In [ ]:
df['times'].tz_localize(tz='Europe/Prague')

Care needs to be taken with non-UTC timezones as the clock changes leading to ambiguous times. For example in the UK the clock changes on the 29th of October:

In [ ]:
starttime = np.datetime64('2023-10-28T11:00:00')
endtime = np.datetime64('2023-10-29T03:00:00')
timeinterval = np.timedelta64(30, 'm')

In [ ]:
utc_times = np.arange(start=starttime, #inclusive
                      stop=endtime, #exclusive
                      step=timeinterval)

In [ ]:
pd.Index(utc_times).tz_localize(tz='Europe/London', ambiguous=True)

In [ ]:
pd.Index(utc_times).tz_localize(tz='Europe/London', ambiguous='NaT')

## Reading Data from Files

The Series and DataFrames previously examined were created using builtins datatypes. pandas has a number of functions for reading in data from external files:

In [ ]:
for identifier in dir(pd):
    if identifier.startswith('read_'):
        print(identifier, end=' ')

### Comma Separated Values File

CSV is an abbreviation for comma separated values. The file format has a similar structure to a tuple, where each element is seperated by a comma. In the case of a CSV file, each column is seperated by a comma and the newline character is an instruction to move onto the next row:

string,integer,bool,float,date,time,category\n
the fat black cat,4,TRUE,0.86,24/07/2023,11:36:00,A\n
sat on the mat,4,TRUE,0.86,25/07/2023,12:36:00,A\n
"twinkle, twinkle",2,TRUE,-1.14,26/07/2023,13:36:00,B\n
little star,2,TRUE,-1.14,27/07/2023,14:36:00,B\n
how I wonder,3,FALSE,-0.14,28/07/2023,15:36:00,B\n
what you are,4,TRUE,0.86,29/07/2023,16:36:00,B\n

When opened in a program such as Microsoft Excel, these display as a grid:

<img src='./images/img_001.png' alt='img_001' width='800'/>

Notice that the comma in twinkle, twinkle is not a delimiter but part of the string. For this reason "twinkle, twinkle" was displayed enclosed in quotations.

The CSV has a file name in this case:

Book1.csv

Because it is in the same folder as the interactive Python notebook, the file path can be specified as the following string:

<img src='./images/img_002.png' alt='img_002' width='800'/>

In [ ]:
file_path = r'.\Book1.csv'

In [ ]:
file_path

* r means raw string. In a raw string \ is used to indicate a \ instead of an instruction to insert an escape character.
* ./ means in the same folder as the interactive Python notebook

If the file is moved into a sub folder called files:

<img src='./images/img_003.png' alt='img_003' width='800'/>

Then the file path becomes:

In [ ]:
file_path = r'.\files\Book1.csv'

In [ ]:
file_path

If the file is place up a level from the interactive notebook, the file path becomes:

<img src='./images/img_005.png' alt='img_005' width='800'/>

In [ ]:
file_path = r'..\Book1.csv'

In [ ]:
file_path

And if a subfolder (that is in the folder up a level from the interactive Python notebook file) is made called files:

<img src='./images/img_006.png' alt='img_006' width='800'/>

In [ ]:
file_path = r'..\files\Book1.csv'

In [ ]:
file_path

The function read_csv is used to read in a CSV file as a dataframe:

In [ ]:
? pd.read_csv

The read_csv has a larger number of input arguments however only the first one is mandatory when the file is in the expected format:

In [ ]:
df = pd.read_csv(filepath_or_buffer = 'Book1.csv')

In [ ]:
df

The first input argument is normally used positionally:

In [ ]:
df = pd.read_csv(r'./files/Book1.csv')

In [ ]:
df

Notice the Series names are as expected and a numeric index is added.

In [ ]:
df.axes

## Tab Delimited Text File

A text file is very similar to a csv file and uses \t instead of , as a delimiter:

string\tinteger\tbool\tfloat\tdate\ttime\tcategory\n
the fat black cat\t4\tTRUE\t0.86\t24/07/2023\t11:36:00\tA\n
sat on the mat\t4\tTRUE\t0.86\t25/07/2023\t12:36:00\tA\n
"twinkle, twinkle"\t2\tTRUE\t-1.14\t26/07/2023\t13:36:00\tB\n
little star\t2\tTRUE\t-1.14\t27/07/2023\t14:36:00\tB\n
how I wonder\t3\tFALSE\t-0.14\t28/07/2023\t15:36:00\tB\n
what you are\t4\tTRUE\t0.86\t29/07/2023\t16:36:00\tB\n

The same function read_csv is used to read in text data.The function by default looks for a , as a delimiter to move onto the next column and as it is not present, the data is all shown in a single column:

In [ ]:
df = pd.read_csv(r'./files/Book2.txt')

In [ ]:
df

If the delimiter is specified as '\t' the data will be read in properly:

In [ ]:
df = pd.read_csv(r'./files/Book2.txt', delimiter='\t')

In [ ]:
df

## Microsoft Excel File

A Microsoft Excel File is a collection of sheets, where each individual sheet is similar to a csv file. The Excel file can also be modified in Microsoft Excel to visually format the data:

<img src='./images/img_007.png' alt='img_007' width='800'/>

This formatting capability makes the raw Excel File less human readible than the more basic csv file:

PK     ! ï‡¾ˆ     [Content_Types].xml ¢(                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ¬TÍN1¾›ø›^
[ð`Œañ€zTñJ;°
Ý¶éoïlQb²!îe›Ýv¾Ÿ™î7¾ß6®Ø@B|%FåPàu0Ö/+ñ>{ÜŠIy£\ðP‰ ¸Ÿ\^Œg»XpµÇJÔDñNJÔ54
ËÁóÎ"¤F¿¦¥ŒJ¯Ôäõpx#uðžÔbˆÉøjí¨xÜòç½’¹õ¢˜îÏµT•P1:«±P¹ñæÉ ,Vƒ	zÝ0t‰12XPãÊ˜,3¦7 bc(äQÎÏ#ýrUre†µxÅÖÿ`hwþvõU÷ÂãHÖ@ñª=«†½Ë­“!­æ!¬ÊÓ ç¶&·¨l”õßºOðçÃ(ó2êYHë/wè ¾c óóÿ2L!ÒÎöÝöÚÅ\«æøö.{ð»«åjÎÔ.}=ƒvðkåô´æ+Úó¸§ø9R^SˆÈ©•à|ßÑV"A"‡8ö³9òþíÚL5`ŽpËœá“O   ÿÿ PK     ! µU0#ô   L   _rels/.rels ¢(                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ¬’MOÃ0†ïHü‡È÷ÕÝBKwAH»!T~€IÜµ£$Ý¿'TƒG½~üÊÛÝ<êÈ!öâ4¬‹;#¶w­†—úqu*&r–Fq¬áÄvÕõÕö™GJy(v½*«¸¨¡KÉß#FÓñD±Ï.W	¥†=™ZÆMYÞbø®ÕBSí­†°·7 ê“Ï›×–¦é
?ˆ9LìÒ™ÈsbgÙ®|Èl!õùUSh9i°bžr:"y_dlÀóD›¿ý|-NœÈR"4ø2ÏGÇ% õZ´4ñËyÄ7	Ã«ÈðÉ‚‹¨Þ  ÿÿ PK     ! fc’K”  ï     xl/workbook.xml¬Umo£8þ~ÒþÄw
æ-5]‘ »•ÚU•fÛ;)Rå€S¬ælÓ$ªö¿ïBÚnN§\÷¢ÄŽ=Ããgfž1çŸ·U©=.(«'::³tÔËiý8Ñ¿/Rc¬kBâ:Ç%«ÉDß¡¾øôÇù†ñ§cO Ôb¢R6¡iŠ¬ g¬!5XÖŒWXÂ’?š¢áç¢ DV¥i[–oV˜ÖzòS0ØzM3³¬­H-{NJ,¾(h#´*;®Âü©mŒŒU
@¬hIå®Õµ*/kÆñª„°·ÈÓ¶¾>üƒ=œ¦££*šq&ØZž´Ù“>ŠY&BïR°=ÎÁiH®ÉÉ3U5<°âþYù,ÿY¿†@ZVBHÞÑ¼7[¿8_Ó’ÜõÒÕpÓ|Ã•ªT©k%2É©$ùDÁ’mÈ»
Þ6Ó––`µ}äXºyqó
×r²Æm) ä:Ã÷ÛSž Œ¨”„×X’«%èp×ïj®Ãž®ÍÉß-åô±Âˆ³¯Ä
–…Öòr¢ÏÂåwá/›m–COˆå*¿¶+Ø•«šI¢úÜT‹‡’®8æ»¥ÊžX¾Q1>n™ÿ cœ©ä˜>‚þÿ¯™‚@x8hõFr
þ_ÆWP¯[üÕäûæ¾„ò ç¡Îxˆ^Ævâ¸‘32\+N
y¶ÙþÈ‚$M?E£™÷‚á~˜1ÜÊb/=Ñ]PÁ‘éo²Â–æ¯4^¬ýÇPó/Ã`û¡V©½£d#^%¤–ÚöžÖ9Û@£ ‚Ú–êƒMg¼§¹,ÀÃuíÃÞWB`<F¾ên+bý%NÒ™ŠÑˆâOüÈÆŽkØÉY±’ÑtÖ2ß0êîZ`ÖÍZÝõÇ­º\êjîr¬k<TgðËu5Ëp™A?¨©sêv <ÈV^	ÙÍ E
ôkE#+p
+q<Ã¶1vÛ˜¹±x£$N¦]yÔ»"ü?nÌ®#Âá%¤X˜ËÇÙ¼ºæd=ÅôÔ|ß’zã©å E7EJKeL§¾kxqêx#Ï ÅJK=Yþúƒ÷ÕØìž&X¶ÐËª»u¨Æt¿{Ø\÷û:½k½p«¼ïŸþ7Ç[ˆ¾$':§w':Î¾]/®Oô½J÷é©ÎÑõ4ŽN÷æóè¯Eòçp„ù	5»‚«±“©9Èäâ'   ÿÿ PK     ! ’”ì  ?   xl/_rels/workbook.xml.rels ¢(                                                                                                                                                                                                                                                                  ¬’ËjÄ0E÷…þƒÑ¾q2}P†qfÑR˜m›~€p”8Lb[}äïkR:ÉÀn²1HÂ÷‰»Ûw­ø$gdI
‚¬veckïÅËÍ#ˆÀhKl%Øç×W»Wj‘ã§`š>ˆ¨bƒÃÜo¥ÚP‡!q=Ù8©œïcékÙ£>bMr“¦ÒÏ5 ?Ó‡R?”· Š¡Îÿk»ªj4=;ýÑ‘å2ðÐÆD¾&Vð['‘äeûÍšöÏB“ûXÊñÍ–²5¾œ?CÄÇ©ä8Y„¹_Fc«Ÿ6v‚9µ–.r·j(z*ßØÇÌÏ³1oÿÁÈ³Øç?   ÿÿ PK     ! îõº  G     xl/worksheets/sheet1.xmlœ“ÙŽ›0†ï+õ,ß³/2J&M;7UÕérí¬`LmgkÕwï1!™‘"UÑH€×óÿØ?Ó‡£hÑž)ÍeWâÀõ1b•ï6%þþmådiCºŠ´²c%>1fïßMRmuÃ˜A@èt‰cúÂó4m˜ Ú•=ë`¥–JCµñt¯©† Ñz¡ï§ž ¼ÃgB¡îaÈºæ”-%Ý	Ö™3D±–Ð¯ÞëMÐ{p‚¨í®w¨= Ö¼åæ4@1´xÚtR‘uuƒ˜PtTð„ðF—4ÃüM&Á©’ZÖÆ²wÖ|[~îå¡WÒmýwa‚ØSlÏí¾ Â·I
’++|Eo„¥W˜=.UìxUâ?ó,Ÿ?.“N°ò3'^D'_."'H£I²LÓ,[øñlZq¸a[R¬.ñ<(>N°7›þùÁÙA¿ê#CÖÏ¬eÔ0È`ô[JñL‰½º S_ÇŸ­!ÛqÖšx-åÖâž Ð‡¼zÀØ¼„¾g¬…í«  ú× ÅöAˆwUòºQµŒÿE¡ŠÕd×š¯òð‰ñMc uì&p ÖQEuZ2MÁÊÜË¥²|‘àöŸ+’ãÐxeš!>N¢ Èši³â–‰Ýi#ÅÏqÏH:3`çÀH1º027Ló‘òŸÈÉ	í™»Iæi6èm 7¨ÿ  ÿÿ   ÿÿœ–Ûnƒ0@å} PÒZ.ßÁ(¨{é&¨ºíï—` ‰./­ê§vLÜ_›æžU÷*»/«K#VÿYÝzñíx Ö7óªúxùÉš¾nn÷„P›û$kÉ¾J8!±D ¿>R;4vê‘8!Í„kç%ÁM"[Ì3‘|‰ ¢XI‚®Sj÷êÏ—q„žÙ‘ûŒ#	'ÄÓ²†Èlð‡nû<Å¤¿·5Ã™ÚÝ¦'÷…ÛRN+ÿj‡~¤¯]9‡½.\ÙgœÙÞ!b,l`>ÀÔöBn,D—@ûÚcë2ù32%lÊ¤H&ë2§Ø¶Lµ»*öZuÍ…X]Ó&$ãÇLrÿ.š€¤'þœjÈ¬T£6( >Ùõ]ŸêÑ%Ð;ìŠºÛßÎ6í] À.nä)¶mWí6ì‚QG–ìåk<9:PrÈ¡<¢&. >{kyüˆP”@ë™z,£ç³_¤„M‘	ÄºÈ)¶-Ríþ¿HÈ¡Dâv‡ø$2 z¿»‘:‡IP½G¤˜ûEJØÉpÃ&Q1œ§˜2‰vgj÷¦Iº(ITù9$Q*‘œâ³JìÂ{ÜÉãg÷p–pB"}8ãéÇ™è=<zæàvjû·ôý=„Æ$ã‘-¦Cm# ~©ÌjèêEO¸8"Õ[	njG½øü  ÿÿ   ÿÿLŽÁ
‚PEå1YDêªM‹ ðFuÈÞ<Æ± ¯ïˆíæ\÷N°£jÇ~tµ–Ãvs§ÜõËm~é\%fò\¨'lHgÚƒkEl¤ÈæÞ’l
.` -ùC9œÀ‰2yCcñ9QSd÷"5®q¸Ž}qÿÌMzmRˆe†Õ@wT]-“¥ð—®ön¶“Uð}Œ=‘_   ÿÿ PK     ! Á¾N  Æ      xl/theme/theme1.xmlìYÍ‹7¿ú?swü5ã%ÞàÏl“Ý$d”µ¶ìQV32’¼%9õR(¤¥—Bo=”Ò@
½ô	$´éÑ'ÍØ#­å$›lJZv
‹Gþ½§§÷ž~zótñÒ½˜zG˜Â’–_¾Pò=œŒØ˜$Ó–k8(4|OH”Œe	nù,üKÛŸ~rmÉÇØùDl¡–I9Û*Å†‘¸Àf8ß&ŒÇHÂ#ŸÇƒÞ˜+¥R­#’ø^‚bP{}2!#ì
•J{©¼Oá1‘B
Œ(ßWª±%¡±ãÃ²Bˆ…èRî!Úòaž1;â{Ò÷(~hù%ýç·/ÑV&DåYCn ÿ2¹L`|XÑsòéÁjÒ ƒZ{¥_¨\ÇõëýZ¿¶Ò§h4‚•¦¶Ø:ë•na
PúÕ¡»WïUËÞÐ_]³¹ª…× T°†ºàE¯A)>\Ã‡f§gë× _[Ã×Kí^P·ôkPDIr¸†.…µjw¹ÚdÂèŽÞƒA½’)ÏQ
«ìRSLX"7åZŒî2> €R$IâÉÅOÐ²¸‹(9àÄÛ%Óo†&`¸T)
JUø¯>þ¦#Š¶02¤•]`‰XRöxbÄÉL¶ü+ Õ7 /ž={þðéó‡¿=ôèùÃ_²¹µ*Kn%SSîÕ_ÿýýÞ_¿þðêñ7éÔ'ñÂÄ¿üùË—¿ÿñ:õ°âÜ/¾}òòé“ß}õçOÚÛ˜ð!‰±ð®ácï&‹aûñ?Ä0BÄ’@èv¨îËÈ^[ êÂu°íÂÛXÆ¼<¿kÙºñ¹$Ž™¯F±ÜcŒvw:àªšËððpžLÝ“ó¹‰»‰Ð‘kî.J¬ ÷ç3 WâRÙ°eæ
Š‰¦8ÁÒS¿±CŒ«»Cˆå×=2âL°‰ôî¯ƒˆÓ%Cr`%R.´CbˆËÂe „ÚòÍÞm¯Ã¨kÕ=|d#a[ ê0~ˆ©åÆËh.QìR9D15¾‹dä2rÁG&®/$DzŠ)óúc,„Kæ:‡õA¿
ãû]Ä6’KrèÒ¹‹3‘=vØP<sÚL’ÈÄ~&!E‘wƒI|Ù;D=CP²1Ü·	¶Âýf"¸äjš”'ˆúeÎ±¼Œ™½t‚°‹eÚ<¶ØµÍ‰3;:ó©•Ú»StŒÆ{·>sXÐa3Ëç¹ÑW"`•ìJ¬+ÈÎUõœ`e’ªkÖ)r—+e÷ñ”m°goq‚x(‰ß¤ùDÝJ]8åœTzŽMà5åä‹Ó)×è0’»¿IëYg—zî|]p+~o³Ç`_Þ=í¾|j ö·öÍQk‚<a†
Ý‚ˆþ\D«Zlî”›Ø›6FV½“äÅÏ‰²'üwÊws[ñû”:›(eçD³	÷,kzhžÜÀp’¬sÖyUs^ÕøÿûªfÓ^>¯eÎk™óZÆõöõAj™¼|Ê&ïòèžO¼±å3!”îËÅ»Bw}¼ÑŒ0¨ÛQº'¹jÎ"øš5˜,Ü”#-ãq&?'2ÚÐZCeÝÀœŠLõTx3& c¤‡u+ŸÐ­ûNóxÓNg¹¬ºš©’ùx)\C—J¦èZ=ïÞ­Ôë~èTwY—(ÙÓaLfQuQ_B^g„^Ù™XÑtXÑPê—¡ZFqå
0mxåöàE½å‡AÚA†f”çc§´™¼Œ®
Î™Fz“3©™Pb/3 tSÙºqyjuiª½E¤-#Œt³0Ò0‚á,;Í–ûYÆº™‡Ô2O¹b¹r3êkE"'¸&&SÐÄ;nùµj·*#4kùèÃ×x¹#Ô[¢S¸vIžnøwa–²‡D”:\“NÊ1‘˜{”Ä-_-•
4Ñ¢m+W€>Zãš@+›qt;Èx2Á#i†ÝQžNáS®pþªÅß¬$ÙÂ½½:ç7¤XX/+Ž‰€‹ƒrêÍ1›°‘åùwâ`Êh×¼ŠÒ9”Ž#:‹Pv¢˜džÂ5‰®ÌÑO+OÙšÁ¡ë.<˜ªö½OÝ7ÕÊsiæg¦Å*êÔt“é‡;ä
«òCÔ²*¥nýN-r®k.¹ÕyJ¼áÔ}‹Á0-ŸÌ2MY¼NÃŠ³³QÛ´3,OÔ6ømuF8=ñ®'?ÈÌZu@,ëJøúÊÜ¼Õfw<zp8§RèPBo—#(úÒÈ”6`‹Ü“Yß¼9'-ÿ~)lÝJØ-”a¿TƒR¡¶«…vVËý°\êu*à`‘Q\Óëú\aÐEvi¯Ç×.îãå-Í…‹‹L_Ìµáúâ¾\Ù|qï ûµÊ Ymvj…fµ=(½N£ÐìÖ:…^­[ï
zÝ°Ñ<ð½#
ÚÕnPë7
µr·[j%e~£Y¨•J;¨·ý ý +c`å)}d¾ ÷j»¶ÿ  ÿÿ PK     ! ^®lœ    
   xl/styles.xmlìYmoâ8þ~Òý‡(ßi^JX@„ÕRŠ´ÒÞê¤v¥ûj¬ú9¦{ºÿ¾c;³t—@KUtÛ4™ØÏØã™ñàýŠQïË’žúÑUè{˜g"'|–ú_î'­®ï•
ñQÁqê¯qé¿þùÇ TkŠïæ+ x™ús¥ý (³9f¨¼ÌáK!$C
^å,(£¼Ô
â0ìî[„>Ëš€0$–‹V&Ø)2%”¨µÁò=–õ?Î¸hJê*j£Ì[E{+Yb¤{ã0’IQŠB]n Š‚dxŸn/è(Û"òiHQ„ñÎÜWòD¤v ñ#Ñæó‡ƒBpUz™Xr•ú1Õ*è?pñ•Oô'°pÕj8(¿yˆ‚$òƒá THOé@sFÂÃ¶Å
¢d*‰nV FèÚŠc-0Ö®Ú1º×Â@ó°l†ƒ©nuö±Ì%ŒI(u4`Ã,…%ŸÀW¯z¾_/`ªVµ¥Ÿ¶žI´ŽâÄé˜a–Bæ°‹jÝG!èÙÊ†ŠJd6×ÿ•XÀïT(Km8È	š	Ž¨Ö[ÝÃí	ÛvZê«9ì”ÚP„çx…óÔï´
=D5B£ö†‹¡Ò¨9P®7jo'wxnµV.‰ó±ö°¿D5oVé‹ÚüÌëùmþa›_â¦¹<×tÆ§mÞŸ©Ü;œR¦ôN»õŠí‘Î}Ux|É&L}×¡˜>GëG8ŸªG{:Ø}j¸hÛ…mŸ„ë­ŠÍ Ç²Š ð¨z{h± ë‘9«¸b-jžäÜç%›b91¥=4HMiòÙƒ4°–Èê¥ÚõIhZO­$°Ã.7/6Q®ÃôgØÉ±;/€­§ð”NÞ½¨½ ‘zÉ]±wŽ]ñìA¬ãÞ/õbœ¸3ÇgîxÌïót¾’úŸµW ätI¨"ü	o	˜ùÊñ¿:5›·›é„&ÓQ’<T™Žd‚p^º"¼R˜çN'±T”p·I9G¹øê4YÚç:\\} dÆ­xŠJ¬ƒ³gQödñê”äËÂœBõëÒH#¨f¥ŸmvóZ1›#ÆVæ§íÓ¨¾Bø®MN2“Î…$ßÀóî¦ƒÎTmxàD	1x@[c¹9l€ù¼ÏX¿,õ‚9§^ÞRÊö,Fà€\æyÀX°†¿ß*tJ¯´Ý.uYýÞj&Æ‡ó:nùÿ°NÞbuìW[í‰h*‰ÍKa›zèþ¢ÚµåÆ£Š,M¡uaµf8'KvL
ö@ý*ìOÔaô¨+±?ÌW+â_¥oJL!bTCÄžã-©ºß|Lýíó_F	ÊV­þ&BˆÔß>Òµî¨£OPˆ‰?•Pœ†ÿÞR’Ôÿ÷vô®7¾Ä­n8ê¶Ú×8iõ’Ñ¸•´oFãñ¤ÆáÍÎ}Í3nkÌõÔU¢v¿¤p§#«ÉVäï¶²Ôw^,}SYÚ.÷^Ü	?$QØš\‡Q«ÝAÝV·s´&I;íÑm2IîÉ‰·:aEö~H“OúŠ0“ìÒ¿w¥`$xýÅ$‚ÚÁöînø  ÿÿ PK     ! äÐÐºÿ        xl/sharedStrings.xmld‘ÁJÄ0†ï‚ï0ä¬›*(º´YT¼ëdÛi6™Y“©µoozæ–|ÿŸÉGR~ƒ‡ŒÉ15ênW)@j¹s44êëóýöIAKõLØ¨“:˜ë«:%|–R£F‘ó^ëÔŽlÚñ)'=Ç`%oã Ó9¢íÒˆ(ÁëûªzÔÁ:RÐòD’ï}V0‘ûžðmÊÔÉ™ZL²L #BžWk1µ¾$k*q‹­#³ßÖ:+¸emfÇeË_¶@fG'7°.Š<ÛöYüèm{‚<v[ðNÄãåiÿ‘gø€™©Ã"›Ç<tá	l,ä_	ŠRïù¿ŒÎßhþ   ÿÿ PK     ! A¿ø`Ù   Ê  #   xl/worksheets/_rels/sheet1.xml.rels¬‘ÁNÃ0@ïHüCä;I»Bhé.iWà¥nÑ:Qlû{‚v¡Ó$.œ,Ûòó“½Ý}-³ù¤"1±‡Ö6`ˆCê#ÞÏw`D‘{œ“‡	ìºÛ›íÍ¨uH¦˜ÅT
‹‡I5?:'a¢Å¦L\;C*jMËè2†wÉmšæÞ•ßèVL³ï=”}¿s8åºùov†è)……X¯¬pŠÇ™*ËHêÁÚsEÎ¡µUÜuö?=r‰¬T^IµZVF=w‘·öùGÒ­>Ð}  ÿÿ PK     ! Ø Ç÷[    '   xl/printerSettings/printerSettings1.binìXmO\E>ç™Ù¹³Ë.ì–.”—e+Ðb¡`iE¥-ëBZimk­oMˆ‹†Ä€Ñö³¤‰_Œ1ÆMüþ?ù#Lü&Æà3÷.,UCW$„„žÉdçõœgÎœsæÜ]“Û2.U™—{R–š\ÖIi•Ô.âW9W0¿©¨¤åIÛ´¯³É}@@6–½ªL·Ì±õ…Ê¥AÂöïßwÖVÖ7Ö9ømwc†ÃÚ”ùÓöfiûM¡&+².¬e¹.«ü]•/dM>fÿ–|&äË¸U“ré_Á[‘Èæ;6µ®jŒE
®®ÊvÎæ)3ÚÝñ&­mC;²è@ÎH&ÌÂ Þ†éÀ(Œh˜ù¨ÕT†<#D&âB_¦ä¶l”b]³ð"†Õ²¦Ê®•%3lPéØæ”:»Ù9oç$F}Ùø²}JwDêä“m‹:åïJC:‰BºêêË0RpmÅøŠ¬Ö©¦ 8pÒÈ€g7YíÐœÉ£S»´ Eœ@7N¢dzÐ‹SèC?0ˆ2†PÁi¼€aŒ`gpcxQÏé¸NèyÔ)}I/è´^ÔKú2fô¼Š×0‹Ë¸‚«˜CU_GMçýæ®á:±„7ð&nÐB6«ÝV.èÝf,ÁÙ¹¬é09Ík§éBEm CŒÎöÙ~;`ÑiEOkžÑ³:¦D‡ñúDý|}O¡ÓÄèÌ¬^Ö+zUç´nœ
àÞÂ2nâÞÆm_¹ƒ»x÷ð.îã=¼ï·ô|ˆð b‹kÞˆÆ¶¥íë7œ Ñ¯;áºÝIWŠz¢^=¥}Ú¯:hê;GÐâ°G´8ªEáõû!øNI5.<\¶Ðú@£ôyëó‰EšºI™Xw*>1rår.rÞ¥]Æµ¹v—uÁÐyÙèr#4orÊRõ¾'±~gè˜¼m24°p#›&)<‘Nï
Ö·sÖ¬$ªà‚j€\o—R‚ïÖf¤Ì@5gÙN³LÓ;ž´‰Ì²?Æú;Ýøsö§¾Þ{¶úà1ÜOR*…R¹Æ9vé
¡"»˜¾Ýj[VWöG‘€|Z[¢¯D–7ÖWeêâÄR­ÖºÄƒÝ%µ
yŸz9ÐmÉ½1¨o4GÃDQ“›²,×d‰ÙÂ[wÙªòUl•þïþÅƒt¤ÍÍÍÜ?Ó[1s‰èÅŒ­Ñ<Ó…O˜B<¢K?d¢p‡ý‡,kL$>eêð,Ú‘|8×Ì Z*15kg„Âãø°±à?¶Bù%Á“ŠÀ(“&1¥Ù½»¾÷ŠÃ9ÛQ’f*±i]Ï€u°À÷¡ñìwÉeød"<lÿÂ»¶›Šá…KÒïƒT;y¶ø´“:v'mzD°…Ý5¨"Xâ¶é%ß—a”K\C{;ñzn"GI©$ã«Šáµ6S÷¬æÂ”ëˆŽ6> º¥µrì/9ù—åðÕÐÕÍÔiŸT¶Xš¤ü${N‡­¿   ÿÿ PK     !  *J¹ã  '     xl/tables/table1.xmlœ”]£6†ï+í@Ü{ð¢$+ŒM5RÛ‹ýøâLÐŽŒ³›¨êï!™e‚f*µ½ƒcû9ç¼ï±×Ï}}·~lÝ°‰ÉŽ#;4n×Ï›øë—åq43ìLç»‰/vŒ?n?ü²æ©³œÆM|á¸J’±9ØÞŒîhXÙ;ß› ¿þ9ÞšÝx°6ô]B1Î’Þ´C|#¬úæß@zã¿Ž¨qýÑ„ö©íÚp¹²â¨oVÏƒóSU›øì£³g?ágÿÞ·w£Û‡€%n¿oû¦FÂo¿·“4¯(ö?YÙÌ‚ºÚh
L¿:MŸTh&•DœTâ"¨ÐC&…$%cò¯8LÍ}™z„Ó»v<væòÇ"èí~—dõ«ˆ£à‚éÆOîÇçƒûî‚·0Áz©óþ2ß‡¤ó°ö²PÀñ)Ï"H`û]¬äñvmNÁÕm¬î«øM&ÛÛhU®;õÃ5î4„M, Áµ [üUAö"aŽ¡˜J„e‘"ÎT‰J]iD5'˜šâLÌŽÁƒ~&˜—nE¼L{ÅÓÉ Ÿx]iÓÕ˜+Ä©¨¬*Ž””¬Ê±ÆDÑßaÏÞÃOã9ãËª$¹&ÉLÃ ÈZ£œ‚04¢…JY­ñŒr®[ðÓ÷øüž/E)°Lªy!×F’ VJU†+ÉêšÌü}çÌ²ê7¦kN	vw³ †Û
ÿ[I{ |üÓ†urgÜ[Óû:•ÊŠ”èUT€Ì\+TRp‘³¢â²$Tl®´Ø{:d÷ü´*æ‚¡*èœ)TÔ sMy™g¬¨SžÎüÐöK>}íÕG¡×¥"ˆš"®ªåJÀÂô<+ò\W3¿úŸ¿,z SŽ{ÅÆÉ>‡Kg‡½»®Áßí®=õ0®#Üóºõc¸9t½ÞSì7ó&4½
Á·G¯7¼%Ó®Û¡9Š_Ùþ
  ÿÿ PK     ! @]à+§   þ      xl/calcChain.xml\ÎA
Â0Ð½àÂìmjÕ*Ò´ÅèB:6dR’ z{#h…næ}øü¦{:Ë¢ñ$`]”À”ï

n×Ëê ,&I½´žPÀ#tírÑ(iÕIKC,7P SœG¥ÑÉXø)'wœLù
c@ÙG˜œåUYÖÜåhÅ‚€ó˜É€ÙÏå?Þ~y‚Ýê9ìçPýOËÛ7   ÿÿ PK     ! ºqWC  Y   docProps/core.xml ¢(                                                                                                                                                                                                                                                                  Œ’ÍNÃ0„ïH¼Cä{b'©h±’TÔ•*ÄÏÍ²·mDìX¶!íÛã$m*ŽÞ™ývvålyuðÆVÊQ€â¨Ô.GÏå*\ À:¦«9:‚EËâú*ãšòÆÀÆ4Œ«Àž¤,å:G{ç4ÅØò=Hf#ïP^Ü6F2çŸf‡5ãl8!äKpL0ÇpõHD'¤à#RšºŽ¡	ÊYG1þñ:0ÒþÙÐ+§¬ÜQûNq§lÁqtl5Û¶Ú´áóÇøuýøÔ¯Vª»Td‚Sn€¹Æ›·JgxRèŽW3ëÖþÎÛ
ÄÝñä¹¬{N{€|:Ä>+/éýC¹BEB’4$ó0™•1¡)¡Éí{7öWl(ÈÓðÿçe<£	¡d1!žE†/>Cñ
  ÿÿ PK     ! ˜¸ˆ     docProps/app.xml ¢(                                                                                                                                                                                                                                                                  œ’AoÛ0…ïö=6rº¡YÅnèaÃ$íÎœLÇBeIY#Ù¯Ÿl/©³í´ùøðô‰’º;t®è1‘
¾ËE)
ô&ÔÖï+ñ¸û|ýAÄàkpÁc%ŽHâN¿}£6)DLl‘Šá©-s\II¦Åh‘Ç>Oš:àÜ¦½Mc
ÞóÒ¡gyS–·Œ¾Æú:žÅ”¸êùCë`>zÚcÖêcŒÎà|KýÕš(4\|:tJÎ‡*ÓmÑ¼$ËG]*9oÕÖ€ÃuÖ
8B%_õ€0,m6‘V=¯z4RAög^Û(~ á€S‰’Ïk°MÍX»Hœô÷ž©EdR2&q,çÞymßëåhÈÅ¥q˜@òàqgÙ!}k6øÄË9ñÈ0ñN8Ûo:sÎ7^9ŸôGö:tüQ_ý.®”<Iê‹õÏôwáO{½Õ¶…„u~ŠóÞÏ‚zÈ+MnY·à÷XŸ<†_ð4}u½¼]”ïÊüÀ3MÉ×O­  ÿÿ PK-      ! ï‡¾ˆ                     [Content_Types].xmlPK-      ! µU0#ô   L               Á  _rels/.relsPK-      ! fc’K”  ï               æ  xl/workbook.xmlPK-      ! ’”ì  ?               §
  xl/_rels/workbook.xml.relsPK-      ! îõº  G               ë  xl/worksheets/sheet1.xmlPK-      ! Á¾N  Æ                Û  xl/theme/theme1.xmlPK-      ! ^®lœ    
             Z  xl/styles.xmlPK-      ! äÐÐºÿ                  !  xl/sharedStrings.xmlPK-      ! A¿ø`Ù   Ê  #             R  xl/worksheets/_rels/sheet1.xml.relsPK-      ! Ø Ç÷[    '             l   xl/printerSettings/printerSettings1.binPK-      !  *J¹ã  '               %  xl/tables/table1.xmlPK-      ! @]à+§   þ                !(  xl/calcChain.xmlPK-      ! ºqWC  Y               ö(  docProps/core.xmlPK-      ! ˜¸ˆ                 p+  docProps/app.xmlPK      ¦  6.

This formatting is not important and only the data is read in by Python. The related function read_excel is used to read in the data from an Excel File. The delimiter is predefined in an Excel File however the Excel File can have multiple sheets so the keyword input argument sheet_name has to be specified:

In [ ]:
? pd.read_excel

In [ ]:
df = pd.read_excel(r'./files/Book3.xlsx', sheet_name='Sheet1')

In [ ]:
df

The sheet name is also ordinal:

In [ ]:
df = pd.read_excel(r'./files/Book3.xlsx', sheet_name=0)

In [ ]:
df

There is normally more success in an Excel File for parsing dates:

In [ ]:
df = pd.read_excel(r'./files/Book3.xlsx', sheet_name='Sheet1', parse_dates=True)

In [ ]:
df

The date column is parsed as a date but the time column isn't:

In [ ]:
df.dtypes

Sometimes the date and time have to be cast into strings and manipulated:

In [ ]:
df['date'].astype('str')

In [ ]:
df['date'].astype('str').str[:10]

In [ ]:
df['time'].astype('str')

Once they are both strings they can be concatenated:

In [ ]:
df['date'].astype('str').str[:10] + ' T' + df['time'].astype('str')

In [ ]:
df['datetime'] = (df['date'].astype('str').str[:10] + ' T' + df['time'].astype('str')).astype('datetime64[ns]')

In [ ]:
df

The old series can be deleted:

In [ ]:
del df['date']
del df['time']

In [ ]:
df

The categorical Series can be made categorical:

In [ ]:
df['category'].astype('category')

In [ ]:
df['category'] = df['category'].astype('category')

Then to reorder the columns, indexing is quite commonly used:

In [ ]:
df

In [ ]:
df[['string', 'integer', 'boolean', 'floatingpoint', 'datetime', 'category']]

The instance name df can be reassigned to this output:

In [ ]:
df = df[['string', 'integer', 'boolean', 'floatingpoint', 'datetime', 'category']]

## Writing DataFrames to Objects and Files

The pandas library contains a number of functions for reading in files to DataFrames. The DataFrame class has analogous to methods for writing to files:

In [ ]:
for identifier in dir(df):
    if identifier.startswith('to_'):
        print(identifier, end=' ')

## Python Dictionary

A DataFrame can be written to a dictionary using:

In [ ]:
df.to_dict()

This is the same form that can be used to instantiate a DataFrame:

In [ ]:
pd.DataFrame(data=df.to_dict())

## JSON

JavaScript Object Notation (JSON) as the name suggests originates from JavaScript but now has become a commonly used standard data stream that is similar to a Python dictionary. It is common to retrieve data from a website stored in a JSON table and convert it to a DataFrame:

In [ ]:
df.to_json()

In [ ]:
pd.read_json(df.to_json())

## Markdown

A DataFrame can be written to markdown using:

In [ ]:
df.to_markdown()

If this is printed:

In [ ]:
print(df.to_markdown())

And the cell output copied to a markdown cell:

|    | string            |   integer | boolean   |   floatingpoint | datetime            | category   |
|---:|:------------------|----------:|:----------|----------------:|:--------------------|:-----------|
|  0 | the fat black cat |         4 | True      |            0.86 | 2023-07-24 11:36:00 | A          |
|  1 | sat on the mat    |         4 | True      |            0.86 | 2023-07-25 12:36:00 | A          |
|  2 | twinkle, twinkle  |         2 | True      |           -1.14 | 2023-07-26 13:36:00 | B          |
|  3 | little star       |         2 | True      |           -1.14 | 2023-07-27 14:36:00 | B          |
|  4 | how I wonder      |         3 | False     |           -0.14 | 2023-07-28 15:36:00 | B          |
|  5 | what you are      |         4 | True      |            0.86 | 2023-07-29 16:36:00 | B          |

There is no analogous read_markdown.

## CSV and Text Files

The DataFrame can be written to_csv:

In [ ]:
df.to_csv(r'./files/Book4.csv')

This has the raw form:

,string,integer,boolean,floatingpoint,datetime,category\n
0,the fat black cat,4,True,0.8599999999999999,2023-07-24 11:36:00,A\n
1,sat on the mat,4,True,0.8599999999999999,2023-07-25 12:36:00,A\n
2,"twinkle, twinkle",2,True,-1.1400000000000001,2023-07-26 13:36:00,B\n
3,little star,2,True,-1.1400000000000001,2023-07-27 14:36:00,B\n
4,how I wonder,3,False,-0.14000000000000012,2023-07-28 15:36:00,B\n
5,what you are,4,True,0.8599999999999999,2023-07-29 16:36:00,B\n

Notice that an index was added, meaning if this is read into a DataFrame instance using the defaults there is an Unnamed Series corresponing to the index read in:

In [ ]:
pd.read_csv(r'./files/Book4.csv')

This can be assigned to the Index using the keyword input argument index_col:

In [ ]:
pd.read_csv(r'./files/Book4.csv', index_col=0)

Alternatively the DataFrame can be exported without the Index:

In [ ]:
? df.to_csv

In [ ]:
df.to_csv(r'./files/Book5.csv', index=False)

string,integer,boolean,floatingpoint,datetime,category\n
the fat black cat,4,True,0.8599999999999999,2023-07-24 11:36:00,A\n
sat on the mat,4,True,0.8599999999999999,2023-07-25 12:36:00,A\n
"twinkle, twinkle",2,True,-1.1400000000000001,2023-07-26 13:36:00,B\n
little star,2,True,-1.1400000000000001,2023-07-27 14:36:00,B\n
how I wonder,3,False,-0.14000000000000012,2023-07-28 15:36:00,B\n
what you are,4,True,0.8599999999999999,2023-07-29 16:36:00,B\n

To save to a text file, the seperator needs to be specified:

In [ ]:
df.to_csv(r'./files/Book6.txt', sep='\t', index=False)

string\tinteger\tboolean\tfloatingpoint\tdatetime\tcategory\n
the fat black cat\t4\tTrue\t0.8599999999999999\t2023-07-24 11:36:00\tA\n
sat on the mat\t4\tTrue\t0.8599999999999999\t2023-07-25 12:36:00\tA\n
twinkle, twinkle\t2\tTrue\t-1.1400000000000001\t2023-07-26 13:36:00\tB\n
little star\t2\tTrue\t-1.1400000000000001\t2023-07-27 14:36:00\tB\n
how I wonder\t3\tFalse\t-0.14000000000000012\t2023-07-28 15:36:00\tB\n
what you are\t4\tTrue\t0.8599999999999999\t2023-07-29 16:36:00\tB\n

## Excel File

Supposing there are three DataFrame instances:

In [ ]:
df

In [ ]:
df2 = df[['string', 'integer', 'boolean']]

In [ ]:
df2

In [ ]:
df3 = df[['string', 'datetime', 'category']]

In [ ]:
df3

The method to_excel allows the writing of multiple DataFrame instances to individual sheets within an Excel File:

In [ ]:
? df.to_excel

To write DataFrame instances to multiple sheets an ExcelWriter instance has to be instantiated and given the instruction to create a blank Excel File:

In [ ]:
writer = pd.ExcelWriter(path=r'./files/Book7.xlsx')

The to_excel DataFrame method can then be used to instruct the ExcelWriter instance to write the DataFrame instance to a specified sheet:

In [ ]:
df.to_excel(excel_writer=writer, sheet_name='df')
df2.to_excel(excel_writer=writer, sheet_name='df2')
df3.to_excel(excel_writer=writer, sheet_name='df3')

Details about the sheets can be seen using the writers sheets attribute:

In [ ]:
writer.sheets

Finally the ExcelWriter instance can be closed. This will release the Excel SpreadSheet from Python:

In [ ]:
writer.close()

<img src='./images/img_008.png' alt='img_008' width='800'/>

<img src='./images/img_009.png' alt='img_009' width='800'/>

<img src='./images/img_010.png' alt='img_010' width='800'/>

The identifiers of the ExcelWriter class can be examined. Notice it has the data model identifiers \_\_enter\_\_ and \_\_exit\_\_ which means it can be used within a with code block. The with code block will automaitcally close the ExcelWriter class when the block ends and is the preferred way to write multiple objects to a file:

In [ ]:
for identifier in dir(writer):
    print(identifier, end=' ')

In [ ]:
with pd.ExcelWriter('./files/Book8.xlsx') as writer:  
    df.to_excel(writer, sheet_name='df1', index=False)
    df2.to_excel(writer, sheet_name='df2', index=False)
    df3.to_excel(writer, sheet_name='df3', index=False)

<img src='./images/img_011.png' alt='img_011' width='800'/>

<img src='./images/img_012.png' alt='img_012' width='800'/>

<img src='./images/img_013.png' alt='img_013' width='800'/>