# Pandas Library

pandas is an abbreviation for the **P**ython **an**d **D**ata **A**naly**s**is Library. It is a library that uses three main data structures:

* the Index class
* the Series class
* the DataFrame class

Most Index classes are numeric, that is zero-order integer steps of one.

The Index, similar to a tuple, list or 1darray has a single dimension which can be represented either as a row:

|index|0|1|2|3|
|---|---|---|---|---|

Or as a column when convenient:

|index|
|---|
|0|
|1|
|2|
|3|

The Series class has a value at each index and a name. It is essentially a numpy 1darray that has a name. A Series is normally represented as a column (notice the Index associated with the Series is also displayed as a column):

|index|'x'|
|---|---|
|0|1.1|
|1|2.1|
|2|3.1|
|3|4.1|

A DataFrame class is essentially a grouping of series instances that have the same index:

|index|'x'|'y'|
|---|---|---|
|0|1.1|1.2|
|1|2.1|2.2|
|2|3.1|3.2|
|3|4.1|4.2|

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [1]:
from categorize_identifiers import dir2, variables, view

The following will be imported in order to simplify the output of ```dir2```:

In [2]:
import operator
reverse_operators = ['radd', 'rmod', 'rmul', 'rpow', 'rsub', 'rtruediv']

## Importing Libraries

To use the data science libraries they need to be imported:

In [3]:
import numpy as np 
import pandas as pd

Once imported the identifiers can be viewed:

In [8]:
dir2(pd, exclude_external_modules=True, drop_internal=True)

{'attribute': ['annotations', 'options'],
 'constant': ['IndexSlice', 'NA', 'NaT'],
 'module': ['api',
            'arrays',
            'compat',
            'core',
            'errors',
            'io',
            'offsets',
            'pandas',
            'plotting',
            'testing',
            'tseries',
            'util'],
 'method': ['array',
            'bdate_range',
            'concat',
            'crosstab',
            'cut',
            'date_range',
            'describe_option',
            'eval',
            'factorize',
            'from_dummies',
            'get_dummies',
            'get_option',
            'infer_freq',
            'interval_range',
            'isna',
            'isnull',
            'json_normalize',
            'lreshape',
            'melt',
            'merge',
            'merge_asof',
            'merge_ordered',
            'notna',
            'notnull',
            'period_range',
            'pivot',
            'pivot_table',
            'qcut',
            'read_clipboard',
            'read_csv',
            'read_excel',
            'read_feather',
            'read_fwf',
            'read_gbq',
            'read_hdf',
            'read_html',
            'read_json',
            'read_orc',
            'read_parquet',
            'read_pickle',
            'read_sas',
            'read_spss',
            'read_sql',
            'read_sql_query',
            'read_sql_table',
            'read_stata',
            'read_table',
            'read_xml',
            'reset_option',
            'set_eng_float_format',
            'set_option',
            'show_versions',
            'test',
            'timedelta_range',
            'to_datetime',
            'to_numeric',
            'to_pickle',
            'to_timedelta',
            'unique',
            'value_counts',
            'wide_to_long'],
 'lower_class': ['option_context'],
 'upper_class': ['ArrowDtype',
                 'BooleanDtype',
                 'Categorical',
                 'CategoricalDtype',
                 'CategoricalIndex',
                 'DataFrame',
                 'DateOffset',
                 'DatetimeIndex',
                 'DatetimeTZDtype',
                 'ExcelFile',
                 'ExcelWriter',
                 'Flags',
                 'Float32Dtype',
                 'Float64Dtype',
                 'Grouper',
                 'HDFStore',
                 'Index',
                 'Int16Dtype',
                 'Int32Dtype',
                 'Int64Dtype',
                 'Int8Dtype',
                 'Interval',
                 'IntervalDtype',
                 'IntervalIndex',
                 'MultiIndex',
                 'NamedAgg',
                 'Period',
                 'PeriodDtype',
                 'PeriodIndex',
                 'RangeIndex',
                 'Series',
                 'SparseDtype',
                 'StringDtype',
                 'Timedelta',
                 'TimedeltaIndex',
                 'Timestamp',
                 'UInt16Dtype',
                 'UInt32Dtype',
                 'UInt64Dtype',
                 'UInt8Dtype'],
 'datamodel_attribute': ['__all__',
                         '__builtins__',
                         '__cached__',
                         '__doc__',
                         '__docformat__',
                         '__file__',
                         '__git_version__',
                         '__loader__',
                         '__name__',
                         '__package__',
                         '__path__',
                         '__spec__',
                         '__version__']}

In general ```pd``` uses object orientated programming (OOP) opposed to functional programming. Most of the functions within ```pd``` are used to read in data from a file and output a ```pd.DataFrame``` instance.

The classes are all in PascalCase. The main classes are:

* pd.Index
* pd.Series
* pd.DataFrame
 
The OOP approach means methods are normally called from instances to analyse or manipulate data from the instance. The identifiers for the main three classes can be examined. The relationship between the identifiers in the three classes above will first be examined before later examining the classes in detail.

The ```pd.Series``` can be conceptualised as a ```np.ndarray``` with a ```name``` and therefore has consistent attributes, methods and numerical datamodel methods:

In [9]:
dir2(pd.Series, np.ndarray, consistent_only=True, exclude_external_modules=True, drop_internal=True)

{'attribute': ['dtype', 'flags', 'nbytes', 'ndim', 'shape', 'size'],
 'constant': ['T'],
 'method': ['all',
            'any',
            'argmax',
            'argmin',
            'argsort',
            'astype',
            'clip',
            'copy',
            'cumprod',
            'cumsum',
            'dot',
            'item',
            'max',
            'mean',
            'min',
            'prod',
            'ravel',
            'repeat',
            'round',
            'searchsorted',
            'squeeze',
            'std',
            'sum',
            'swapaxes',
            'take',
            'tolist',
            'transpose',
            'var',
            'view'],
 'datamodel_attribute': ['__array_priority__', '__doc__', '__hash__'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__and__',
                      '__array__',
                      '__array_ufunc__',
                      '__bool__',
                      '__class__',
                      '__contains__',
                      '__copy__',
                      '__deepcopy__',
                      '__delattr__',
                      '__delitem__',
                      '__dir__',
                      '__divmod__',
                      '__eq__',
                      '__float__',
                      '__floordiv__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__iadd__',
                      '__iand__',
                      '__ifloordiv__',
                      '__imod__',
                      '__imul__',
                      '__init__',
                      '__init_subclass__',
                      '__int__',
                      '__invert__',
                      '__ior__',
                      '__ipow__',
                      '__isub__',
                      '__iter__',
                      '__itruediv__',
                      '__ixor__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__matmul__',
                      '__mod__',
                      '__mul__',
                      '__ne__',
                      '__neg__',
                      '__new__',
                      '__or__',
                      '__pos__',
                      '__pow__',
                      '__radd__',
                      '__rand__',
                      '__rdivmod__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rfloordiv__',
                      '__rmatmul__',
                      '__rmod__',
                      '__rmul__',
                      '__ror__',
                      '__rpow__',
                      '__rsub__',
                      '__rtruediv__',
                      '__rxor__',
                      '__setattr__',
                      '__setitem__',
                      '__setstate__',
                      '__sizeof__',
                      '__str__',
                      '__sub__',
                      '__subclasshook__',
                      '__truediv__',
                      '__xor__']}

A number of the ```__builtins__``` functions are also available as ```pd.Series``` methods:

In [16]:
dir2(pd.Series, __builtins__, consistent_only=True)

{'method': ['abs',
            'all',
            'any',
            'bool',
            'divmod',
            'filter',
            'map',
            'max',
            'min',
            'pow',
            'round',
            'sum'],
 'lower_class': ['list', 'str'],
 'datamodel_attribute': ['__doc__']}

Many of the datamodel operators defined for numeric operation are also available as a method:

In [18]:
dir2(pd.Series, operator, consistent_only=True)

{'attribute': ['index'],
 'method': ['abs',
            'add',
            'eq',
            'floordiv',
            'ge',
            'gt',
            'le',
            'lt',
            'mod',
            'mul',
            'ne',
            'pow',
            'sub',
            'truediv'],
 'datamodel_attribute': ['__doc__'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__and__',
                      '__contains__',
                      '__delitem__',
                      '__eq__',
                      '__floordiv__',
                      '__ge__',
                      '__getitem__',
                      '__gt__',
                      '__iadd__',
                      '__iand__',
                      '__ifloordiv__',
                      '__imod__',
                      '__imul__',
                      '__invert__',
                      '__ior__',
                      '__ipow__',
                      '__isub__',
                      '__itruediv__',
                      '__ixor__',
                      '__le__',
                      '__lt__',
                      '__matmul__',
                      '__mod__',
                      '__mul__',
                      '__ne__',
                      '__neg__',
                      '__or__',
                      '__pos__',
                      '__pow__',
                      '__setitem__',
                      '__sub__',
                      '__truediv__',
                      '__xor__']}

The ```pd.Series``` has additional attributes such as:

* ```array``` which returns the underlying ```np.ndarray``` (1darray) instance. 
* ```name``` which is a ```str``` instance corresponding to the series name.
* ```index``` which returns the ```pd.Index``` instance.
* ```at```, ```iat```, ```loc``` and ```iloc``` are used for additional indexing purposes.
* ```attrs``` is used to store optional metadata.
* ```hasnans```, ```empty``` and ```is_unique``` are ```bool``` instances that are ```True``` if the series has values that aren't available, is empty or consists on only unique values respectively ```is_monotonic_decreasing``` and ```is_monotonic_decreasing``` are also ```bool``` instances that are ```True``` if the series is reverse ordered or ordered.

The ```pd.Series``` has additional methods. Many of these are statistical methods and have a similar name to functions found in the statistics module. There are also a large number of ```to``` methods which convert the ```pd.Series``` to another datatype or file format.

There are also lowercase classes:

* ```cat``` which groups together categorical identifiers
* ```dt``` which groups together datetime (datetime.datetime or datetime.timedelta) identifiers
* ```list``` which groups together list identifiers
* ```str``` which groups together str identifiers

The lowercase classes are appropriate when the ```pd.Series``` datatype matches one of the class types above.

In [19]:
dir2(pd.Series, [np.ndarray, operator], unique_only=True, 
     exclude_external_modules=True, exclude_identifier_list=reverse_operators, drop_internal=True)

{'attribute': ['array',
               'at',
               'attrs',
               'axes',
               'dtypes',
               'empty',
               'hasnans',
               'iat',
               'iloc',
               'is_monotonic_decreasing',
               'is_monotonic_increasing',
               'is_unique',
               'loc',
               'name',
               'values'],
 'method': ['add_prefix',
            'add_suffix',
            'agg',
            'aggregate',
            'align',
            'apply',
            'asfreq',
            'asof',
            'at_time',
            'autocorr',
            'backfill',
            'between',
            'between_time',
            'bfill',
            'bool',
            'case_when',
            'combine',
            'combine_first',
            'compare',
            'convert_dtypes',
            'corr',
            'count',
            'cov',
            'cummax',
            'cummin',
            'describe',
            'diff',
            'div',
            'divide',
            'divmod',
            'drop',
            'drop_duplicates',
            'droplevel',
            'dropna',
            'duplicated',
            'equals',
            'ewm',
            'expanding',
            'explode',
            'factorize',
            'ffill',
            'fillna',
            'filter',
            'first',
            'first_valid_index',
            'get',
            'groupby',
            'head',
            'hist',
            'idxmax',
            'idxmin',
            'infer_objects',
            'info',
            'interpolate',
            'isin',
            'isna',
            'isnull',
            'items',
            'keys',
            'kurt',
            'kurtosis',
            'last',
            'last_valid_index',
            'map',
            'mask',
            'median',
            'memory_usage',
            'mode',
            'multiply',
            'nlargest',
            'notna',
            'notnull',
            'nsmallest',
            'nunique',
            'pad',
            'pct_change',
            'pipe',
            'pop',
            'product',
            'quantile',
            'rank',
            'rdiv',
            'rdivmod',
            'reindex',
            'reindex_like',
            'rename',
            'rename_axis',
            'reorder_levels',
            'replace',
            'resample',
            'reset_index',
            'rfloordiv',
            'rolling',
            'sample',
            'sem',
            'set_axis',
            'set_flags',
            'shift',
            'skew',
            'sort_index',
            'sort_values',
            'subtract',
            'swaplevel',
            'tail',
            'to_clipboard',
            'to_csv',
            'to_dict',
            'to_excel',
            'to_frame',
            'to_hdf',
            'to_json',
            'to_latex',
            'to_list',
            'to_markdown',
            'to_numpy',
            'to_period',
            'to_pickle',
            'to_sql',
            'to_string',
            'to_timestamp',
            'to_xarray',
            'transform',
            'truncate',
            'tz_convert',
            'tz_localize',
            'unique',
            'unstack',
            'update',
            'value_counts',
            'where',
            'xs'],
 'lower_class': ['cat', 'dt', 'list', 'plot', 'sparse', 'str', 'struct'],
 'datamodel_attribute': ['__annotations__',
                         '__dict__',
                         '__module__',
                         '__pandas_priority__',
                         '__weakref__'],
 'datamodel_method': ['__column_consortium_standard__',
                      '__finalize__',
                      '__getattr__',
                      '__nonzero__',
                      '__round__']}

A ```pd.DataFrame``` is essentially a grouping of ```pd.Series``` instances and therefore has many identifiers in common.

The attributes ```dtypes``` and ```values``` are used as plural equivalents to ```dtype``` and ```array``` seen in the ```pd.Series```. ```dtypes``` reflects the fact each ```pd.Series``` in the ```pd.DataFrame``` instance can have a different datatype. However when each ```pd.Series``` are numeric then ```pd.values``` is the 2d ```ndarray``` instance. Most of the statistical methods will only also work when each ```pd.Series``` in the ```pd.DataFrame``` instance are numeric. It is more common to use statistical functions on a ```pd.Series```.

In [21]:
dir2(pd.DataFrame, pd.Series, consistent_only=True, drop_internal=True)

{'attribute': ['at',
               'attrs',
               'axes',
               'dtypes',
               'empty',
               'flags',
               'iat',
               'iloc',
               'index',
               'loc',
               'ndim',
               'shape',
               'size',
               'values'],
 'constant': ['T'],
 'method': ['abs',
            'add',
            'add_prefix',
            'add_suffix',
            'agg',
            'aggregate',
            'align',
            'all',
            'any',
            'apply',
            'asfreq',
            'asof',
            'astype',
            'at_time',
            'backfill',
            'between_time',
            'bfill',
            'bool',
            'clip',
            'combine',
            'combine_first',
            'compare',
            'convert_dtypes',
            'copy',
            'corr',
            'count',
            'cov',
            'cummax',
            'cummin',
            'cumprod',
            'cumsum',
            'describe',
            'diff',
            'div',
            'divide',
            'dot',
            'drop',
            'drop_duplicates',
            'droplevel',
            'dropna',
            'duplicated',
            'eq',
            'equals',
            'ewm',
            'expanding',
            'explode',
            'ffill',
            'fillna',
            'filter',
            'first',
            'first_valid_index',
            'floordiv',
            'ge',
            'get',
            'groupby',
            'gt',
            'head',
            'hist',
            'idxmax',
            'idxmin',
            'infer_objects',
            'info',
            'interpolate',
            'isin',
            'isna',
            'isnull',
            'items',
            'keys',
            'kurt',
            'kurtosis',
            'last',
            'last_valid_index',
            'le',
            'lt',
            'map',
            'mask',
            'max',
            'mean',
            'median',
            'memory_usage',
            'min',
            'mod',
            'mode',
            'mul',
            'multiply',
            'ne',
            'nlargest',
            'notna',
            'notnull',
            'nsmallest',
            'nunique',
            'pad',
            'pct_change',
            'pipe',
            'pop',
            'pow',
            'prod',
            'product',
            'quantile',
            'radd',
            'rank',
            'rdiv',
            'reindex',
            'reindex_like',
            'rename',
            'rename_axis',
            'reorder_levels',
            'replace',
            'resample',
            'reset_index',
            'rfloordiv',
            'rmod',
            'rmul',
            'rolling',
            'round',
            'rpow',
            'rsub',
            'rtruediv',
            'sample',
            'sem',
            'set_axis',
            'set_flags',
            'shift',
            'skew',
            'sort_index',
            'sort_values',
            'squeeze',
            'std',
            'sub',
            'subtract',
            'sum',
            'swapaxes',
            'swaplevel',
            'tail',
            'take',
            'to_clipboard',
            'to_csv',
            'to_dict',
            'to_excel',
            'to_hdf',
            'to_json',
            'to_latex',
            'to_markdown',
            'to_numpy',
            'to_period',
            'to_pickle',
            'to_sql',
            'to_string',
            'to_timestamp',
            'to_xarray',
            'transform',
            'transpose',
            'truediv',
            'truncate',
            'tz_convert',
            'tz_localize',
            'unstack',
            'update',
            'value_counts',
            'var',
            'where',
            'xs'],
 'lower_class': ['plot', 'sparse'],
 'datamodel_attribute': ['__annotations__',
                         '__array_priority__',
                         '__dict__',
                         '__doc__',
                         '__hash__',
                         '__module__',
                         '__pandas_priority__',
                         '__weakref__'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__and__',
                      '__array__',
                      '__array_ufunc__',
                      '__bool__',
                      '__class__',
                      '__contains__',
                      '__copy__',
                      '__deepcopy__',
                      '__delattr__',
                      '__delitem__',
                      '__dir__',
                      '__divmod__',
                      '__eq__',
                      '__finalize__',
                      '__floordiv__',
                      '__format__',
                      '__ge__',
                      '__getattr__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__iadd__',
                      '__iand__',
                      '__ifloordiv__',
                      '__imod__',
                      '__imul__',
                      '__init__',
                      '__init_subclass__',
                      '__invert__',
                      '__ior__',
                      '__ipow__',
                      '__isub__',
                      '__iter__',
                      '__itruediv__',
                      '__ixor__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__matmul__',
                      '__mod__',
                      '__mul__',
                      '__ne__',
                      '__neg__',
                      '__new__',
                      '__nonzero__',
                      '__or__',
                      '__pos__',
                      '__pow__',
                      '__radd__',
                      '__rand__',
                      '__rdivmod__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rfloordiv__',
                      '__rmatmul__',
                      '__rmod__',
                      '__rmul__',
                      '__ror__',
                      '__round__',
                      '__rpow__',
                      '__rsub__',
                      '__rtruediv__',
                      '__rxor__',
                      '__setattr__',
                      '__setitem__',
                      '__setstate__',
                      '__sizeof__',
                      '__str__',
                      '__sub__',
                      '__subclasshook__',
                      '__truediv__',
                      '__xor__']}

The ```pd.DataFrame``` class only has a small number of additional identifiers such as the attributes ```columns``` which is a ```list``` of ```str``` instances with each ```str``` corresponding to the appropriate ```pd.Series.name``` available in the ```pd.DataFrame```. The ```pd.DataFrame``` instance is mutable and the ```insert``` method can be used to insert another ```pd.Series``` instance. ```join``` and ```merge``` are used to join and merge ```pd.DataFrame``` instances.

The ```style``` attribute is an additional attribute which can be used to control the style of the ```pd.DataFrame``` instance when displayed in a cell output.

In [22]:
dir2(pd.DataFrame, pd.Series, unique_only=True, drop_internal=True)

{'attribute': ['columns', 'style'],
 'method': ['applymap',
            'assign',
            'boxplot',
            'corrwith',
            'eval',
            'from_dict',
            'from_records',
            'insert',
            'isetitem',
            'iterrows',
            'itertuples',
            'join',
            'melt',
            'merge',
            'pivot',
            'pivot_table',
            'query',
            'select_dtypes',
            'set_index',
            'stack',
            'to_feather',
            'to_gbq',
            'to_html',
            'to_orc',
            'to_parquet',
            'to_records',
            'to_stata',
            'to_xml'],
 'datamodel_method': ['__arrow_c_stream__',
                      '__dataframe__',
                      '__dataframe_consortium_standard__']}

The identifiers in a ```pd.Series``` instance are singular identifiers typically only used across a ```pd.Series``` instance. These include the lowercase classes used to work a specific datatype across a ```pd.Series```:

In [23]:
dir2(pd.Series, pd.DataFrame, unique_only=True, drop_internal=True)

{'attribute': ['array',
               'dtype',
               'hasnans',
               'is_monotonic_decreasing',
               'is_monotonic_increasing',
               'is_unique',
               'name',
               'nbytes'],
 'method': ['argmax',
            'argmin',
            'argsort',
            'autocorr',
            'between',
            'case_when',
            'divmod',
            'factorize',
            'item',
            'ravel',
            'rdivmod',
            'repeat',
            'searchsorted',
            'to_frame',
            'to_list',
            'tolist',
            'unique',
            'view'],
 'lower_class': ['cat', 'dt', 'list', 'str', 'struct'],
 'datamodel_method': ['__column_consortium_standard__', '__float__', '__int__']}

Each ```pd.Series``` is associated with a ```pd.Index``` and every ```pd.Series``` in a ```pd.DataFrame``` uses the same ```pd.Index```. Many identifiers for the ```pd.Index``` can be seen to be consistent with a ```pd.Series``` as it is also based on an ```np.ndarray```:

In [24]:
dir2(pd.Index, pd.Series, consistent_only=True, exclude_external_modules=True, drop_internal=True)

{'attribute': ['array',
               'dtype',
               'empty',
               'hasnans',
               'is_monotonic_decreasing',
               'is_monotonic_increasing',
               'is_unique',
               'name',
               'nbytes',
               'ndim',
               'shape',
               'size',
               'values'],
 'constant': ['T'],
 'method': ['all',
            'any',
            'argmax',
            'argmin',
            'argsort',
            'asof',
            'astype',
            'copy',
            'diff',
            'drop',
            'drop_duplicates',
            'droplevel',
            'dropna',
            'duplicated',
            'equals',
            'factorize',
            'fillna',
            'groupby',
            'infer_objects',
            'isin',
            'isna',
            'isnull',
            'item',
            'map',
            'max',
            'memory_usage',
            'min',
            'notna',
            'notnull',
            'nunique',
            'ravel',
            'reindex',
            'rename',
            'repeat',
            'round',
            'searchsorted',
            'shift',
            'sort_values',
            'take',
            'to_frame',
            'to_list',
            'to_numpy',
            'tolist',
            'transpose',
            'unique',
            'value_counts',
            'view',
            'where'],
 'lower_class': ['str'],
 'datamodel_attribute': ['__annotations__',
                         '__array_priority__',
                         '__dict__',
                         '__doc__',
                         '__hash__',
                         '__module__',
                         '__pandas_priority__',
                         '__weakref__'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__and__',
                      '__array__',
                      '__array_ufunc__',
                      '__bool__',
                      '__class__',
                      '__contains__',
                      '__copy__',
                      '__deepcopy__',
                      '__delattr__',
                      '__dir__',
                      '__divmod__',
                      '__eq__',
                      '__floordiv__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__iadd__',
                      '__init__',
                      '__init_subclass__',
                      '__invert__',
                      '__iter__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__mod__',
                      '__mul__',
                      '__ne__',
                      '__neg__',
                      '__new__',
                      '__nonzero__',
                      '__or__',
                      '__pos__',
                      '__pow__',
                      '__radd__',
                      '__rand__',
                      '__rdivmod__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rfloordiv__',
                      '__rmod__',
                      '__rmul__',
                      '__ror__',
                      '__rpow__',
                      '__rsub__',
                      '__rtruediv__',
                      '__rxor__',
                      '__setattr__',
                      '__setitem__',
                      '__sizeof__',
                      '__str__',
                      '__sub__',
                      '__subclasshook__',
                      '__truediv__',
                      '__xor__']}

the ```pd.Index``` class only has a small number of identifiers not found in a ```pd.Series``` instance. The ```pd.Index``` is typically numeric but each value in the ```Series``` can be assigned a ```name``` and the attribute ```names``` retrieves these. Typically each ```name``` should be unique for the purpose of indexing and the attribute ```has_duplicates``` is used to check for duplicate values and the ```pd.Series``` or ```pd.DataFrame``` method ```reset_index``` can be used in this case to return a unique index of numeric values. More complicated indexes can be multilevel and the ```nlevels``` attribute gives details about the amount of levels in the index:

In [25]:
dir2(pd.Index, pd.Series, unique_only=True, exclude_external_modules=True, drop_internal=True)

{'attribute': ['has_duplicates', 'inferred_type', 'names', 'nlevels'],
 'method': ['append',
            'asof_locs',
            'delete',
            'difference',
            'format',
            'get_indexer',
            'get_indexer_for',
            'get_indexer_non_unique',
            'get_level_values',
            'get_loc',
            'get_slice_bound',
            'holds_integer',
            'identical',
            'insert',
            'intersection',
            'is_',
            'is_boolean',
            'is_categorical',
            'is_floating',
            'is_integer',
            'is_interval',
            'is_numeric',
            'is_object',
            'join',
            'putmask',
            'set_names',
            'slice_indexer',
            'slice_locs',
            'sort',
            'sortlevel',
            'symmetric_difference',
            'to_flat_index',
            'to_series',
            'union'],
 'datamodel_method': ['__array_wrap__']}

## Series

The initialisation signature for the ```pd.Series``` class can be examined:

In [26]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool | None' = None,
    fastpath: 'bool | lib.NoDefault' = <no_default>,
) -> 'None'
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           c:\users\pyip\miniconda3\envs\jupyter-env\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

The main keyword input arguments are:

* data
* index
* dtype
* name

If these are not supplied an empty series instance with no index, no name and a generic object datatype is instantiated:

In [27]:
pd.Series()

Series([], dtype: object)

Normally data is supplied in the form of a numpy 1darray:

In [28]:
pd.Series(data=np.array([1, 2, 3]))

0    1
1    2
2    3
dtype: int32

Since a ndarray itself is initialised from a list, this can be abbreviated to:

In [29]:
pd.Series(data=[1, 2, 3])

0    1
1    2
2    3
dtype: int64

When ```dtype=None```, the data type will be inferred from the data:

In [30]:
pd.Series(data=[1., 2., 3.])

0    1.0
1    2.0
2    3.0
dtype: float64

In [31]:
from datetime import datetime, timedelta
pd.Series(data=[datetime.now(), 
                datetime.now() + timedelta(days=1),
                datetime.now() + timedelta(days=2)])

0   2024-02-13 13:44:22.235566
1   2024-02-14 13:44:22.235566
2   2024-02-15 13:44:22.235566
dtype: datetime64[ns]

In [32]:
pd.Series(data=['a', 'b', 'c'])

0    a
1    b
2    c
dtype: object

Anything with a ```str``` in it is classed as non-numeric and has the generic dtype ```object``` (meaning it can be any Python object).

The dtype can be manually overidden when supplying the numpy 1darray by using the ```np.array``` input argument ```dtype```:

In [33]:
pd.Series(data=np.array([1., 2., 3.], dtype=np.int32))

0    1
1    2
2    3
dtype: int32

Or by alternatively using the ```Series``` keyword input argument ```dtype```:

In [34]:
pd.Series(data=[1., 2., 3.], dtype=np.int32)

0    1
1    2
2    3
dtype: int32

Notice that the index is zero-ordered numeric in integer steps of 1 by default. This can be manually changed by use of the keyword input argument ```index``` and providing an ```Index``` instance, ```ndarray``` instance or ```list``` instance of index values:

In [35]:
pd.Series(index=['a', 'b', 'c'], data=[1., 2., 3.], dtype=np.int32)

a    1
b    2
c    3
dtype: int32

A ```Series``` usually also has a ```name```:

In [36]:
pd.Series(index=['a', 'b', 'c'], data=[1., 2., 3.], dtype=np.int32, name='x')

a    1
b    2
c    3
Name: x, dtype: int32

Normally the ```data``` and ```name``` are supplied and the ```index``` and ```dtype``` are inferred:

In [37]:
pd.Series([1.1, 2.1, 3.1, 4.1], name='x')

0    1.1
1    2.1
2    3.1
3    4.1
Name: x, dtype: float64

## DataFrame

The initialisation signature for the ```pd.DataFrame``` class can be examined:

In [38]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
) -> 'None'
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3
File:           c:\users\pyip\miniconda3\envs\jupyter-env\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

The keyword input arguments for a ```DataFrame``` instance are similar to those found for a ```Series``` instance however because a ```DataFrame``` is a collection of ```Series``` most of these are plural:

* data (plural)
* index (singular)
* columns (plural of name)
* dtype (plural)

In [45]:
pd.DataFrame(data=[[1.1, 1.2], 
                   [2.1, 2.2],
                   [3.1, 3.2],
                   [4.1, 4.2]],
             index=['a', 'b', 'c', 'd'],
             columns=('x', 'y'),
             dtype=(np.float64, np.float64))

     x    y
a  1.1  1.2
b  2.1  2.2
c  3.1  3.2
d  4.1  4.2

The dtype has to be supplied as a ```tuple``` containing the ```dtype``` for each ```Series``` instance in the ```DataFrame``` instance. If it is supplied as a list of dtypes a ```TypeError``` will display.

Once again normally the ```dtype``` and ```index``` are inferred:

In [46]:
pd.DataFrame(data=[[1.1, 1.2], 
                   [2.1, 2.2],
                   [3.1, 3.2],
                   [4.1, 4.2]],
             columns=('x', 'y'))

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  4.1  4.2

It is common to supply ```columns``` and ```data``` in the form of a mapping. The ```key``` should be a ```str``` instance which will become the column name and the ```value``` should be a ```np.ndarray``` (1d) or ```list``` instance which corresponds to the data for that ```pd.Series```:

In [47]:
pd.DataFrame({'x': np.array([1.1, 2.1, 3.1, 3.1]),
              'y': np.array([1.2, 2.2, 3.2, 4.2])})

     x    y
0  1.1  1.2
1  2.1  2.2
2  3.1  3.2
3  3.1  4.2

## Reading Data from Files

The ```Series``` and ```DataFrames``` previously examined were created from scratch using ```builtins``` datatypes. It is also common to read data in from another source. The ```pandas``` library therefore has a number of functions for reading in data from external files. The function names all have a ```read_``` prefix followed by the file type:

In [51]:
for identifier in dir(pd):
    if identifier.startswith('read_'):
        print(identifier)

read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_orc
read_parquet
read_pickle
read_sas
read_spss
read_sql
read_sql_query
read_sql_table
read_stata
read_table
read_xml

Some of the more common formats will be explored.

### Comma Separated Values File

CSV is an abbreviation for Comma Separated Values. 

The file format uses:
* ```a``` , as a column separator which is where the name comma separated values comes from
* ```\n```, as a row separator

A csv with escape characters explicitly shown looks as follows:

```powershell
string,integer,bool,float,date,time,category\n
the fat black cat,4,TRUE,0.86,24/07/2023,11:36:00,A\n
sat on the mat,4,TRUE,0.86,25/07/2023,12:36:00,A\n
"twinkle, twinkle",2,TRUE,-1.14,26/07/2023,13:36:00,B\n
little star,2,TRUE,-1.14,27/07/2023,14:36:00,B\n
how I wonder,3,FALSE,-0.14,28/07/2023,15:36:00,B\n
what you are,4,TRUE,0.86,29/07/2023,16:36:00,B\n
```

This can be written to a csv file:

In [66]:
%%writefile ./files/Book1.csv
string,integer,bool,float,date,time,category
the fat black cat,4,TRUE,0.86,24/07/2023,11:36:00,A
sat on the mat,4,TRUE,0.86,25/07/2023,12:36:00,A
"twinkle, twinkle",2,TRUE,-1.14,26/07/2023,13:36:00,B
little star,2,TRUE,-1.14,27/07/2023,14:36:00,B
how I wonder,3,FALSE,-0.14,28/07/2023,15:36:00,B
what you are,4,TRUE,0.86,29/07/2023,16:36:00,B

Overwriting ./files/Book1.csv

When opened in a program such as Microsoft Excel, these delimiters display as a grid:

<img src='./images/img_001.png' alt='img_001' width='800'/>

Notice that the comma in ```twinkle, twinkle``` is not a delimiter but part of the ```str```. For this reason ```"twinkle, twinkle"``` was is enclosed in quotations.

The ```pd.read_csv``` function is used to read in a csv file returning a ```DataFrame``` instance:

In [74]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

The ```pd.read_csv``` function has a larger number of input parameters. Note that most of these are named input parameters and are therefore assigned to a default value which is consistent to the default behaviour of a csv file. When the file is in the expected format only the ```filepath_or_buffer``` needs to be specified and this is normally provided positionally:

In [77]:
df = pd.read_csv('./files/Book1.csv')

In [76]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,what you are,4,True,0.86,29/07/2023,16:36:00,B

Notice the ```Series``` names in the file are in the expected format and taken from the first line. A csv does not have an index by default and so a ```RangeIndex``` has automatically been generated.

In [78]:
df.axes

[RangeIndex(start=0, stop=6, step=1),
 Index(['string', 'integer', 'bool', 'float', 'date', 'time', 'category'], dtype='object')]

### Tab Delimited Text File

A text file, has the file extension txt and is very similar to a csv file but uses ```\t``` instead of ```,``` as a delimiter:

```powershell
string\tinteger\tbool\tfloat\tdate\ttime\tcategory\n
the fat black cat\t4\tTRUE\t0.86\t24/07/2023\t11:36:00\tA\n
sat on the mat\t4\tTRUE\t0.86\t25/07/2023\t12:36:00\tA\n
"twinkle, twinkle"\t2\tTRUE\t-1.14\t26/07/2023\t13:36:00\tB\n
little star\t2\tTRUE\t-1.14\t27/07/2023\t14:36:00\tB\n
how I wonder\t3\tFALSE\t-0.14\t28/07/2023\t15:36:00\tB\n
what you are\t4\tTRUE\t0.86\t29/07/2023\t16:36:00\tB\n
```

In [79]:
%%writefile ./files/Book2.txt
string	integer	boolean	floatingpoint	date	time	category
the fat black cat	4	TRUE	0.86	24/07/2023	11:36:00	A
sat on the mat	4	TRUE	0.86	25/07/2023	12:36:00	A
"twinkle, twinkle"	2	TRUE	-1.14	26/07/2023	13:36:00	B
little star	2	TRUE	-1.14	27/07/2023	14:36:00	B
how I wonder	3	FALSE	-0.14	28/07/2023	15:36:00	B
what you are	4	TRUE	0.86	29/07/2023	16:36:00	B

Overwriting ./files/Book2.txt

The same ```pd.read_csv``` function is used to read in a txt file. However this function by default looks for a ```,``` as a delimiter to move onto the next column and as it is not present, the data is all shown in a single column:

In [80]:
df = pd.read_csv(r'.\files\Book2.txt')

In [81]:
df

  string\tinteger\tboolean\tfloatingpoint\tdate\ttime\tcategory
0     the fat black cat\t4\tTRUE\t0.86\t24/07/2023\t11:36:00\tA
1        sat on the mat\t4\tTRUE\t0.86\t25/07/2023\t12:36:00\tA
2     twinkle, twinkle\t2\tTRUE\t-1.14\t26/07/2023\t13:36:00\tB
3          little star\t2\tTRUE\t-1.14\t27/07/2023\t14:36:00\tB
4        how I wonder\t3\tFALSE\t-0.14\t28/07/2023\t15:36:00\tB
5          what you are\t4\tTRUE\t0.86\t29/07/2023\t16:36:00\tB

If the delimiter is specified as ```'\t'``` the data will instead be read in properly:

In [139]:
df = pd.read_csv(r'.\files\Book2.txt', delimiter='\t')

In [142]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,what you are,4,True,0.86,29/07/2023,16:36:00,B

### JavaScript Object Notation

If the data is in the form of a JSON ```str``` instance:

In [144]:
json_string = '{"string":{"0":"the fat black cat","1":"sat on the mat","2":"twinkle, twinkle","3":"little star","4":"how I wonder","5":"what you are"},"integer":{"0":4,"1":4,"2":2,"3":2,"4":3,"5":4},"boolean":{"0":true,"1":true,"2":true,"3":true,"4":false,"5":true},"floatingpoint":{"0":0.86,"1":0.86,"2":-1.14,"3":-1.14,"4":-0.14,"5":0.86},"date":{"0":"24\\/07\\/2023","1":"25\\/07\\/2023","2":"26\\/07\\/2023","3":"27\\/07\\/2023","4":"28\\/07\\/2023","5":"29\\/07\\/2023"},"time":{"0":"11:36:00","1":"12:36:00","2":"13:36:00","3":"14:36:00","4":"15:36:00","5":"16:36:00"},"category":{"0":"A","1":"A","2":"B","3":"B","4":"B","5":"B"}}'

It can be cast into a ```StringIO``` instance:

In [147]:
import io

In [149]:
io.StringIO(json_string)

And then read in using the ```pd.read_json``` function:

In [148]:
pd.read_json(io.StringIO(json_string))

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24,11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26,13:36:00,B
3,little star,2,True,-1.14,2023-07-27,14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28,15:36:00,B
5,what you are,4,True,0.86,2023-07-29,16:36:00,B

### Microsoft Excel File

A Microsoft Excel File, file extensions .xlsx (or .xls for older files) is a collection of sheets. The data in each individual sheet is similar to an individual csv file, although obscured because Excel applies formatting options to the data:

<img src='./images/img_002.png' alt='img_002' width='800'/>

The related function ```read_excel``` is used to read in the data from an Excel File. The delimiter is predefined in an Excel File however the Excel File can have multiple sheets so the keyword input argument ```sheet_name``` is available, this defaults to the name ```'Sheet1'``` which is the default for an Excel Spreadsheet:

In [84]:
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a ``pandas`` ``DataFrame``.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.

    .. deprecated:: 2.1.0
        Passing byte strings is deprecated. To read from a
        byte string, wrap it in a ``BytesIO`` object.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify ``None`` to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * ``None``: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, str, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.

    Missing values will be forward filled to allow roundtripping with
    ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
    missing values use ``set_index`` after reading the data instead of
    ``index_col``.
usecols : str, list-like, or callable, default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed
      (0-indexed).
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use ``object`` to preserve data as stored in Excel and not interpret dtype,
    which will necessarily result in ``object`` dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
    If you use ``None``, it will infer the dtype of each column based on the data.
engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
    If io is not a buffer or path, this must be set to identify io.
    Engine compatibility :

    - ``openpyxl`` supports newer Excel file formats.
    - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
      and OpenDocument (.ods) file formats.
    - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
    - ``pyxlsb`` supports Binary Excel files.
    - ``xlrd`` supports old-style Excel files (.xls).

    When ``engine=None``, the following logic will be used to determine the engine:

    - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
      then `odf <https://pypi.org/project/odfpy/>`_ will be used.
    - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
    - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
    - Otherwise ``openpyxl`` will be used.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is True, and ``na_values`` are specified,
      ``na_values`` is appended to the default NaN values used for parsing.
    * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
      the default NaN values are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are specified, only
      the NaN values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * ``bool``. If True -> try parsing the index.
    * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Notes
-----
For specific information on the methods used for each Excel engine, refer to the pandas
:ref:`user guide <io.excel_reader>`

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the
``comment`` kwarg.

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      c:\users\pyip\miniconda3\envs\jupyter-env\lib\site-packages\pandas\io\excel\_base.py
Type:      function

In [85]:
df = pd.read_excel('./files/Book3.xlsx', sheet_name='Sheet1')

In [86]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,16:36:00,B

Sheets in an Excel File are ordered and the ordering of the sheets is analogous to a ```RangeIndex``` (```'Sheet1'``` corresponds to an index of ```0``` because of zero-order indexing). This parameter is often supplied positionally:

In [87]:
df = pd.read_excel('./files/Book3.xlsx', 0)

In [88]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,16:36:00,B

In a .xlsx file, a column is normally formatted for the appropriate datatype. For example a datetime format and the .xlsx file contains the formatting information. This information can be used by the ```read_excel``` function:

In [94]:
df = pd.read_excel('./files/Book3.xlsx', 0, parse_dates=True)

In [95]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,16:36:00,B

The date column is parsed as a date correctly but the time column wasn't parsed as a time column:

In [96]:
df.dtypes

string                   object
integer                   int64
boolean                    bool
floatingpoint           float64
date             datetime64[ns]
time                     object
category                 object
dtype: object

The ```df['time']``` ```pd.Series``` instance can be cast into a ```str``` instance:

In [122]:
df['time'].astype('str')

0    11:36:00
1    12:36:00
2    13:36:00
3    14:36:00
4    15:36:00
5    16:36:00
Name: time, dtype: object

The ```pd.Series``` method ```astype``` has limited support for converting to a ```timedelta64``` and instead te ```pd``` function ```to_timedelta``` needs to be used:

In [123]:
pd.to_timedelta(df['time'].astype('str'))

0   0 days 11:36:00
1   0 days 12:36:00
2   0 days 13:36:00
3   0 days 14:36:00
4   0 days 15:36:00
5   0 days 16:36:00
Name: time, dtype: timedelta64[ns]

This can be reassigned to the ```pd.Series``` instance name ```df['time']```. This will update the ```df``` instance inplace:

In [124]:
df['time'] = pd.to_timedelta(df['time'].astype('str'))

In [125]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,0 days 11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,0 days 12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,0 days 13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,0 days 14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,0 days 15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,0 days 16:36:00,B

In [126]:
df.dtypes

string                    object
integer                    int64
boolean                     bool
floatingpoint            float64
date              datetime64[ns]
time             timedelta64[ns]
category                  object
dtype: object

The ```df['category']``` ```pd.Series``` instance can be cast into a ```pd.Categorical``` instance:

In [131]:
df['category'].astype('category')

0    A
1    A
2    B
3    B
4    B
5    B
Name: category, dtype: category
Categories (2, object): ['A', 'B']

In [132]:
df['category'] = df['category'].astype('category')

In [133]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,0 days 11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,0 days 12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,0 days 13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,0 days 14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,0 days 15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,0 days 16:36:00,B

In [134]:
df.dtypes

string                    object
integer                    int64
boolean                     bool
floatingpoint            float64
date              datetime64[ns]
time             timedelta64[ns]
category                category
dtype: object

To reorder the columns, indexing is quite commonly used:

In [136]:
df[['string', 'integer', 'boolean', 'floatingpoint', 'date', 'time', 'category']]

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,0 days 11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,0 days 12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,0 days 13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,0 days 14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,0 days 15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,0 days 16:36:00,B

The instance name ```df``` can be reassigned to this output:

In [137]:
df = df[['string', 'integer', 'boolean', 'floatingpoint', 'date', 'time', 'category']]

In [138]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24 11:30:00,0 days 11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25 00:00:00,0 days 12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26 00:00:00,0 days 13:36:00,B
3,little star,2,True,-1.14,2023-07-27 00:00:00,0 days 14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28 00:00:00,0 days 15:36:00,B
5,what you are,4,True,0.86,2023-07-29 00:00:00,0 days 16:36:00,B

## Writing DataFrames to Objects and Files

The ```DataFrame``` class has a number of methods for writing to files:

In [152]:
for identifier in dir(df):
    if identifier.startswith('to_'):
        print(identifier)

to_clipboard
to_csv
to_dict
to_excel
to_feather
to_gbq
to_hdf
to_html
to_json
to_latex
to_markdown
to_numpy
to_orc
to_parquet
to_period
to_pickle
to_records
to_sql
to_stata
to_string
to_timestamp
to_xarray
to_xml

### Python Dictionary

A  ```pd.DataFrame``` instance can be written to a ```dict``` instance using:

In [153]:
df.to_dict()

{'string': {0: 'the fat black cat',
  1: 'sat on the mat',
  2: 'twinkle, twinkle',
  3: 'little star',
  4: 'how I wonder',
  5: 'what you are'},
 'integer': {0: 4, 1: 4, 2: 2, 3: 2, 4: 3, 5: 4},
 'boolean': {0: True, 1: True, 2: True, 3: True, 4: False, 5: True},
 'floatingpoint': {0: 0.86, 1: 0.86, 2: -1.14, 3: -1.14, 4: -0.14, 5: 0.86},
 'date': {0: '24/07/2023',
  1: '25/07/2023',
  2: '26/07/2023',
  3: '27/07/2023',
  4: '28/07/2023',
  5: '29/07/2023'},
 'time': {0: '11:36:00',
  1: '12:36:00',
  2: '13:36:00',
  3: '14:36:00',
  4: '15:36:00',
  5: '16:36:00'},
 'category': {0: 'A', 1: 'A', 2: 'B', 3: 'B', 4: 'B', 5: 'B'}}

This is read into a ```pd.DataFrame``` instance using:

In [154]:
pd.DataFrame(data=df.to_dict())

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,what you are,4,True,0.86,29/07/2023,16:36:00,B

### Comma Separated Values File

A ```pd.DataFrame``` can be written to a file using:

In [159]:
df.to_csv('./files/Book4.csv')

Notice that an index was added, meaning if this is read into a ```pd.DataFrame``` instance using the defaults there is an Unnamed ```pd.Series``` corresponding to the index read in:

In [161]:
pd.read_csv('./files/Book4.csv')

,Unnamed: 0,string,integer,boolean,floatingpoint,date,time,category
0,0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,5,what you are,4,True,0.86,29/07/2023,16:36:00,B

This can be assigned to the ```pd.Index``` instance associated with the ```pd.DataFrame``` using the keyword input argument ```index_col```:

In [162]:
pd.read_csv('./files/Book4.csv', index_col=0)

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,what you are,4,True,0.86,29/07/2023,16:36:00,B

Alternatively the ```pd.DataFrame``` instance can be exported without the ```pd.Index``` information:

In [163]:
df.to_csv?

Signature:
df.to_csv(
    path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None,
    *,
    sep: 'str' = ',',
    na_rep: 'str' = '',
    float_format: 'str | Callable | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'bool_t | list[str]' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    mode: 'str' = 'w',
    encoding: 'str | None' = None,
    compression: 'CompressionOptions' = 'infer',
    quoting: 'int | None' = None,
    quotechar: 'str' = '"',
    lineterminator: 'str | None' = None,
    chunksize: 'int | None' = None,
    date_format: 'str | None' = None,
    doublequote: 'bool_t' = True,
    escapechar: 'str | None' = None,
    decimal: 'str' = '.',
    errors: 'OpenFileErrors' = 'strict',
    storage_options: 'StorageOptions | None' = None,
) -> 'str | None'
Docstring:
Write object to a comma-separated values (csv) file.

Parameters
----------
path_or_buf : str, path object, file-like object, or None, default None
    String, path object (implementing os.PathLike[str]), or file-like
    object implementing a write() function. If None, the result is
    returned as a string. If a non-binary file object is passed, it should
    be opened with `newline=''`, disabling universal newlines. If a binary
    file object is passed, `mode` might need to contain a `'b'`.
sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, Callable, default None
    Format string for floating point numbers. If a Callable is given, it takes
    precedence over other numeric formatting parameters, like decimal.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : {'w', 'x', 'a'}, default 'w'
    Forwarded to either `open(mode=)` or `fsspec.open(mode=)` to control
    the file opening. Typical values include:

    - 'w', truncate the file first.
    - 'x', exclusive creation, failing if the file already exists.
    - 'a', append to the end of file if it exists.

encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
    is a non-binary file object.
compression : str or dict, default 'infer'
    For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    Set to ``None`` for no compression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdCompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for faster compression and to create
    a reproducible gzip archive:
    ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

       May be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

       Passing compression options as keys in dict is
       supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.
quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
lineterminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

    .. versionchanged:: 1.5.0

        Previously was line_terminator, changed for consistency with
        read_csv and the standard library 'csv' module.

chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.
errors : str, default 'strict'
    Specifies how encoding and decoding errors are to be handled.
    See the errors argument for :func:`open` for a full list
    of options.

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
Create 'out.csv' containing 'df' without indices

>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv('out.csv', index=False)  # doctest: +SKIP

Create 'out.zip' containing 'out.csv'

>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'
>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP

To write a csv file to a new folder or nested folder you will first
need to create it using either Pathlib or os:

>>> from pathlib import Path  # doctest: +SKIP
>>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
>>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
>>> df.to_csv(filepath)  # doctest: +SKIP

>>> import os  # doctest: +SKIP
>>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
>>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP
File:      c:\users\pyip\miniconda3\envs\jupyter-env\lib\site-packages\pandas\core\generic.py
Type:      method

In [164]:
df.to_csv('./files/Book5.csv', index=False)

### Tab Delimited Text File

To save to a text file, the separator needs to be specified:

In [165]:
df.to_csv('./files/Book6.txt', sep='\t', index=False)

This is read into a ```pd.DataFrame``` instance using:

In [166]:
pd.read_csv('./files/Book6.txt', sep='\t')

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,what you are,4,True,0.86,29/07/2023,16:36:00,B

### JavaScript Object Notation

A ```pd.DataFrame``` can be written to a JSON ```str``` using:

In [155]:
df.to_json()

'{"string":{"0":"the fat black cat","1":"sat on the mat","2":"twinkle, twinkle","3":"little star","4":"how I wonder","5":"what you are"},"integer":{"0":4,"1":4,"2":2,"3":2,"4":3,"5":4},"boolean":{"0":true,"1":true,"2":true,"3":true,"4":false,"5":true},"floatingpoint":{"0":0.86,"1":0.86,"2":-1.14,"3":-1.14,"4":-0.14,"5":0.86},"date":{"0":"24\\/07\\/2023","1":"25\\/07\\/2023","2":"26\\/07\\/2023","3":"27\\/07\\/2023","4":"28\\/07\\/2023","5":"29\\/07\\/2023"},"time":{"0":"11:36:00","1":"12:36:00","2":"13:36:00","3":"14:36:00","4":"15:36:00","5":"16:36:00"},"category":{"0":"A","1":"A","2":"B","3":"B","4":"B","5":"B"}}'

Note that this is the same form that can be used to instantiate a ```pd.DataFrame``` instance:

In [158]:
pd.read_json(io.StringIO(df.to_json()))

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,2023-07-24,11:36:00,A
1,sat on the mat,4,True,0.86,2023-07-25,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,2023-07-26,13:36:00,B
3,little star,2,True,-1.14,2023-07-27,14:36:00,B
4,how I wonder,3,False,-0.14,2023-07-28,15:36:00,B
5,what you are,4,True,0.86,2023-07-29,16:36:00,B

Supposing there are three DataFrame instances:

### Microsoft Excel File

Recall that an Excel file has sheets. For convenience multiple ```pd.DataFrame``` instances can be created by indexing into the ```pd.DataFrame``` instance ```df``` and indexing using a ```list``` of ```str``` instances, where each ```str``` instance corresponds to the name of a ```pd.Series```:

In [167]:
df

,string,integer,boolean,floatingpoint,date,time,category
0,the fat black cat,4,True,0.86,24/07/2023,11:36:00,A
1,sat on the mat,4,True,0.86,25/07/2023,12:36:00,A
2,"twinkle, twinkle",2,True,-1.14,26/07/2023,13:36:00,B
3,little star,2,True,-1.14,27/07/2023,14:36:00,B
4,how I wonder,3,False,-0.14,28/07/2023,15:36:00,B
5,what you are,4,True,0.86,29/07/2023,16:36:00,B

In [168]:
df1 = df[['string', 'integer', 'time']]

In [177]:
df1

              string  integer      time
0  the fat black cat        4  11:36:00
1     sat on the mat        4  12:36:00
2   twinkle, twinkle        2  13:36:00
3        little star        2  14:36:00
4       how I wonder        3  15:36:00
5       what you are        4  16:36:00

In [170]:
df2 = df[['string', 'integer', 'boolean']]

In [171]:
df2

              string  integer  boolean
0  the fat black cat        4     True
1     sat on the mat        4     True
2   twinkle, twinkle        2     True
3        little star        2     True
4       how I wonder        3    False
5       what you are        4     True

In [174]:
df3 = df[['string', 'date', 'category']]

In [175]:
df3

              string        date category
0  the fat black cat  24/07/2023        A
1     sat on the mat  25/07/2023        A
2   twinkle, twinkle  26/07/2023        B
3        little star  27/07/2023        B
4       how I wonder  28/07/2023        B
5       what you are  29/07/2023        B

The ```pd.DataFrame``` method ```to_excel``` allows the writing of multiple ```pd.DataFrame``` instances to individual sheets within an Excel File:

In [178]:
df.to_excel?

Signature:
df.to_excel(
    excel_writer: 'FilePath | WriteExcelBuffer | ExcelWriter',
    *,
    sheet_name: 'str' = 'Sheet1',
    na_rep: 'str' = '',
    float_format: 'str | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'Sequence[Hashable] | bool_t' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    startrow: 'int' = 0,
    startcol: 'int' = 0,
    engine: "Literal['openpyxl', 'xlsxwriter'] | None" = None,
    merge_cells: 'bool_t' = True,
    inf_rep: 'str' = 'inf',
    freeze_panes: 'tuple[int, int] | None' = None,
    storage_options: 'StorageOptions | None' = None,
    engine_kwargs: 'dict[str, Any] | None' = None,
) -> 'None'
Docstring:
Write object to an Excel sheet.

To write a single object to an Excel .xlsx file it is only necessary to
specify a target file name. To write to multiple sheets it is necessary to
create an `ExcelWriter` object with a target file name, and specify a sheet
in the file to write to.

Multiple sheets may be written to by specifying unique `sheet_name`.
With all data written to the file it is necessary to save the changes.
Note that creating an `ExcelWriter` object with a file name that already
exists will result in the contents of the existing file being erased.

Parameters
----------
excel_writer : path-like, file-like, or ExcelWriter object
    File path or existing ExcelWriter.
sheet_name : str, default 'Sheet1'
    Name of sheet which will contain DataFrame.
na_rep : str, default ''
    Missing data representation.
float_format : str, optional
    Format string for floating point numbers. For example
    ``float_format="%.2f"`` will format 0.1234 to 0.12.
columns : sequence or list of str, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of string is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, optional
    Column label for index column(s) if desired. If not specified, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the DataFrame uses MultiIndex.
startrow : int, default 0
    Upper left cell row to dump data frame.
startcol : int, default 0
    Upper left cell column to dump data frame.
engine : str, optional
    Write engine to use, 'openpyxl' or 'xlsxwriter'. You can also set this
    via the options ``io.excel.xlsx.writer`` or
    ``io.excel.xlsm.writer``.

merge_cells : bool, default True
    Write MultiIndex and Hierarchical Rows as merged cells.
inf_rep : str, default 'inf'
    Representation for infinity (there is no native representation for
    infinity in Excel).
freeze_panes : tuple of int (length 2), optional
    Specifies the one-based bottommost row and rightmost column that
    is to be frozen.
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

    .. versionadded:: 1.2.0
engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
ExcelWriter : Class for writing DataFrame objects into excel sheets.
read_excel : Read an Excel file into a pandas DataFrame.
read_csv : Read a comma-separated values (csv) file into DataFrame.
io.formats.style.Styler.to_excel : Add styles to Excel sheet.

Notes
-----
For compatibility with :meth:`~DataFrame.to_csv`,
to_excel serializes lists and dicts to strings before writing.

Once a workbook has been saved it is not possible to write further
data without rewriting the whole workbook.

Examples
--------

Create, write to and save a workbook:

>>> df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                    index=['row 1', 'row 2'],
...                    columns=['col 1', 'col 2'])
>>> df1.to_excel("output.xlsx")  # doctest: +SKIP

To specify the sheet name:

>>> df1.to_excel("output.xlsx",
...              sheet_name='Sheet_name_1')  # doctest: +SKIP

If you wish to write to more than one sheet in the workbook, it is
necessary to specify an ExcelWriter object:

>>> df2 = df1.copy()
>>> with pd.ExcelWriter('output.xlsx') as writer:  # doctest: +SKIP
...     df1.to_excel(writer, sheet_name='Sheet_name_1')
...     df2.to_excel(writer, sheet_name='Sheet_name_2')

ExcelWriter can also be used to append to an existing Excel file:

>>> with pd.ExcelWriter('output.xlsx',
...                     mode='a') as writer:  # doctest: +SKIP
...     df1.to_excel(writer, sheet_name='Sheet_name_3')

To set the library that is used to write the Excel file,
you can pass the `engine` keyword (the default engine is
automatically chosen depending on the file extension):

>>> df1.to_excel('output1.xlsx', engine='xlsxwriter')  # doctest: +SKIP
File:      c:\users\pyip\miniconda3\envs\jupyter-env\lib\site-packages\pandas\core\generic.py
Type:      method

To write ```pd.DataFrame``` instances to multiple sheets an ```pd.ExcelWriter``` instance has to be instantiated and given the instruction to create a blank Excel File:

In [179]:
writer = pd.ExcelWriter(path='./files/Book7.xlsx')

The ```DataFrame``` method ```to_excel``` can then be used to instruct the ```ExcelWriter``` instance to write the ```df.DataFrame``` instance to a specified sheet:

In [180]:
df1.to_excel(excel_writer=writer, sheet_name='sheet1')
df2.to_excel(excel_writer=writer, sheet_name='sheet2')
df3.to_excel(excel_writer=writer, sheet_name='sheet3')

Details about the sheets being written can be seen using the ```ExcelWriter``` attribute ```sheets``` which is a mapping where the key is the sheet name and the value is the sheet being written:

In [181]:
writer.sheets

{'sheet1': <xlsxwriter.worksheet.Worksheet at 0x221db0e2030>,
 'sheet2': <xlsxwriter.worksheet.Worksheet at 0x221d9cce450>,
 'sheet3': <xlsxwriter.worksheet.Worksheet at 0x221d774fe60>}

Finally the ```ExcelWriter``` instance can be closed. This will release the Excel SpreadSheet from Python:

In [182]:
writer.close()

<img src='./images/img_003.png' alt='img_003' width='800'/>

<img src='./images/img_004.png' alt='img_004' width='800'/>

<img src='./images/img_005.png' alt='img_005' width='800'/>

The identifiers of the ```ExcelWriter``` class can be examined:

In [184]:
dir2(pd.ExcelWriter, drop_internal=True)

{'attribute': ['book',
               'date_format',
               'datetime_format',
               'engine',
               'if_sheet_exists',
               'sheets',
               'supported_extensions'],
 'method': ['check_extension', 'close'],
 'datamodel_attribute': ['__annotations__',
                         '__dict__',
                         '__doc__',
                         '__module__',
                         '__orig_bases__',
                         '__parameters__',
                         '__weakref__'],
 'datamodel_method': ['__class__',
                      '__class_getitem__',
                      '__delattr__',
                      '__dir__',
                      '__enter__',
                      '__eq__',
                      '__exit__',
                      '__format__',
                      '__fspath__',
                      '__ge__',
                      '__getattribute__',
                      '__getstate__',
                      '__gt__',
                      '__hash__',
                      '__init__',
                      '__init_subclass__',
                      '__le__',
                      '__lt__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

Notice it has the datamodel identifiers ```__enter__``` and ```__exit__``` which means it can be used within a ```with``` code block. The ```with``` code block will automatically close the ```ExcelWriter``` class when the block ends and is the safest to create the file, write multiple sheets to it and close the file::

In [185]:
with pd.ExcelWriter('./files/Book8.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='df1', index=False)
    df2.to_excel(writer, sheet_name='df2', index=False)
    df3.to_excel(writer, sheet_name='df3', index=False)

### Markdown

A ```pd.DataFrame``` instance can be exported into a markdown ```str``` using:

In [191]:
df.to_markdown()

'|    | string            |   integer | boolean   |   floatingpoint | date       | time     | category   |\n|---:|:------------------|----------:|:----------|----------------:|:-----------|:---------|:-----------|\n|  0 | the fat black cat |         4 | True      |            0.86 | 24/07/2023 | 11:36:00 | A          |\n|  1 | sat on the mat    |         4 | True      |            0.86 | 25/07/2023 | 12:36:00 | A          |\n|  2 | twinkle, twinkle  |         2 | True      |           -1.14 | 26/07/2023 | 13:36:00 | B          |\n|  3 | little star       |         2 | True      |           -1.14 | 27/07/2023 | 14:36:00 | B          |\n|  4 | how I wonder      |         3 | False     |           -0.14 | 28/07/2023 | 15:36:00 | B          |\n|  5 | what you are      |         4 | True      |            0.86 | 29/07/2023 | 16:36:00 | B          |'

When this is printed, it has the following form:

In [190]:
print(df.to_markdown())

|    | string            |   integer | boolean   |   floatingpoint | date       | time     | category   |
|---:|:------------------|----------:|:----------|----------------:|:-----------|:---------|:-----------|
|  0 | the fat black cat |         4 | True      |            0.86 | 24/07/2023 | 11:36:00 | A          |
|  1 | sat on the mat    |         4 | True      |            0.86 | 25/07/2023 | 12:36:00 | A          |
|  2 | twinkle, twinkle  |         2 | True      |           -1.14 | 26/07/2023 | 13:36:00 | B          |
|  3 | little star       |         2 | True      |           -1.14 | 27/07/2023 | 14:36:00 | B          |
|  4 | how I wonder      |         3 | False     |           -0.14 | 28/07/2023 | 15:36:00 | B          |
|  5 | what you are      |         4 | True      |            0.86 | 29/07/2023 | 16:36:00 | B          |

And when this printed format is copied into a markdown cell, it looks like:

|    | string            |   integer | boolean   |   floatingpoint | date       | time     | category   |
|---:|:------------------|----------:|:----------|----------------:|:-----------|:---------|:-----------|
|  0 | the fat black cat |         4 | True      |            0.86 | 24/07/2023 | 11:36:00 | A          |
|  1 | sat on the mat    |         4 | True      |            0.86 | 25/07/2023 | 12:36:00 | A          |
|  2 | twinkle, twinkle  |         2 | True      |           -1.14 | 26/07/2023 | 13:36:00 | B          |
|  3 | little star       |         2 | True      |           -1.14 | 27/07/2023 | 14:36:00 | B          |
|  4 | how I wonder      |         3 | False     |           -0.14 | 28/07/2023 | 15:36:00 | B          |
|  5 | what you are      |         4 | True      |            0.86 | 29/07/2023 | 16:36:00 | B          |

## Series Identifiers

The identifiers for a ```pd.Series``` are:

In [216]:
dir2(pd.Series, drop_internal=True)

{'attribute': ['array',
               'at',
               'attrs',
               'axes',
               'dtype',
               'dtypes',
               'empty',
               'flags',
               'hasnans',
               'iat',
               'iloc',
               'index',
               'is_monotonic_decreasing',
               'is_monotonic_increasing',
               'is_unique',
               'loc',
               'name',
               'nbytes',
               'ndim',
               'shape',
               'size',
               'values'],
 'constant': ['T'],
 'method': ['abs',
            'add',
            'add_prefix',
            'add_suffix',
            'agg',
            'aggregate',
            'align',
            'all',
            'any',
            'apply',
            'argmax',
            'argmin',
            'argsort',
            'asfreq',
            'asof',
            'astype',
            'at_time',
            'autocorr',
            'backfill',
            'between',
            'between_time',
            'bfill',
            'bool',
            'case_when',
            'clip',
            'combine',
            'combine_first',
            'compare',
            'convert_dtypes',
            'copy',
            'corr',
            'count',
            'cov',
            'cummax',
            'cummin',
            'cumprod',
            'cumsum',
            'describe',
            'diff',
            'div',
            'divide',
            'divmod',
            'dot',
            'drop',
            'drop_duplicates',
            'droplevel',
            'dropna',
            'duplicated',
            'eq',
            'equals',
            'ewm',
            'expanding',
            'explode',
            'factorize',
            'ffill',
            'fillna',
            'filter',
            'first',
            'first_valid_index',
            'floordiv',
            'ge',
            'get',
            'groupby',
            'gt',
            'head',
            'hist',
            'idxmax',
            'idxmin',
            'infer_objects',
            'info',
            'interpolate',
            'isin',
            'isna',
            'isnull',
            'item',
            'items',
            'keys',
            'kurt',
            'kurtosis',
            'last',
            'last_valid_index',
            'le',
            'lt',
            'map',
            'mask',
            'max',
            'mean',
            'median',
            'memory_usage',
            'min',
            'mod',
            'mode',
            'mul',
            'multiply',
            'ne',
            'nlargest',
            'notna',
            'notnull',
            'nsmallest',
            'nunique',
            'pad',
            'pct_change',
            'pipe',
            'pop',
            'pow',
            'prod',
            'product',
            'quantile',
            'radd',
            'rank',
            'ravel',
            'rdiv',
            'rdivmod',
            'reindex',
            'reindex_like',
            'rename',
            'rename_axis',
            'reorder_levels',
            'repeat',
            'replace',
            'resample',
            'reset_index',
            'rfloordiv',
            'rmod',
            'rmul',
            'rolling',
            'round',
            'rpow',
            'rsub',
            'rtruediv',
            'sample',
            'searchsorted',
            'sem',
            'set_axis',
            'set_flags',
            'shift',
            'skew',
            'sort_index',
            'sort_values',
            'squeeze',
            'std',
            'sub',
            'subtract',
            'sum',
            'swapaxes',
            'swaplevel',
            'tail',
            'take',
            'to_clipboard',
            'to_csv',
            'to_dict',
            'to_excel',
            'to_frame',
            'to_hdf',
            'to_json',
            'to_latex',
            'to_list',
            'to_markdown',
            'to_numpy',
            'to_period',
            'to_pickle',
            'to_sql',
            'to_string',
            'to_timestamp',
            'to_xarray',
            'tolist',
            'transform',
            'transpose',
            'truediv',
            'truncate',
            'tz_convert',
            'tz_localize',
            'unique',
            'unstack',
            'update',
            'value_counts',
            'var',
            'view',
            'where',
            'xs'],
 'lower_class': ['cat', 'dt', 'list', 'plot', 'sparse', 'str', 'struct'],
 'datamodel_attribute': ['__annotations__',
                         '__array_priority__',
                         '__dict__',
                         '__doc__',
                         '__hash__',
                         '__module__',
                         '__pandas_priority__',
                         '__weakref__'],
 'datamodel_method': ['__abs__',
                      '__add__',
                      '__and__',
                      '__array__',
                      '__array_ufunc__',
                      '__bool__',
                      '__class__',
                      '__column_consortium_standard__',
                      '__contains__',
                      '__copy__',
                      '__deepcopy__',
                      '__delattr__',
                      '__delitem__',
                      '__dir__',
                      '__divmod__',
                      '__eq__',
                      '__finalize__',
                      '__float__',
                      '__floordiv__',
                      '__format__',
                      '__ge__',
                      '__getattr__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__iadd__',
                      '__iand__',
                      '__ifloordiv__',
                      '__imod__',
                      '__imul__',
                      '__init__',
                      '__init_subclass__',
                      '__int__',
                      '__invert__',
                      '__ior__',
                      '__ipow__',
                      '__isub__',
                      '__iter__',
                      '__itruediv__',
                      '__ixor__',
                      '__le__',
                      '__len__',
                      '__lt__',
                      '__matmul__',
                      '__mod__',
                      '__mul__',
                      '__ne__',
                      '__neg__',
                      '__new__',
                      '__nonzero__',
                      '__or__',
                      '__pos__',
                      '__pow__',
                      '__radd__',
                      '__rand__',
                      '__rdivmod__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__rfloordiv__',
                      '__rmatmul__',
                      '__rmod__',
                      '__rmul__',
                      '__ror__',
                      '__round__',
                      '__rpow__',
                      '__rsub__',
                      '__rtruediv__',
                      '__rxor__',
                      '__setattr__',
                      '__setitem__',
                      '__setstate__',
                      '__sizeof__',
                      '__str__',
                      '__sub__',
                      '__subclasshook__',
                      '__truediv__',
                      '__xor__']}

The initialisation signature for a ```pd.Series``` can be examined:

In [228]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool | None' = None,
    fastpath: 'bool | lib.NoDefault' = <no_default>,
) -> 'None'
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           c:\users\pyip\miniconda3\envs\jupyter-env\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

A ```pd.Series``` can be instantiated by supplying ```data``` to a ```list``` of values and providing a ```name```:

In [478]:
t = pd.Series(name='t')
u = pd.Series([[], [], [], []], name='u')
v = pd.Series([1.1, 2.2, 3.1, 4.1], name='v')
w = pd.Series([-1.1, 2.2, -3.1, 4.1], name='w')
x = pd.Series([1.1, -2.1, -2.1, None], name='x', dtype=float)
y = pd.Series(['A', 'A', 'B', 'B'], index=['a', 'b', 'c', 'd'], name='y')
z = pd.Series(['A', 'B', 'C', None], index=['a', 'b', 'c', 'd'], name='z')

### Attributes

In [479]:
t, u, v, w, x, y, z

(Series([], Name: t, dtype: object),
 0    []
 1    []
 2    []
 3    []
 Name: u, dtype: object,
 0    1.1
 1    2.2
 2    3.1
 3    4.1
 Name: v, dtype: float64,
 0   -1.1
 1    2.2
 2   -3.1
 3    4.1
 Name: w, dtype: float64,
 0    1.1
 1   -2.1
 2   -2.1
 3    NaN
 Name: x, dtype: float64,
 a    A
 b    A
 c    B
 d    B
 Name: y, dtype: object,
 a       A
 b       B
 c       C
 d    None
 Name: z, dtype: object)

In [468]:
u.array

<NumpyExtensionArray>
[[], [], [], []]
Length: 4, dtype: object

In [471]:
u.values

array([list([]), list([]), list([]), list([])], dtype=object)

In [469]:
u.dtype

dtype('O')

In [470]:
u.name

'u'

In [472]:
u.dtypes

dtype('O')

In [473]:
u.shape

(4,)

### Boolean Attributes

In [474]:
v, x

(0    1.1
 1    2.2
 2    3.1
 3    4.1
 Name: v, dtype: float64,
 0    1.1
 1   -2.1
 2   -2.1
 3    NaN
 Name: x, dtype: float64)

In [475]:
v.hasnans

False

In [476]:
x.hasnans

True

In [477]:
u.empty

False

In [450]:
v.empty, w.empty, x.empty, y.empty, z.empty

(False, False, False, False, False)

In [451]:
v.is_unique, w.is_unique, x.is_unique, y.is_unique, z.is_unique

(True, True, False, False, True)

In [452]:
v.is_monotonic_increasing, w.is_monotonic_increasing, x.is_monotonic_increasing, y.is_monotonic_increasing, z.is_monotonic_increasing

(True, False, False, True, False)

In [453]:
v.is_monotonic_decreasing, w.is_monotonic_decreasing, x.is_monotonic_decreasing, y.is_monotonic_decreasing, z.is_monotonic_decreasing

(False, False, False, False, False)

### Indexing

In [371]:
w

0    1.1
1    2.2
2    3.1
3    4.1
Name: w, dtype: float64

In [372]:
x.loc[0]

1.1

In [373]:
x.iloc[0]

1.1

In [374]:
x.at[0]

1.1

In [375]:
x.iat[0]

1.1

In [387]:
z

a    A
b    B
c    C
d    D
Name: z, dtype: object

In [388]:
z.loc['a']

'A'

In [389]:
z.iloc[0]

'A'

In [390]:
z.at['a']

'A'

In [391]:
z.iat[0]

'A'

### String Methods

In [392]:
z

a    A
b    B
c    C
d    D
Name: z, dtype: object

In [393]:
dir2(z.str, drop_internal=True)

{'method': ['capitalize',
            'casefold',
            'cat',
            'center',
            'contains',
            'count',
            'decode',
            'encode',
            'endswith',
            'extract',
            'extractall',
            'find',
            'findall',
            'fullmatch',
            'get',
            'get_dummies',
            'index',
            'isalnum',
            'isalpha',
            'isdecimal',
            'isdigit',
            'islower',
            'isnumeric',
            'isspace',
            'istitle',
            'isupper',
            'join',
            'len',
            'ljust',
            'lower',
            'lstrip',
            'match',
            'normalize',
            'pad',
            'partition',
            'removeprefix',
            'removesuffix',
            'repeat',
            'replace',
            'rfind',
            'rindex',
            'rjust',
            'rpartition',
            'rsplit',
            'rstrip',
            'slice',
            'slice_replace',
            'split',
            'startswith',
            'strip',
            'swapcase',
            'title',
            'translate',
            'upper',
            'wrap',
            'zfill'],
 'datamodel_attribute': ['__annotations__',
                         '__dict__',
                         '__doc__',
                         '__frozen',
                         '__module__',
                         '__weakref__'],
 'datamodel_method': ['__class__',
                      '__delattr__',
                      '__dir__',
                      '__eq__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getitem__',
                      '__getstate__',
                      '__gt__',
                      '__hash__',
                      '__init__',
                      '__init_subclass__',
                      '__iter__',
                      '__le__',
                      '__lt__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

In [396]:
z.str.lower()

a    a
b    b
c    c
d    d
Name: z, dtype: object

In [395]:
z.apply(lambda string: 5 * string)

a    AAAAA
b    BBBBB
c    CCCCC
d    DDDDD
Name: z, dtype: object

In [412]:
5 * z

a    AAAAA
b    BBBBB
c    CCCCC
d    DDDDD
Name: z, dtype: object

### Numeric Methods

In [414]:
w

0    1.1
1    2.2
2    3.1
3    4.1
Name: w, dtype: float64

In [415]:
5 * w

0     5.5
1    11.0
2    15.5
3    20.5
Name: w, dtype: float64

In [455]:
w

0   -1.1
1    2.2
2   -3.1
3    4.1
Name: w, dtype: float64

In [456]:
abs(w)

0    1.1
1    2.2
2    3.1
3    4.1
Name: w, dtype: float64

In [457]:
w.abs()

0    1.1
1    2.2
2    3.1
3    4.1
Name: w, dtype: float64

In [462]:
import statistics

In [463]:
statistics.mean(w)

0.5249999999999999

In [464]:
w.mean()

0.5249999999999999

### Categorical Methods

In [397]:
y

a    A
b    A
c    B
d    B
Name: y, dtype: object

In [402]:
y = y.astype('category')

In [403]:
y

a    A
b    A
c    B
d    B
Name: y, dtype: category
Categories (2, object): ['A', 'B']

In [404]:
dir2(y.cat, drop_internal=True)

{'attribute': ['categories', 'codes', 'ordered'],
 'method': ['add_categories',
            'as_ordered',
            'as_unordered',
            'remove_categories',
            'remove_unused_categories',
            'rename_categories',
            'reorder_categories',
            'set_categories'],
 'datamodel_attribute': ['__annotations__',
                         '__dict__',
                         '__doc__',
                         '__frozen',
                         '__module__',
                         '__weakref__'],
 'datamodel_method': ['__class__',
                      '__delattr__',
                      '__dir__',
                      '__eq__',
                      '__format__',
                      '__ge__',
                      '__getattribute__',
                      '__getstate__',
                      '__gt__',
                      '__hash__',
                      '__init__',
                      '__init_subclass__',
                      '__le__',
                      '__lt__',
                      '__ne__',
                      '__new__',
                      '__reduce__',
                      '__reduce_ex__',
                      '__repr__',
                      '__setattr__',
                      '__sizeof__',
                      '__str__',
                      '__subclasshook__']}

In [406]:
y = y.cat.as_ordered()

In [407]:
y

a    A
b    A
c    B
d    B
Name: y, dtype: category
Categories (2, object): ['A' < 'B']

In [410]:
y == 'A'

a     True
b     True
c    False
d    False
Name: y, dtype: bool

In [411]:
y[y == 'A']

a    A
b    A
Name: y, dtype: category
Categories (2, object): ['A' < 'B']

In [458]:
v + w

0    0.0
1    4.4
2    0.0
3    8.2
dtype: float64

In [461]:
z

a       A
b       B
c       C
d    None
Name: z, dtype: object

In [460]:
z + z

a     AA
b     BB
c     CC
d    NaN
Name: z, dtype: object

## DataFrame Identifiers

If the following dataframe is constructed:

In [ ]:
df = pd.DataFrame({'x': np.array([1.1, 2.1, 3.1, 3.1]),
                   'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

A large number of identifiers can be seen to be consistent between a ```DataFrame``` and a ```Series``` instance such as almost all of the datamodel identifiers. These identifiers operate across 2 dimensions across a ```DataFrame``` instance instead of 1 dimension along a ```Series```:

In [ ]:
print('datamodel attribute:', end=' ')
print_identifier_group(df, kind='datamodel_attribute', second=xseries, show_only_intersection_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(df, kind='datamodel_method', second=xseries, show_only_intersection_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(df, kind='attribute', second=xseries, show_only_intersection_identifiers=True)
print('method:', end=' ')
print_identifier_group(df, kind='function', second=xseries, show_only_intersection_identifiers=True)

The ```Series``` has ```Series``` specific attributes which are not available for a ```DataFrame``` instance. The datamodel methods in a ```Series``` not present in a ```DataFrame``` are for type-casting:

In [ ]:
print('datamodel attribute:', end=' ')
print_identifier_group(xseries, kind='datamodel_attribute', second=df, show_unique_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(xseries, kind='datamodel_method', second=df, show_unique_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(xseries, kind='attribute', second=df, show_unique_identifiers=True)
print('method:', end=' ')
print_identifier_group(xseries, kind='function', second=df, show_unique_identifiers=True)

The ```DataFrame``` instead has ```DataFrame``` specific attributes such as the name of each ```Series``` in the ```DataFrame```. The ```DataFrame``` also has supplementary methods such as ```insert``` which is used to insert a ```Series``` instance into a ```DataFrame``` instance or ```join``` and ```merge``` used to join or merge ```DataFrame``` instances respectively. The datamodel methods in a ```DataFrame``` not present in a ```Series``` are for type-casting (to a ```DataFrame```):

In [ ]:
print('datamodel attribute:', end=' ')
print_identifier_group(df, kind='datamodel_attribute', second=xseries, show_unique_identifiers=True)
print('datamodel method:', end=' ')
print_identifier_group(df, kind='datamodel_method', second=xseries, show_unique_identifiers=True)
print('attribute:', end=' ')
print_identifier_group(df, kind='attribute', second=xseries, show_unique_identifiers=True)
print('method:', end=' ')
print_identifier_group(df, kind='function', second=xseries, show_unique_identifiers=True)

Notice the columns attribute returns a list of the names of each ```Series``` in the ```DataFrame```:

In [ ]:
df.columns

Since the following conditions are satisfied:

In [ ]:
'x'.isidentifier()

In [ ]:
'y'.isidentifier()

And these identifier names don't clash with any of the other ```DataFrame``` identifiers, the following become ```DataFrame``` attributes and correspond to each ```Series``` in the ```DataFrame```:

In [ ]:
df.x

In [ ]:
df.y

## Mutability

The ```Index```, ```Series``` and ```DataFrame``` classes are mutable Collections meaning they have the immutable datamodel identifier ```__getitem__``` (dunder getitem) as well as the mutable identifier ```__setitem__``` (dunder setitem):

In [ ]:
'__getitem__' in dir(pd.Series)

In [ ]:
'__setitem__' in dir(pd.Series)

In [ ]:
'__delitem__' in dir(pd.Series)

This means the following array can be indexed into:

In [ ]:
xseries = pd.Series([1.1, 2.1, 3.1, 4.1], name='x')

In [ ]:
xseries

Recall the datamodel ```__getitem__``` (dunder getitem) defines how a ```Collection``` responds to indexing using square brackets:

In [ ]:
xseries[0]

Recall that the mutable method ```__setitem__``` (dunder setitem) defines how a ```MutableCollection``` responds to indexing using square brackets followed by assignment to a new value:

In [ ]:
xseries[0] = None

In [ ]:
xseries

Recall that the mutable method ```__delitem__``` (dunder delitem) defines how a ```MutableCollection``` responds to a ```del``` statement of an element indexing using square brackets:

In [ ]:
del xseries[2]

In [ ]:
xseries

Despite the ```NDArray```, ```Series``` and ```DataFrame``` being mutable datatypes, most the identifiers are immutable by default. If the docstring of the method ```dropna``` is examined:

In [ ]:
xseries.dropna?

Notice it has the keyword input arguments ```inplace```. ```inplace``` has the default value of ```False``` making the method immutable by default and therefore returns a new ```Series```:

In [ ]:
xseries.dropna() # Return value

In [ ]:
xseries # Unchanged

When ```inplace``` is set to ```True``` the method becomes mutable:

In [ ]:
xseries.dropna(inplace=True) # No return value

In [ ]:
xseries # Modified inplace

The same behaviour can be seen on the method ```reset_index```:

In [ ]:
xseries.reset_index?

With default value this method is immutable and returns a ```DataFrame``` since the old index is now added as the first ```Series```:

In [ ]:
xseries.reset_index() # Return value

If the ```drop``` keyword input argument is set to ```True```, a ```Series``` will instead be returned:

In [ ]:
xseries.reset_index(drop=True) # Return value

Once again the ```inplace``` keyword input argument can be assigned to ```True``` making the method mutable:

In [ ]:
xseries.reset_index(drop=True, inplace=True) # No return value

In [ ]:
xseries # Modified inplace

The following ```Series``` methods have the parameter ```inplace``` and are therefore immutable by default but are mutable when this parameter is assigned to ```True```:

In [ ]:
print_identifier_group(xseries, kind='function', has_parameter='inplace')

Notice that most of these are used to fill, interpolate or drop values along a ```Series``` in response to missing data. 

```sort_values``` for example can be used to sort the values along a ```Series```, by default ```inplace=False``` and the method is immutable:

In [ ]:
xseries.sort_values(ascending=False) # Return value

Recall when an immutable method is used with assignment, the new value returned on the right of the assignment operator is assigned to the instance name or label on the left of the assignment operator. If the instance name is conceptualised as a label, then a reassignment peels the label from the original instance and places it on the new instance created:

In [ ]:
xseries = xseries.sort_values(ascending=False)

In [ ]:
xseries

On the other hand when a method is immutable, there is no return value and the ```Series``` is updated inplace:

In [ ]:
xseries.sort_values(ascending=True, inplace=True) # No return value

In [ ]:
xseries

If assignment is used with an mutable function, the return value of the function is ```None``` and therefore ```None``` will be assigned to the ```new_label```:

In [ ]:
new_label = xseries.sort_values(ascending=True, inplace=True)

In [ ]:
new_label

And therefore reassignment with the ```inplace``` parameter set to ```True``` should be avoided as the value will being reassigned will be ```None```:

In [ ]:
xseries = xseries.sort_values(ascending=True, inplace=True)

In [ ]:
xseries

By convention immutable methods have a ```return``` value and mutable methods have no ```return``` value. An exception to this is the mutable method ```pop``` which returns the popped value and mutates the ```Series``` in place:

In [ ]:
xseries = pd.Series([4.1, 2.1, 3.1, 1.1], name='x')

In [ ]:
xseries

In [ ]:
xseries.pop(item=1) # Return value

In [ ]:
xseries # Mutated

The methods that have consistent names to the mutable methods in a ```list``` will also be mutable with no ```return``` value. Most of the other methods are immutable and have a ```return``` value.

## Axis

Another common keyword is ```axis```:

In [ ]:
print_identifier_group(xseries, kind='function', has_parameter='axis')

A ```Series``` is a column and only has a single ```axis``` available, ```0```. The operation can be conceptualised as sorting the data in the rows by use of the ```Series``` name and therefore ```axis``` can also be assigned to the ```str``` instance ```'rows'```:

In [ ]:
xseries.sort_values(ascending=True, axis=0)

In [ ]:
xseries.sort_values(ascending=True, axis='rows')

For a ```DataFrame``` there are two values for ```axis```, ```0``` which is the default and ```1```:

In [ ]:
df = pd.DataFrame({'x': np.array([5.1, 2.1, 2.1, 4.1]),
                   'y': np.array([6.2, 7.0, 2.1, 1.2])},
                   index=['a', 'b', 'c', 'd'])

In [ ]:
df

The default ```axis``` is ```0``` which is equivalent to the ```str``` instance ```'rows'```. This is an instruction to sort the data in the rows ```by``` the ordering of the data in the columns:

In [ ]:
df.sort_values(by=['x', 'y'], axis='rows')

Notice that the data is sorted in ascending order by ```'x'``` and in the case where the two values in ```'x'``` have duplicate values are sorted by ```'y'``` :

In [ ]:
df

The ```axis``` can be changed to ```1``` which is equivalent to the ```str``` instance ```'columns'```. This is an instruction to sort the data in the columns ```by``` the ordering of the data in the index:

In [ ]:
df.sort_values(by=['c', 'd'], axis='columns')

The data is sorted in ascending order first by ```'c'``` but the data in the two ```Series``` instances ```'x'``` and ```'y'``` have the same value 2.1 so there is no instruction to specify the order of the ```Series```. The next index value ```'d'``` is used and the value in the ```Series``` instance ```y``` is 1.2 and the ```Series``` instance ```'x'``` is 4.1, therefore ```'y'``` is ordered before ```'x'```.

In the ```NDArray``` negative indexes are quite commonly used to select an ```axis```. This are not used for the ```Series``` (1D) and ```DataFrame``` (2D) instances which are of fixed dimensions.

## Indexing and Slicing

Supposing the following dictionary instance is instantiated:

In [ ]:
mapping = {'x': np.array([1.1, 2.1, 3.1, 4.1]),
           'y': np.array([1.2, 2.2, 3.2, 4.2])}

In [ ]:
mapping

A ```DataFrame``` instance can be instantiated by assigning the ```mapping``` to the keyword input argument ```data```:

In [ ]:
df = pd.DataFrame(data=mapping)

In [ ]:
df

A ```mapping``` can be indexed with a ```key```. This returns the ```value``` the ```key``` references, in this case the ```NDArray```:

In [ ]:
mapping['x']

Analogously, when a ```DataFrame``` is indexed using the ```name``` of a ```Series```, the ```Series``` is returned:

In [ ]:
df['x']

A value in the ```NDArray``` instance can be indexed by use of a second set of square brackets to enclose the numeric index:

In [ ]:
mapping['x'][1]

Analogously, a ```value``` in the ```Series``` can be indexed by use of a second set of square brackets to enclose the numeric index:

In [ ]:
df['x'][1]

If the DataFrame instance is examined:

|index|'x'|'y'|
|---|---|---|
|0|1.1|1.2|
|1|2.1|2.2|
|2|3.1|3.2|
|3|4.1|4.2|

The first set of brackets select the Series:

|index|'x'|
|---|---|
|0|1.1|
|1|2.1|
|2|3.1|
|3|4.1|

And the second set of brackets selects the index retrieving the value:

2.1

If the DataFrame is examined:

|index|'x'|'y'|
|---|---|---|
|0|1.1|1.2|
|1|2.1|2.2|
|2|3.1|3.2|
|3|4.1|4.2|

Sometimes the value for each ```Series``` at a value within the ```Index``` instance is desired:

|index|'x'|'y'|
|---|---|---|
|1|2.1|2.2|

This is done by use of the property location ```loc```. Note that ```loc``` returns the above *row* as a ```Series``` which is displayed by default as a *column*:

|index|1|
|---|---|
|'x'|2.1|
|'y'|2.1|

```loc``` is callable and has a docstring:

In [ ]:
callable(df.loc)

In [ ]:
df.loc?

However unlike most callables it is not called using parenthesis:

In [ ]:
df.loc

In [ ]:
df.loc()

Instead ```loc``` is a property. Under the hood it uses syntactic sugar around the datamodel method ```__getitem__``` that switches the order of indexing from the default ```[column, index]``` to ```[index, column]```:

In [ ]:
df.loc[1]

In [ ]:
df.loc[1]['x']

```loc``` can also uses index values:

In [ ]:
df.loc[[0, 2]]

The related property integer location ```iloc``` always uses a numeric index. Since ```iloc``` has a numeric index, additional numeric operations can be used such as slicing:

In [ ]:
df.iloc[[0, 2]]

In [ ]:
df.iloc[0:2]

If the following DataFrame instance is created with index labels i.e. a non-numeric index:

|index|'x'|'y'|
|---|---|---|
|'a'|1.1|1.2|
|'b'|2.1|2.2|
|'c'|3.1|3.2|
|'d'|4.1|4.2|

In [ ]:
df = pd.DataFrame(index=['a', 'b', 'c', 'd'],
                  data=mapping)

In [ ]:
df

The difference between ```loc``` and ```iloc``` can be seen more clearly. For ```loc``` the index label is used:

In [ ]:
df.loc['b']

Despite the labels being non-numeric ```iloc``` handles the index values numerically:

In [ ]:
df.iloc[1]

Under the hood ```iloc``` essentially uses the ```DataFrame``` instances reset index:

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.iloc[1]

When ```loc``` and ```iloc``` are used to select a single index, the data for each ```Series``` at this index is itself displayed as a ```Series```:

In [ ]:
df.loc['b']

In [ ]:
df.iloc[1]

Because each of the above are a ```Series``` instance, they can in turn be indexed into:

In [ ]:
df.loc['b']['y']

In [ ]:
df.iloc[1]['y']

When ```iloc``` and ```loc``` are instead used to select data from multiple indexes a ```DataFrame``` instance is output:

In [ ]:
df.loc[['a', 'b']]

In [ ]:
df.iloc[0:2]

And because each of these is a ```DataFrame``` instance, the ```Series``` within the ```DataFrame``` instance can then be indexed using the ```Series``` name:

In [ ]:
df.loc[['a', 'b']]['x']

In [ ]:
df.iloc[0:2]['x']

```at``` is used for a scalar selector and requires both the index and the ```Series``` name:

In [ ]:
df.at['a', 'y']

The related integer at ```iat``` is also a scalar selector and requires both the index and column to be specified as integers:

In [ ]:
df.iat[0, 1]

Conceptualise, the ```DataFrame``` being cast to a ```NDArray``` (2D) and indexing a value from it:

In [ ]:
df.to_numpy()

In [ ]:
df.to_numpy()[0, 1]

To recap, for a ```DataFrame``` instance:

* ```__getitem__``` selects a ```Series``` by default
* ```loc``` and ```iloc``` change the behaviour to select an observation from the ```Index``` instance label
* ```at``` and ```iat``` select a scalar element

```loc``` can also be used to add a new observation to the ```DataFrame``` instance:

In [ ]:
df

In [ ]:
df.loc['f'] = {'x': 6.1, 'y': 6.2}

In [ ]:
df.loc['e'] = {'x': 5.1, 'y': 5.2}

The ordering of rows (also known as observations) follows the insertion order:

In [ ]:
df

The ```DataFrame``` method ```sort_index``` can be used to reorder the index:

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df # modified inplace

The ```Index``` instance can also be reset to a numeric index using the ```DataFrame``` instance ```reset_index```:

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df # modified inplace

The length of the ```DataFrame``` gives the number of rows (observations):

In [ ]:
len(df)

Python uses zero-order indexing and the ```Index``` starts at ```0``` (inclusive) and stops at ```len(df)``` (exclusive).

```iloc``` cannot be used to index into an index value that doesn't exist and cannot be used to add a new observation. However ```loc``` can be used to add a numeric index using the ```len``` of the ```DataFrame``` instance:

In [ ]:
df.loc[len(df)] = {'x': 7.1, 'y': 7.2}

In [ ]:
df

## DataFrame Properties

Supposing the following ```DataFrame``` is instantiated to ```df```:

In [ ]:
df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                  data={'x': np.array([1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2, 5.2, 6.2, 7.2])})

In [ ]:
df

The ```DataFrame``` instance has the following dimension related properties. The attribute ```empty``` returns a boolean that is ```True``` only with an empty DataFrame:

In [ ]:
df.empty

In [ ]:
pd.DataFrame(None).empty

A ```DataFrame``` instance has a length, which is returned by the ```builtins``` function ```len```. This was seen previously to correspond to the number of rows (number of observations):

In [ ]:
len(df)

A ```DataFrame``` instance has the attribute ```shape``` which is a ```tuple``` of dimensions. The 1st dimension is the number of rows (observations in the index) and the 2nd value is the number of ```Series``` (columns):

In [ ]:
df.shape

A ```DataFrame``` instance has the attribute ```ndim``` which gives the number fo dimensions and is always ```2```:

In [ ]:
df.ndim

Recall this is equivalent to the length of the ```shape``` ```tuple```:

In [ ]:
len(df.shape)

The ```DataFrame``` instance has a ```size``` attribute which is the product of the elements in the ```shape``` ```tuple```:

In [ ]:
df.size

The ```index``` attribute returns the ```Index``` instance associated with the ```DataFrame```. An ```Index``` instance has a single dimension that can either be depicted as a row or a column. The output below displays this as a row although the index itself is conventionally depicted as a column when incorporated as part of a ```DataFrame```:

In [ ]:
df.index

When no ```index``` is supplied during ```DataFrame``` instantiation a ```RangeIndex``` is automatically generated:

In [ ]:
df2 = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 3.1]),
                         'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df2.index

The ```columns``` attribute also returns an ```Index``` instance corresponding to the names of each ```Series``` in the ```DataFrame```:

In [ ]:
df.columns

The attribute ```axes``` returns a 2 element list, where the first element is the ```index``` attribute and the second element is the ```columns``` attribute:

In [ ]:
df.axes

The attribute ```values``` returns the values in the ```DataFrame``` in the form of a ```NDArray``` (2D):

In [ ]:
df.values

The attribute ```dtypes``` returns the datatypes of each ```Series``` and of the ```DataFrame```:

In [ ]:
df.dtypes

The ```Series``` instances ```x``` and ```y``` are each of the datatype ```float64```, the ```DataFrame``` instance ```df``` is of the datatype ```object```. A ```DataFrame``` instance is always of the type ```object```.

Each existing ```Series``` is accessible as an attribute:

In [ ]:
df.x

In [ ]:
df.y

The formal representation of the ```DataFrame``` instance ```df``` can be examined in a cell:

In [ ]:
df

The attribute ```style``` can instead be used to display a ```DataFrame``` instance using a specific style. The default style is shown:

In [ ]:
df.style

This ```style``` attribute has a number of stackable methods which return a modified ```style``` and can therefore be stacked to apply custom formatting:

In [ ]:
print_identifier_group(df.style, kind='function')

In [ ]:
df.style.format(precision=3).set_caption('DataFrame Instance')

The attributes ```attrs``` is an empty dictionary by default and is designed to store metadata associated with the ```DataFrame``` instance:

In [ ]:
df.attrs

This metadata can include a text description giving information about how the data was collection or contain a link to where the data was sourced from:

In [ ]:
df.attrs = {'description': 'this DataFrame was instantiated from a dict',
            'documentation': r'https://pandas.pydata.org/docs/getting_started/index.html'}

The ```DataFrame``` method ```info``` gives information about the ```DataFrame```:

In [ ]:
df.info()

The ```DataFrame``` method ```describe``` method gives supplementary descriptive statistics on each numeric ```Series```:

In [ ]:
df.describe()

The ```DataFrame``` methods ```head``` and ```tail``` give the top 5 and last 5 observations by default and are usually used to preview a large ```DataFrame``` instance:

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

The number of observations ```n``` defaults to ```5``` and can be changed:

In [ ]:
df.head(n=3)

The ```DataFrame``` method ```nunique``` gives the number of unique observations for each ```Series```:

In [ ]:
df.nunique()

## Attribute Access - Dictionary Syntax vs Dot Syntax

If the following ```DataFrame``` is instantiated to ```df```:

In [ ]:
df = pd.DataFrame(index = np.array(['a', 'b', 'c', 'd']),
                  data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

Each ```Series``` can be accessed from the ```DataFrame``` instance ```df``` by indexing into ```df``` using the corresponding ```Series``` ```name``` enclosed in square brackets. This style of ```Series``` access is analogous to retrieving a value from a ```dict``` by use of its ```key```:

In [ ]:
df['x']

Since the following is ```True```:

In [ ]:
'x'.isidentifier()

```x``` becomes an attribute and can also be accessed using:

In [ ]:
df.x

In [ ]:
df.x is df['x']

A ```Series``` ```name``` only becomes an attribute of a DataFrame **after** it is instantiated and if it is a valid identifier:

In [ ]:
df['z1'] = np.array([1.3, 2.3, 2.3, 2.4])

In [ ]:
df

In [ ]:
df.z1

A ```UserWarning``` displays if the dot syntax is used in an attempt to create a new attribute, leaving the ```df``` instance unchanged. 

Notice when an invalid identifier is used as the ```nam``` for a new ```Series```:

In [ ]:
'1'.isidentifier()

In [ ]:
df['1'] = np.array([1.3, 2.3, 2.3, 2.4])

That it does not show as an attribute:

In [ ]:
print_identifier_group(df, kind='attribute')

For this reason ```Series``` names should generally follow the naming conventions of Python identifiers.

Although the dot attribute access from the ```DataFrame``` instance ```df``` is unavailable for this Series instance ```'1'```. The Series instance ```'1'``` can still be accessed by indexing into the ```DataFrame``` instance ```df``` using the ```Series``` ```name``` ```'1'```:

In [ ]:
df['1']

Accessing a ```Series``` via dictionary-style indexing is therefore more powerful and this syntax is generally preferred.

The major drawback of the dictionary-style indexing syntax is with code-completion. Notice no docstring displays when ```?``` is used:

In [ ]:
df['x'].info?

In [ ]:
df['x'].info()

However if the attribute is used, the docstring displays:

In [ ]:
df.x.info?

In [ ]:
df.x.info()

The ```Series``` method info gives the same result in both cases.

When the ```name``` used in an  ```Index``` is also a valid identifier:

In [ ]:
'a'.isidentifier()

It will be available as an attribute for each  ```Series```:

In [ ]:
df.x.a

The default ```Index``` is numeric ```RangeIndex``` of integer steps which are invalid identifiers:

In [ ]:
'0'.isidentifier()

And therefore when the default ```RangeIndex``` is used:

In [ ]:
df = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

Because these are invalid identifiers they do not show as attributes for any of the ```Series``` belonging to the ```DataFrame``` instance:

In [ ]:
print_identifier_group(df['x'], kind='attribute')

However the ```rows``` can be selected by indexing the numeric index in square brackets:

In [ ]:
df['x'][1]

## Combining DataFrames

```DataFrame``` methods are generally setup for ```Series```. For example if the following ```DataFrame``` instance is examined:

In [ ]:
df = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df

A ```Series``` is typically appended to the end of the ```DataFrame``` by use of:

In [ ]:
df['z'] = np.array([1.3, 2.3, 3.3, 4.3])

In [ ]:
df

Alternatively a ```Series``` can be inserted at a specified index using the mutable method ```insert```:

In [ ]:
df.insert?

In [ ]:
df.insert(loc=0, column='w', value=np.array([1.0, 2.0, 3.0, 4.0]))

In [ ]:
df

Recall to append an observation to a ```DataFrame```, ```loc``` is typically used and assigned to a mapping where the keys are the column names and the values are the associated values at that observation:

In [ ]:
df.loc[len(df)] = {'w': 5.0, 'x': 5.1, 'y': 5.2, 'z': 5.3}

In [ ]:
df

When multiple observations are to be appended to a ```DataFrame``` they are normally in the form of a ```DataFrame```:

In [ ]:
df2 = pd.DataFrame(index=np.array([5, 6]),
                                  data = {'w': np.array([6.0, 7.0]),
                                          'x': np.array([6.1, 7.1]),
                                          'y': np.array([6.2, 7.2]),
                                          'z': np.array([6.3, 7.3])})

In [ ]:
df

In [ ]:
df2

The function ```pd.concat``` can be used to concatenate these two ```DataFrame``` instances:

In [ ]:
pd.concat?

For example, ```df``` and ```df2``` can be concatenated along ```axis``` ```0``` which recall is ```'rows'``` (the index):

In [ ]:
pd.concat(objs=[df, df2], axis='rows') #'index'

If these ```DataFrame``` instances are created with the default indexes:

In [ ]:
df.reset_index(drop=True, inplace=True)
df

In [ ]:
df2.reset_index(drop=True, inplace=True)
df2

Notice the index now has duplicate entires:

In [ ]:
pd.concat(objs=[df, df2])

In such a scenario it is common to assign ```ignore_index``` to ```True``` which will recreate a numeric ```RangeIndex```:

In [ ]:
pd.concat([df, df2], ignore_index=True)

When a ```DataFrame``` instance has a ```Series``` not in common with the second ```DataFrame``` instance being concatenated:

In [ ]:
df = pd.DataFrame(data={'x': np.array([1.1, 2.1, 3.1, 4.1]),
                        'y': np.array([1.2, 2.2, 3.2, 4.2])})

In [ ]:
df2 = pd.DataFrame(data = {'w': np.array([6.0, 7.0]),
                           'z': np.array([6.3, 7.3])})

In [ ]:
df

In [ ]:
df2

The ```DataFrame``` instances can be ```'outer'``` joined (the default). This will lead to ```NaN``` values where no data was supplied:

In [ ]:
pd.concat(objs=[df, df2], axis='columns', join='outer') #'columns'

Alternatively the two ```DataFrame``` instances can be ```'inner'``` joined, which will drop the observations that are missing data:

In [ ]:
pd.concat([df, df2], axis='columns', join='inner') #'columns'

The ```DataFrame``` method ```align``` can be used to align the data of a ```DataFrame``` with another ```DataFrame``` instance for the purpose of comparison:

In [ ]:
df3 = pd.concat([df, df2], axis=1, join='inner') #'columns'

In [ ]:
df.align(other=df3)

## Not Available Values

The following ```DataFrame``` can be instantiated to ```df``` with multiple ```None``` values:

In [ ]:
df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                  data={'x': np.array([1.1, None, 3.1, None, 5.1, None, 7.1]),
                        'y': np.array([1.2, None, 3.2, 4.2, 5.2, 6.2, 7.2])})

The ```DataFrame``` instance ```df``` information can be examined. Notice that there are 7 rows; 4 rows have available (non-null) values in ```Series``` instance ```x``` and ```6``` rows have available (non-null) values in ```Series``` instance ```y```:

In [ ]:
df.info()

The ```DataFrame``` instance ```df``` descriptive statistics can be viewed:

In [ ]:
df.describe()

Notice in the information that the datatype is now ```object``` instead of ```float64```. The ```DataFrame``` instance uses the datatype ```object``` for each ```Series``` because each of these ```Series``` contain the value ```None``` which is a generic Python ```object```:

In [ ]:
df

The datatype of each ```Series``` in the ```DataFrame``` can be changed to a ```float``` using the method ```astype```:

In [ ]:
df.astype(float)

Notice the values that were previously ```None``` are cast into ```NaN``` (Not a Number). ```NaN``` conceptually is similar to ```None``` however it has a datatype of ```float``` and is therefore designated as being numeric. ```Series``` instances that only have numeric data inclusive of ```NaN``` therefore have the datatype ```float```. Both ```None``` and ```NaN``` are classified as ```not available``` values and are known collectively as ```null``` values.

The changes can be seen when the ```DataFrame``` method ```info``` is used on the returned ```DataFrame``` instance:

In [ ]:
df.astype(float).info()

Notice the changes when the ```DataFrame``` method ```describe``` is used on the returned ```DataFrame``` instance. Because each ```Series``` is numeric additional statics can be calculated:

In [ ]:
df.astype(float).describe()

The ```DataFrame``` method drop not available ```dropna``` can be used to drop not available values (```None``` or ```NaN``` values) outputting a new ```DataFrame``` instance. Notice the number of rows is now reduced to 4:

In [ ]:
df.dropna()

If the ```DataFrame``` method ```info``` is used on this new ```DataFrame``` instance, notice the datatype of each ```Series``` is still ```object``` and not ```float64```:

In [ ]:
df.dropna().info()

The ```DataFrame``` method ```astype``` can be used to change the datatype of each ```Series``` in the returned ```DataFrame``` to ```float``` once again and this once again outputs a new ```DataFrame``` instance. If the ```DataFrame``` method ```info``` is examined for this new ```DataFrame``` instance, each ```Series``` now has a ```float64``` datatype:

In [ ]:
df.dropna().astype(float).info()

Note ```DataFrame``` methods are often stacked for convenience:

* df # Original DataFrame instance 1
* df.drop(na) # returns a DataFrame instance 2
* df.drop(na).astype(float) # returns a DataFrame instance 3

A ```Series``` can also be selected from ```DataFrame``` instance 3:

In [ ]:
df.dropna().astype(float)['x']

And a ```Series``` method ```astype``` can be used on this ```Series``` returning another ```Series```:

In [ ]:
df.dropna().astype(float)['x'].astype(int)

The ```DataFrame``` method ```dropna``` was demonstrated over a small ```DataFrame``` instance with a small number of rows. This method is however usually only typically employed on a ```DataFrame``` that contains a large number of rows that has enough data for further analysis without that isn't influence too much by the missing values. For a sparse dataset, it is common to attempt to fill in the missign values in some way. The ```DataFrame``` method ```fillna``` can be used to fill in not available values. These can be filled with a constant value:

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(np.inf)

Alternatively the ```DataFrame``` method ```ffill``` can be used to linearly forward fill missing data. When using the forward fill, the previous available value is used to replace the not available value:

In [ ]:
df.ffill()

This can be aligned with the original ```DataFrame``` instance for comparison:

In [ ]:
df.ffill().align(df)

The related ```DataFrame``` method ```bfill``` can be used to linearly backwards fill missing data. When using the backward fill, the subsequent available value is used to replace the not available value:

In [ ]:
df.bfill().align(df)

The ```DataFrame``` method ```interpolate``` method can use neighbouring datapoints to interpolate a missing value. It has a keyword input argument ```method``` which can be used to specify an interpolation method. Note that all the data in the ```DataFrame``` must be cast to numeric for the ```interpolate``` method to be used:

In [ ]:
df.astype(float).interpolate(method='linear')

Sometimes it is preferable to use the ```Series``` method ```interpolate``` which is consistent:

In [ ]:
df['x'].astype(float).interpolate(method='linear')

Many of the interpolation methods need a numeric index to work properly:

In [ ]:
df['x'].astype(float).reset_index(drop=True).interpolate(method='linear')

A new ```DataFrame``` instance can be created where each ```Series``` is an interpolated method used on the original ```Series``` ```'x'```. The ```Series``` methods ```astype``` and ```reset_index``` will be used to cast the ```Series``` ```'x'``` to a ```float``` with a numeric index. The original index from the ```Series``` ```'x'``` can be assigned to the new ```DataFrame``` instance after the interpolation:

In [ ]:
df2 = pd.DataFrame({'x': df['x'].astype(float).reset_index(drop=True),
                    'x_1': df['x'].astype(float).reset_index(drop=True).interpolate(method='linear'),
                    'x_2': df['x'].astype(float).reset_index(drop=True).interpolate(method='polynomial', order=2),
                    'x_3': df['x'].astype(float).reset_index(drop=True).interpolate(method='polynomial', order=3)})
df2.index = df['x'].index

In [ ]:
df2

The ```DataFrame``` method ```isna``` returns a boolean ```DataFrame``` instance which is ```True``` for not available values and ```False``` otherwise:

In [ ]:
df.isna()

The opposite method ```notna``` returns a boolean ```DataFrame``` of inverse values:

In [ ]:
df.notna().align(df.isna())

These two methods have the alias ```isnull``` and ```notnull``` respectively which are used for consistency with the R programming language.

The boolean mask above can be used to index into the ```DataFrame``` instance:

In [ ]:
bool_mask = df.notna()

Notice indexing using the boolean mask updates ```None``` to ```NaN```:

In [ ]:
df

In [ ]:
df[bool_mask]

## String Series and String Methods

Supposing the following list of words is instantiated:

In [ ]:
words = 'the quick brown for jumped over the lazy dog'.split()

In [ ]:
words

Using ```len``` of words will return the number of words in the outer collection which is the ```list``` and not the length of each inner collection which is the word:

In [ ]:
len(words)

To instead get a ```list``` of the length of each word, ```list``` comprehension can be used:

In [ ]:
[len(word) for word in words]

This can also be done using ```map```:

In [ ]:
map(len, words)

In [ ]:
list(map(len, words))

If an analogous ```Series``` is instantiated to ```words```:

In [ ]:
words = pd.Series(data='the quick brown for jumped over the lazy dog'.split())

In [ ]:
words

Using ```len``` on the ```Series``` will return the number of rows:

In [ ]:
len(words)

The ```Series``` method ```map``` is similar to the ```builtins``` function ```map``` and can be used to individually ```map``` a ```function``` to the ```Series```:

In [ ]:
words.map(len)

Since every element in the ```Series``` is a ```str``` instance, a ```str``` method can be applied to each element using ```map``` and a ```lambda``` expression:

In [ ]:
words.map(lambda str: str.upper())

Recall that ```str``` instances are ordinal and the ```builtins``` universal ```max``` function can be mapped to get a ```Series``` that has the letter corresponding to the highest ordinal value in the word:

In [ ]:
words.map(max)

If the ```DataFrame``` is instantiated to ```df```:

In [ ]:
df = pd.DataFrame({'words': words,
                   'maximum': words.map(max)})

In [ ]:
df

The ```DataFrame``` has a consistent method ```map``` which operates element by element:

In [ ]:
df.map(max)

The ```DataFrame``` also has the method ```apply``` which operates along an ```axis```:

In [ ]:
df.apply(max, axis='rows')

In [ ]:
df.apply(max, axis='columns')

Most universal functions are implemented as ```Series``` and ```DataFrame``` methods:

In [ ]:
words.max(axis='rows')

In [ ]:
words.min(axis='rows')

A ```Series``` has the attribute ```str``` which can be used to quickly access ```str``` methods:

In [ ]:
words.str.zfill(20)

The ```str``` datamodel method ```__len__``` is available under the ```str``` attribute as ```len```:

In [ ]:
words.str.len()

If the lengths of each strings are examined:

In [ ]:
lengths = words.map(len)

In [ ]:
lengths

A function can be created to cast a numeric length into a ```str``` for example ```3``` to ```'three'```:

In [ ]:
def get_length_str(length):
    match length:
        case 3:
            return 'three'
        case 4:
            return 'four'
        case 5:
            return 'five'
        case 6:
            return 'six'

This function can be applied to the ```length``` ```Series``` using ```map```:

In [ ]:
lengths.map(get_length_str)

## Numeric Series

If a ```DataFrame``` with numeric ```Series``` ```x```, ```y``` and ```z``` is instantiated to ```df```:

In [ ]:
df = pd.DataFrame({'x': [1, 2, 3, 4, 5],
                   'y': [-2, -4, 6, 8, 10],
                   'z': [12, 24, 48, -63, -999]})

In [ ]:
df

The ```DataFrame``` method ```apply``` can be used to apply the builtins universal function ```max```:

In [ ]:
df.apply(max, axis='rows')

In [ ]:
df.apply(max, axis='columns')

Note however that most the universal functions from ```builtins``` or ```numpy``` are implemented directly as ```DataFrame``` methods:

In [ ]:
df.max(axis='rows')

In [ ]:
df.min(axis='rows')

In [ ]:
df.mean(axis='rows')

In [ ]:
df.var(axis='rows')

In [ ]:
df.std(axis='rows')

And the datamodel identifiers for a numeric ```Series``` are configured for numeric operations:

In [ ]:
df['x'] + df['y']

In [ ]:
df['x'] + 5

The ```apply``` function can also be used with a ```tuple``` of universal functions outputting a ```DataFrame``` instance opposed to a Series:

In [ ]:
df.apply((len, max, min, np.mean, np.var, np.std))

## Categorical Series

Another common type of ```Series``` is a category ```Series```:

In [ ]:
df = pd.DataFrame({'student_names': ['student' + str(num) for num in range(1, 9)],
                   'grades': ['b', 'F', 'A', 'C', 'a', 'C', 'B', 'A']})

When instantiated, the categories will normally be recognised as ```str``` instances:

In [ ]:
df

And the datatypes will therefore be ```object``` for each ```Series```:

In [ ]:
df.dtypes

The datatype of a ```Series``` can be changed using the method ```astype```. To change to category use the input argument ```'category'```:

In [ ]:
df['grades'].astype('category')

The original ```Series``` can be reassigned to the new ```Series``` that are now categorical:

In [ ]:
df['grades'] = df['grades'].astype('category')

If the ```DataFrame``` instance is examined, it looks the same:

In [ ]:
df

However its datatype is updated:

In [ ]:
df.dtypes

A categorical ```Series``` also has the attribute ```cat``` which groups together attributes and methods commonly used for categorical ```Series```:

In [ ]:
print('attributes', end=' ')
print_identifier_group(df['grades'].cat, kind='attribute')
print('methods', end=' ')
print_identifier_group(df['grades'].cat, kind='function')

The ```Series.cat``` attribute ```categories``` can be used to get the names of the existing categories:

In [ ]:
df['grades'].cat.categories

Notice that these categories have uppercase and lowercase variants. A ```list``` comprehension can be used with a ```str``` method to change the lowercase grades to uppercase:

In [ ]:
old_grade_categories = df['grades'].cat.categories
new_grade_categories = [grade.upper() for grade in old_grade_categories]
new_grade_categories

A category mapping can then be created:

In [ ]:
category_mapping = dict(zip(old_grade_categories, new_grade_categories))
category_mapping

This is the type of ```mapping``` that can be used with the ```Series.cat``` method ```rename_categories``` however at present this method does not support merging of categories and flags a ```ValueError``` because some of the ```values``` are the same:

In [ ]:
# df['grades'].cat.rename_categories(category_mapping)

It is therefore easier to manipulate the ```str``` datatype ```Series``` and then cast it to a ```category``` datatype ```Series```:

In [ ]:
df['grades'] = df['grades'].str.lower().astype('category')
df['grades']

When all the values in the mapping are unique, the ```DataFrame``` method ```rename_category``` works as expected:

In [ ]:
old_grade_categories = df['grades'].cat.categories
new_grade_categories = [grade.upper() for grade in old_grade_categories]
category_mapping = dict(zip(old_grade_categories, new_grade_categories))
category_mapping

In [ ]:
df['grades'] = df['grades'].cat.rename_categories(category_mapping)
df['grades']

Categories are often used for boolean selectors:

In [ ]:
df[df['grades'] == 'A']

In [ ]:
df[df['grades'] == 'B']

In [ ]:
df[(df['grades'] == 'A') | (df['grades'] == 'B')]

Only the equal to ```==``` and not equal to ```!=``` operators are defined for unordered categoricals. A ```TypeError``` displays if one of the other comparison operators is attempted to be used:

The ```Series.cat``` method ```as_ordered``` can be used to ordinally order categories:

In [ ]:
df['grades'].cat.as_ordered()

In this case, the order desired is reverse the ordinal values because ```'A'``` corresponds to a higher grade than ```'F'```:

In [ ]:
df['grades'].cat.reorder_categories(new_categories = ('F', 'C', 'B', 'A'),
                                    ordered=True)

The original ```Series``` can be reassigned:

In [ ]:
df['grades'] = df['grades'].cat.reorder_categories(new_categories = ('F', 'C', 'B', 'A'),
                                                   ordered=True)

In [ ]:
df[df['grades'] >= 'B']

When sorting out data in ```DataFrames```, ordinal ```Series``` are quite often used:

In [ ]:
df.sort_values(['grades', 'student_names'])

If the ```DataFrame``` method ```count``` is used, it will return the number of rows in each ```Series``` and return this information as a new ```Series```:

In [ ]:
df.count()

A ```GroupBy``` instance can be created:

In [ ]:
gbo = df.groupby(df['grades'], observed=True)

This ```gbo``` instance is essentially a ```DataFrame``` with an additional groupby instruction that is applied when a ```DataFrame``` method such as ```count``` is used. Notice that a ```DataFrame``` instance is returned:

In [ ]:
gbo.count()

A ```GroupBy``` instance can be created from a ```Series```:

In [ ]:
gbo = df['grades'].groupby(df['grades'], observed=True)

This ```gbo``` instance is essentially a ```Series``` with an additional groupby instruction that is applied when a ```Series``` method such as ```count``` is used. A ```Series``` instance is returned:

In [ ]:
gbo.count()

Some ```Series``` methods like ```describe``` provide information spanning over multiple ```Series``` and will therefore return a ```DataFrame``` instance:

In [ ]:
gbo.describe()

Notice the slight difference with the column grouping ```student_names``` being used to group the statistical information (```count```, ```unique```, ```top``` and ```freq```) which for that specific ```Series```.

In [ ]:
df

The difference can be seen more clearly if a second category is added to the ```DataFrame```:

In [ ]:
import random
random.seed(0)
df['sex'] = pd.Series([random.choice(['F', 'M']) for num in range(8)])
df['sex'] = df['sex'].astype('category')

In [ ]:
df

Now when the ```DataFrame``` instance ```df``` is grouped by the ```Series``` ```grades``` followed by the ```DataFrame``` method ```describe```. Descriptive statistics are shown for each ```Series``` and each of these statistics is grouped using a multilevel ```Index```:

In [ ]:
df.groupby('grades', observed=True).describe()

If this ```DataFrame``` is indexed into using the top level column name:

In [ ]:
df.groupby('grades', observed=True).describe()['sex']

This returns a single-index ```DataFrame``` which can also be indexed into for example by using the column name ```count```:

In [ ]:
df.groupby('grades', observed=True).describe()['sex']['count']

The ```DataFrame``` can be grouped by a list of multiple ```Series``` names. This gives a multi-level index for both the ```Series``` and ```Index```:

In [ ]:
df.groupby(['grades', 'sex'], observed=True).describe()

Returning to:

In [ ]:
df

A function can be made to generate a random ```score``` in response to a ```grade```:

In [ ]:
def generate_score(grade):
    random.seed(0)
    match grade:
        case 'A':
            return random.randint(70, 101)
        case 'B':
            return random.randint(60, 70)  
        case 'C':
            return random.randint(50, 60)
        case 'F':
            return random.randint(0, 50)

This custom function can be applied to the ```grades``` ```Series``` to generate a ```Series``` of random marks for each student:

In [ ]:
df['scores'] = df['grades'].map(generate_score)

In [ ]:
df

Categories can be created from ordinal values using the pandas function ```pd.cut```:

In [ ]:
pd.cut(x=df['scores'], bins=[0, 50, 60, 70, 101])

In the output below the ```(``` means inclusive of the boundary and the ```]``` means exclusive of the top boundary. For convenience this will be inserted into the ```DataFrame``` at column index 3. Recall ```insert``` is an immutable method and occurs in place:

In [ ]:
df.insert(3, 'score_cats', pd.cut(x=df['scores'], bins=[0, 50, 60, 70, 101]))

In [ ]:
df

```cut``` can be used with the keyword labels. Notice that there are ```5``` values for ```bins``` and ```4``` values for ```labels```, this is because each bin is between two values:

In [ ]:
pd.cut(x=df['scores'], bins=[0, 50, 60, 70, 101], labels=['F', 'C', 'B', 'A'])

Notice that these categories are also automatically ordinal:

In [ ]:
df.insert(4, 'calculated_grades', pd.cut(x=df['scores'], bins=[0, 50, 60, 70, 101], labels=['F', 'C', 'B', 'A']))

In [ ]:
df

## DateTime

In ```pandas``` date and time intervals are based upon the datatypes ```datetime64``` or ```timedelta64``` from the ```numpy``` library:

The ```datetime64``` class is normally initialised using a timestamp string of the following format:

```python
np.datetime64('YYYY-MM-DD')
np.datetime64('YYYY-MM-DDThh:mm:ss:μμμμμμ')
```

For example:

In [ ]:
np.datetime64('2023-07-25')

In [ ]:
np.datetime64('2023-07-25T14:30:15.123456')

The ```timedelta64``` is normally initialised using a set of tuples where ```X``` is the quantity followed by the unit:

```python
np.datetime64(X, 'U')
```

These are usually combined using addition:

In [ ]:
np.timedelta64(1, 'D') + np.timedelta64(1, 'h') + np.timedelta64(1, 's') + np.timedelta64(1, 'ms')

These can be used to make an ```Index``` or ```Series``` respectively, using the ```np.arange``` function:

In [ ]:
start_time = np.datetime64('2023-07-25')
end_time = np.datetime64('2023-07-26')
time_interval = np.timedelta64(1, 'h')

In [ ]:
times = np.arange(start=start_time, #inclusive
                  stop=end_time, #exclusive
                  step=time_interval)

In [ ]:
times

These times can be cast into an ```Index``` or ```Series```:

In [ ]:
pd.Index(times)

In [ ]:
pd.Series(data=times, name='times')

The ```Index``` of the datatype ```datetime64``` can be used as a time index alongside measurement Series for example emulated temperature, ph and humidity data:

In [ ]:
np.random.seed(0)

In [ ]:
df = pd.DataFrame(index=pd.Index(times),
                  data={'temperature': 25 + np.random.randn(24),
                        'ph': 7 + np.random.randn(24) / 10,
                        'humidity': 100 - np.random.randint(0, 100, 24)})

In [ ]:
df

```loc``` can be used to retrieve the data at a specified ```datetime64```:

In [ ]:
df.loc['2023-07-25T01:00:00']

```iloc``` can also be used with the ```int``` which would correspond to the ```RangeIndex``` if the ```Index``` is reset:

In [ ]:
df.iloc[1]

A comparison between two times can be made:

In [ ]:
df.loc['2023-07-25 16:00:00'] - df.loc['2023-07-25T01:00:00']

In addition to the ```Index``` of datatype ```datetime64``` the ```Series``` instance ```times``` can be added to the ```DataFrame``` instance ```df```:

In [ ]:
df['times'] = times

In [ ]:
df

When ```loc``` is used to calculate the difference between two measurements at the two different times, the time difference, i.e. ```timedelta64``` will be calculated:

In [ ]:
df.loc['2023-07-25 16:00:00'] - df.loc['2023-07-25T01:00:00']

The ```Series``` method ```tz_localize``` can be used to specify a ```timezone``` using the input argument ```tz```. For example in the UK:

In [ ]:
df['times'].tz_localize(tz='Europe/London')

And in the Czech Republic:

In [ ]:
df['times'].tz_localize(tz='Europe/Prague')

Care needs to be taken with non-UTC timezones as clock changes leads to ambiguous times. In the UK one of biannual clock changes can be examined:

In [ ]:
start_time = np.datetime64('2023-10-28T11:00:00')
end_time = np.datetime64('2023-10-29T03:00:00')
time_interval = np.timedelta64(30, 'm')

In [ ]:
utc_times = np.arange(start=start_time, #inclusive
                      stop=end_time, #exclusive
                      step=time_interval)

In [ ]:
pd.Index(utc_times).tz_localize(tz='Europe/London', ambiguous=True)

In [ ]:
pd.Index(utc_times).tz_localize(tz='Europe/London', ambiguous='NaT')