# datetime and zoneinfo modules

The datetime module contains classes for manipulating dates and times and is complemented by the zoneinfo module which has improvements on timezone implementations.

Typically the following four classes are used from the datetime module and can be imported into the main namespace by using:

In [1]:
from datetime import date, time, datetime, timedelta

Note that these classes are in lowercase instead of PascalCase. This is because they are classes from a module in the standard library which is strongly associated with Python builtins. Note also that there is a datetime class in the datetime module.

There is also a tzinfo class used for timezone information however this is superseded by the ZoneInfo class from the zoneinfo module. This can also be imported directly:

In [2]:
from zoneinfo import ZoneInfo

## date class

The initialization signature of the date class can be viewed by inputting:

In [3]:
? date

Init signature:  date(self, /, *args, **kwargs)
Docstring:      date(year, month, day) --> date object
File:           c:\users\pyip\appdata\local\mambaforge\envs\jupyterlab\lib\datetime.py
Type:           type
Subclasses:     datetime

It requires three input arguments, the year, the month and the day which are collectively needed to specify a calendar date. 

For example, a date instance corresponding to the release date of python3 can be created. For clarity, the year, month and day can be provided as input arguments:

In [4]:
py3rd = date(year=2008, month=12, day=3)

Note the time is shown using descending format year, month and then day to prevent confusion:

In [5]:
py3rd

datetime.date(2008, 12, 3)

A date instance is immutable. A list of identifiers from this date instance can be split into attributes and methods using:

In [6]:
for identifier in dir(date):
    if not callable(getattr(date, identifier)):
        print(identifier, end=' ')

__doc__ day max min month resolution year

In [7]:
for identifier in dir(date):
    if callable(getattr(date, identifier)):
        print(identifier, end=' ')

__add__ __class__ __delattr__ __dir__ __eq__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __ne__ __new__ __radd__ __reduce__ __reduce_ex__ __repr__ __rsub__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__ ctime fromisocalendar fromisoformat fromordinal fromtimestamp isocalendar isoformat isoweekday replace strftime timetuple today toordinal weekday

The attributes give details about the values input arguments supplied:

In [8]:
py3rd.year

2008

In [9]:
py3rd.month

12

In [10]:
py3rd.day

3

The attributes min and max are class attributes and give the minimum and maximum possible date instance:

In [11]:
date.min

datetime.date(1, 1, 1)

In [12]:
date.max

datetime.date(9999, 12, 31)

The class attribute resolution, gives the time resolution of the date instance, as a timedelta instance:

In [13]:
date.resolution

datetime.timedelta(days=1)

Note this is in days which corresponds to the lowest unit possible for the date instance.

A date can be constructed in multiple ways and therefore the date class has a number of alternative constructors beginning with from and associated to methods.

The informal string representation of a date instance is in the isoformat:

In [14]:
str(py3rd)

'2008-12-03'

The class method fromisoformat can be used to construct a time instance from an isoformat string which is of the form 'yyyy-mm-dd':

In [15]:
date.fromisoformat('2008-12-03')

datetime.date(2008, 12, 3)

The method weekday gives a zero-order index weekday where Monday is at index 0 and Sunday is at index 6:

In [16]:
py3rd.weekday()

2

The method isoweekday gives a first-order index weekday where Monday is at index 1 and Sunday is at index 7:

In [17]:
py3rd.isoweekday()

3

The method isocalendar returns a date in the isoformat which contains a year, week and weekday:

In [18]:
py3rd.isocalendar()

datetime.IsoCalendarDate(year=2008, week=49, weekday=3)

The method fromisocalendar is an alternative constructor using this format. The named parameters are however slightly inconsistent using day in fromisocalendar and weekday in isocalendar:

In [19]:
date.fromisocalendar(year=2008, week=49, day=3)

datetime.date(2008, 12, 3)

The ordinal date begins at:

In [20]:
date.min

datetime.date(1, 1, 1)

And 1 ordinal unit is 1 day:

In [21]:
py3rd.toordinal()

733379

This can be calculated as:

In [22]:
(2008 - 1) * 365.2425 + (12 - 1) * 30.4 + (3 - 1) + 1

733379.0975

The +1 at the end is because 2008 is a leap year. The fromordinal alternative constructor will construct a date instance from this time:

In [23]:
date.fromordinal(733379)

datetime.date(2008, 12, 3)

The time module has a time function which returns the time as a timestamp. This is a unit of measurement in seconds that begins from the Epoch Time 1970, 1, 1 which is designated 0 milliseconds. This time function will be imported as t_time to avoid a naming clash with time from the datetime module:

In [24]:
from time import time as t_time

In [25]:
t_time()

1692192525.826751

The alternative constructor fromtimestamp can be used to construct a time from this:

In [26]:
date.fromtimestamp(t_time())

datetime.date(2023, 8, 16)

There is no export to a timestamp as the date is not accurate enough for this unit of measurement.

The alternative constructor today will construct a date from the system clock:

In [27]:
date.today()

datetime.date(2023, 8, 16)

A date can also be converted to a timetuple:

In [28]:
py3rd.timetuple()

time.struct_time(tm_year=2008, tm_mon=12, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=338, tm_isdst=-1)

Or a C-style time string:

In [29]:
py3rd.ctime()

'Wed Dec  3 00:00:00 2008'

A formatted string for the date instance can be created using strftime. Lower case format codes are used for a date %y, %m, %d in a 2 digit format:

In [30]:
py3rd.strftime('%y')

'08'

In [31]:
py3rd.strftime('%m')

'12'

In [32]:
py3rd.strftime('%d')

'03'

The upper case variation %Y give the years in 4 digits:

In [33]:
py3rd.strftime('%Y')

'2008'

The upper case %d gives the date in the American format(month, day and year):

In [34]:
py3rd.strftime('%D')

'12/03/08'

In [35]:
py3rd.strftime(r'%m/%d/%y')

'12/03/08'

The British format can be constructed

In [36]:
py3rd.strftime(r'%d/%m/%y')

'03/12/08'

The upper case %M is reserved for a time, corresponding to a minute and will be examined when the time class is examined.

The replace method can be used with the keywords year, month and date to replace an attribute in the original date instance and because an instance of the date class is immutable outputs a new date instance:

In [37]:
py3rd.replace()

datetime.date(2008, 12, 3)

In [38]:
py3rd.replace(year=2009)

datetime.date(2009, 12, 3)

The data model methods can now be examined:

In [39]:
for identifier in dir(date):
    iscallable = callable(getattr(date, identifier))
    isdatamodel = identifier.startswith('_')
    
    if iscallable and isdatamodel:
        print(identifier, end=' ')

__add__ __class__ __delattr__ __dir__ __eq__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __ne__ __new__ __radd__ __reduce__ __reduce_ex__ __repr__ __rsub__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__

The object based data model methods behave as expected, the builtins class type uses the data model \_\_class\_\_ to return the class:

In [40]:
type(py3rd)

datetime.date

The data model identifiers \_\_repr\_\_ and \_\_str\_\_ are defined meaning the formal and informal string representation can be obtained using the builtins repr function and str class respectively.

There is a difference between the formal representation, which displays the default form used to construct a date instance:

In [41]:
repr(py3rd)

'datetime.date(2008, 12, 3)'

And the informal representation which shows the date instance in the iso format:

In [42]:
str(py3rd)

'2008-12-03'

date instances are ordinal and the following data model methods are defined \_\_eq\_\_, \_\_ne\_\_, \_\_lt\_\_, \_\_le\_\_, \_\_gt\_\_, and \_\_ge\_\_ corresponding to the 6 comparison operators ==, !=, <, <=, > and >=:

In [43]:
py2rd = date(year=1991, month=2, day=20)

In [44]:
py3rd == py2rd

False

In [45]:
py3rd > py2rd

True

The \_\_sub\_\_ data model identifier is also defined and can be used between two dates to get the number of days between the two data as a timedelta instance:

In [46]:
py3rd - py2rd

datetime.timedelta(days=6496)

In [47]:
py2rd - py3rd

datetime.timedelta(days=-6496)

The \_\_add\_\_ operator is also defined and is used to add a date instance to the number of days in the form of a timedelta instance to get a new date:

In [48]:
py2rd + timedelta(days=6496)

datetime.date(2008, 12, 3)

## time class

The initialization signature of the time class can be viewed by inputting:

In [49]:
? time

Init signature:  time(self, /, *args, **kwargs)
Docstring:
time([hour[, minute[, second[, microsecond[, tzinfo]]]]]) --> a time object

All arguments are optional. tzinfo may be None, or an instance of
a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\pyip\appdata\local\mambaforge\envs\jupyterlab\lib\datetime.py
Type:           type
Subclasses:

A time instance can be constructed by specifying the hours, minutes, seconds and microseconds (the lower units of measurement are optional):

In [50]:
noon = time(hour=12, minute=0, second=0)

In [51]:
noon

datetime.time(12, 0)

A time post noon can be specified:

In [52]:
postnoon = time(hour=12, minute=13, second=14, microsecond=156789)

In [53]:
postnoon

datetime.time(12, 13, 14, 156789)

The attributes and methods from the time class can be examined:

In [54]:
for identifier in dir(time):
    if not callable(getattr(time, identifier)):
        print(identifier, end=' ')

__doc__ fold hour max microsecond min minute resolution second tzinfo

In [55]:
for identifier in dir(time):
    if callable(getattr(time, identifier)):
        print(identifier, end=' ')

__class__ __delattr__ __dir__ __eq__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __ne__ __new__ __reduce__ __reduce_ex__ __repr__ __setattr__ __sizeof__ __str__ __subclasshook__ dst fromisoformat isoformat replace strftime tzname utcoffset

The time attributes corresponding to each unit are not abbreviated:

In [56]:
postnoon.hour

12

In [57]:
postnoon.minute

13

In [58]:
postnoon.second

14

In [59]:
postnoon.microsecond

156789

The attributes min and max are class attributes and give the minimum and maximum possible date instance:

In [60]:
time.min

datetime.time(0, 0)

In [61]:
time.max

datetime.time(23, 59, 59, 999999)

Do not confuse min with minute.

The class attribute resolution, gives the time resolution of the date instance, as a timedelta instance:

In [62]:
time.resolution

datetime.timedelta(microseconds=1)

Note the resolution here is 1 microsecond opposed to 1 day.

A time can be constructed in multiple ways and therefore the time class has a number of alternative constructors beginning with from and associated to methods.

The informat string representation displays the string in the isoformat:

In [63]:
str(postnoon)

'12:13:14.156789'

The isoformat function is an alias for this:

In [64]:
postnoon.isoformat()

'12:13:14.156789'

The alternative constructor fromisoformat can construct a time instance from an isoformat string:

In [65]:
time.fromisoformat('12:13:14.156789')

datetime.time(12, 13, 14, 156789)

A formatted string for the time object with its own associated format codes using strftime. Upper case format codes are used for a time %H, %M, %S and lower case %f is used for the microseconds:

In [66]:
postnoon.strftime('%H')

'12'

In [67]:
postnoon.strftime('%M')

'13'

In [68]:
postnoon.strftime('%S')

'14'

In [69]:
postnoon.strftime('%f')

'156789'

The replace method can be used with the keywords hour, minute, seconds and microseconds to replace an attribute in the original time instance and because an instance of the time instance is immutable outputs a new time instance:

In [70]:
postnoon.replace()

datetime.time(12, 13, 14, 156789)

In [71]:
postnoon.replace(hour=15)

datetime.time(15, 13, 14, 156789)

The time class has fewer data model identifiers than the datetime class:

In [72]:
for identifier in dir(time):
    iscallable = callable(getattr(time, identifier))
    isdatamodel = identifier.startswith('_')
    
    if iscallable and isdatamodel:
        print(identifier, end=' ')

__class__ __delattr__ __dir__ __eq__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __ne__ __new__ __reduce__ __reduce_ex__ __repr__ __setattr__ __sizeof__ __str__ __subclasshook__

The object based data model methods behave as expected, the builtins class type uses the data model \_\_class\_\_ to return the class:

In [73]:
type(postnoon)

datetime.time

The data model identifiers \_\_repr\_\_ and \_\_str\_\_ are defined meaning the formal and informal string representation can be obtained using the builtins repr function and str class respectively.

There is a difference between the formal representation, which displays the default form used to construct a time instance:

In [74]:
repr(postnoon)

'datetime.time(12, 13, 14, 156789)'

And the informal representation which shows the time instance in the iso format:

In [75]:
str(postnoon)

'12:13:14.156789'

time instances are ordinal and the following data model methods are defined \_\_eq\_\_, \_\_ne\_\_, \_\_lt\_\_, \_\_le\_\_, \_\_gt\_\_, and \_\_ge\_\_ corresponding to the 6 comparison operators ==, !=, <, <=, > and >=:

In [76]:
postnoon == noon

False

In [77]:
postnoon > noon

True

Notice that \_\_add\_\_ and \_\_sub\_\_ are not defined for the date class.

fold is a a timezone related attribute and dst, tzname and utoffset are timezone related methods. The concept of timezones will be examined later.

## datetime class

It is more common to use the datetime class which has a combination of date and time characteristics. The initialization signature of the datetime class can be viewed by inputting:

In [78]:
? datetime

Init signature:  datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\pyip\appdata\local\mambaforge\envs\jupyterlab\lib\datetime.py
Type:           type
Subclasses:     datetime

Notice that it has all the input arguments required to instantiate a date instance followed by all the input arguments required to instantiate a time instance. The timestamp of the Python 3.0 Windows 64 Bit installer is '03 December 2008 20:21:23'. A datetime instance can be made corresponding to this datetime:

In [79]:
py3rdt = datetime(year=2008, month=12, day=3, 
                  hour=20, minute=21, second=23, 
                  microsecond=0)

In [80]:
py3rdt

datetime.datetime(2008, 12, 3, 20, 21, 23)

The Python 3.11.4 Windows 64 Bit installer has a timestamp of '07 June 2023 07:14:31'. A datetime install can be made corresponding to this datetime:

In [81]:
py3114rdt = datetime(year=2023, month=6, day=7, 
                     hour=7, minute=14, second=31, 
                     microsecond=0)

A datetime instance is immutable. A list of identifiers from this datetime instance can be split into attributes and methods using:

In [82]:
for identifier in dir(datetime):
    if not callable(getattr(datetime, identifier)):
        print(identifier, end=' ')

__doc__ day fold hour max microsecond min minute month resolution second tzinfo year

In [83]:
for identifier in dir(datetime):
    if callable(getattr(datetime, identifier)):
        print(identifier, end=' ')

__add__ __class__ __delattr__ __dir__ __eq__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __ne__ __new__ __radd__ __reduce__ __reduce_ex__ __repr__ __rsub__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__ astimezone combine ctime date dst fromisocalendar fromisoformat fromordinal fromtimestamp isocalendar isoformat isoweekday now replace strftime strptime time timestamp timetuple timetz today toordinal tzname utcfromtimestamp utcnow utcoffset utctimetuple weekday

The datetime attributes corresponding to each unit are not abbreviated:

In [84]:
py3rdt.year

2008

In [85]:
py3rdt.month

12

In [86]:
py3rdt.day

3

In [87]:
py3rdt.hour

20

In [88]:
py3rdt.minute

21

In [89]:
py3rdt.second

23

In [90]:
py3rdt.microsecond

0

The attributes min and max are class attributes and give the minimum and maximum possible date instance which are a combination of the date and time attributes min and max:

In [91]:
datetime.min

datetime.datetime(1, 1, 1, 0, 0)

In [92]:
date.min

datetime.date(1, 1, 1)

In [93]:
time.min

datetime.time(0, 0)

In [94]:
datetime.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

In [95]:
date.max

datetime.date(9999, 12, 31)

In [96]:
time.max

datetime.time(23, 59, 59, 999999)

Once again do not confuse min with minute.

The class attribute resolution, gives the time resolution of the datetime instance, as a timedelta instance:

In [97]:
datetime.resolution

datetime.timedelta(microseconds=1)

Note this is in microseconds which corresponds to the lowest unit possible for the datetime instance. The date and time methods return a date and time instance from the provided date time:

In [98]:
py3rdt.date()

datetime.date(2008, 12, 3)

In [99]:
py3rdt.time()

datetime.time(20, 21, 23)

The alternative constructor combine can be used to combine a date and time instance to create a datetime instance:

In [100]:
datetime.combine(py3rdt.date(), py3rdt.time())

datetime.datetime(2008, 12, 3, 20, 21, 23)

The informal string representaiton gives a format that is similar to the isoformat:

In [101]:
str(py3rdt)

'2008-12-03 20:21:23'

Notice there is a slight difference in the informal string representation and the isoformat:

In [102]:
py3rdt.isoformat()

'2008-12-03T20:21:23'

The isoformat has a T which seperates the date and the time:

In [103]:
py3rdt.date().isoformat()

'2008-12-03'

In [104]:
py3rdt.time().isoformat()

'20:21:23'

The alternative constructor fromisoformat can be used to create a datetime instance from a string in the isoformat (with or without the T):

In [105]:
datetime.fromisoformat('2008-12-03T20:21:23')

datetime.datetime(2008, 12, 3, 20, 21, 23)

In [106]:
datetime.fromisoformat('2008-12-03 20:21:23')

datetime.datetime(2008, 12, 3, 20, 21, 23)

The weekday and the isoweekday use the date related information and return a zero-order indexed week day and 1st order indexed week day respectively:

In [107]:
py3rd.weekday()

2

In [108]:
py3rdt.weekday()

2

In [109]:
py3rd.weekday()

2

In [110]:
py3rdt.isoweekday()

3

All of the alternative constructors seen in the date class have datetime equivalents in the datetime class. These include:

|to|from|
|---|---|
|isocalendar|fromisocalandar|
|toordinal|fromordinal|
|timestamp|fromtimestamp|
|timetuple||
|ctime||

py3rdt can be converted to these other formats using:

In [111]:
py3rdt.toordinal()

733379

In [112]:
py3rdt.timestamp()

1228335683.0

In [113]:
py3rdt.timetuple()

time.struct_time(tm_year=2008, tm_mon=12, tm_mday=3, tm_hour=20, tm_min=21, tm_sec=23, tm_wday=2, tm_yday=338, tm_isdst=-1)

In [114]:
py3rdt.ctime()

'Wed Dec  3 20:21:23 2008'

A formatted string for the time object with its own associated format codes using strftime. Both the formats for the date and time isntance are recognised.

* Lower case format codes are used for a date %y, %m, %d in a 2 digit format
* Upper case format code %Y is used for a 4 digit format for a year
* Upper case format code %D is used for a date in the US format 'mm/dd/yy'
* Upper case format codes are used for a time %H, %M, %S
* Lower case format code %f is used for the microseconds.

This can be used to construct a date time in the UK format for example:

In [115]:
py3rdt.strftime(r'%H:%M:%S %d/%m/%Y')

'20:21:23 03/12/2008'

The method replace can be used to create a new instance where any of the units are changed:

In [116]:
py3rdt.replace()

datetime.datetime(2008, 12, 3, 20, 21, 23)

In [117]:
py3rdt.replace(year=2019)

datetime.datetime(2019, 12, 3, 20, 21, 23)

The alternative constructors today and now both retrieve the datetime from the system clock (they will differ in the milliseconds and seconds because each cell takes time to run), now can be used with optional timezone information:

In [118]:
datetime.today()

datetime.datetime(2023, 8, 16, 14, 28, 53, 448816)

In [119]:
datetime.now()

datetime.datetime(2023, 8, 16, 14, 28, 53, 527161)

The data model identifiers can be examined:

In [120]:
for identifier in dir(datetime):
    iscallable = callable(getattr(datetime, identifier))
    isdatamodel = identifier.startswith('_')
    
    if iscallable and isdatamodel:
        print(identifier, end=' ')

__add__ __class__ __delattr__ __dir__ __eq__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __ne__ __new__ __radd__ __reduce__ __reduce_ex__ __repr__ __rsub__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__

These are consistent with identifiers in the date class. Since \_\_class\_\_ is defined the builtins class type can be used to determine the class of an instance:

In [121]:
type(py3rdt)

datetime.datetime

The data model identifiers \_\_repr\_\_ and \_\_str\_\_ are defined meaning the formal and informal string representation can be obtained using the builtins repr function and str class respectively.

There is a difference between the formal representation, which displays the default form used to construct a datetime instance:

In [122]:
repr(py3rdt)

'datetime.datetime(2008, 12, 3, 20, 21, 23)'

And the informal representation which shows a similar form to the isoformat, without a T:

In [123]:
str(py3rdt)

'2008-12-03 20:21:23'

datetime instances are ordinal and the following data model methods are defined \_\_eq\_\_, \_\_ne\_\_, \_\_lt\_\_, \_\_le\_\_, \_\_gt\_\_, and \_\_ge\_\_ corresponding to the 6 comparison operators ==, !=, <, <=, > and >=:

In [124]:
py3114rdt == py3rdt

False

In [125]:
py3114rdt > py3rdt

True

These are consistent with those in the date class with \_\_sub\_\_ being configured between two datetime instances returning a datetime instance with microsecond accuracy:

In [126]:
py3114rdt - py3rdt

datetime.timedelta(days=5298, seconds=39188)

And \_\_add\_\_ being configured between a datetime instance and a timedelta instance returning a new datetime instance:

In [127]:
py3rdt + timedelta(days=5298, seconds=39188)

datetime.datetime(2023, 6, 7, 7, 14, 31)

## timedelta class

A timedelta is a time difference; instances of the timedelta class were seen when subtracting two date or datetime instances from one another. The initialisation signature of this class can be examined:

In [128]:
? timedelta

Init signature:  timedelta(self, /, *args, **kwargs)
Docstring:
Difference between two datetime values.

timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

All arguments are optional and default to 0.
Arguments may be integers or floats, and may be positive or negative.
File:           c:\users\pyip\appdata\local\mambaforge\envs\jupyterlab\lib\datetime.py
Type:           type
Subclasses:

Notice the keyword input arguments by largest to smallest are weeks, days, hours, minutes, seconds, milliseconds and microseconds. 

days is first as its the only input argument used for a timedelta involving two date instances.

seconds is next as this unit is the most commonly used timedeltas when dealing with datetime instances that are more commonly expressed to a second.

However since these are keyword arguments they can be assigned in any order, defaulting to 0 when not implied.

The revolution of the earth is 365 days, 6 hours and 9 minutes:

The timedelta is expressed in days and seconds by default:

In [129]:
duration = timedelta(days=365, hours=6, minutes=9)
duration

datetime.timedelta(days=365, seconds=22140)

The attributes and methods from the timedelta class can be examined:

In [130]:
for identifier in dir(timedelta):
    if not callable(getattr(timedelta, identifier)):
        print(identifier, end=' ')

__doc__ days max microseconds min resolution seconds

In [131]:
for identifier in dir(timedelta):
    if callable(getattr(timedelta, identifier)):
        print(identifier, end=' ')

__abs__ __add__ __bool__ __class__ __delattr__ __dir__ __divmod__ __eq__ __floordiv__ __format__ __ge__ __getattribute__ __getstate__ __gt__ __hash__ __init__ __init_subclass__ __le__ __lt__ __mod__ __mul__ __ne__ __neg__ __new__ __pos__ __radd__ __rdivmod__ __reduce__ __reduce_ex__ __repr__ __rfloordiv__ __rmod__ __rmul__ __rsub__ __rtruediv__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__ __truediv__ total_seconds

The attributes days and seconds give the duration in days and seconds:

In [132]:
duration

datetime.timedelta(days=365, seconds=22140)

In [133]:
duration.days

365

In [134]:
duration.seconds

22140

The method total seconds converts the years into seconds and returns the total time in seconds:

In [135]:
duration.total_seconds()

31558140.0

This method essentially calculates:

In [136]:
duration.days * (24 * 60 * 60) + duration.seconds

31558140

The class attributes min and max give the minimum and maximum possible datetime instance. Notice these are negative and positive as time differences can be negative or positive:

In [137]:
timedelta.min

datetime.timedelta(days=-999999999)

In [138]:
timedelta.max

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

And the class attribute gives the timedelta resolution which is in microseconds:

In [139]:
timedelta.resolution

datetime.timedelta(microseconds=1)

The \_\_class\_\_ data model identifier is used to return the class using the builtins class type:

In [140]:
type(duration)

datetime.timedelta

The formal and informal string representation are slightly different. The formal representation shows the timedelta in days and seconds and the informal representation shows the second components in hours, minutes and seconds:

In [141]:
repr(duration)

'datetime.timedelta(days=365, seconds=22140)'

In [142]:
print(duration)

365 days, 6:09:00

The timedelta has most the numeric data model methods. For example the unitary data model methods \_\_abs\_\_, \_\_pos\_\_ and \_\_neg\_\_:

In [143]:
abs(duration)

datetime.timedelta(days=365, seconds=22140)

In [144]:
+duration

datetime.timedelta(days=365, seconds=22140)

In [145]:
-duration

datetime.timedelta(days=-366, seconds=64260)

The binary data model identifiers \_\_add\_\_, \_\_sub\_\_, \_\_mul\_\_, \_\_truediv\_\_, \_\_floordiv\_\_, \_\_mod\_\_, \_\_divmod\_\_ are defined:

In [146]:
duration + timedelta(weeks=1)

datetime.timedelta(days=372, seconds=22140)

In [147]:
duration - timedelta(weeks=1)

datetime.timedelta(days=358, seconds=22140)

In [148]:
duration / timedelta(weeks=1)

52.17946428571429

In [149]:
duration // timedelta(weeks=1)

52

In [150]:
duration % timedelta(weeks=1)

datetime.timedelta(days=1, seconds=22140)

In [151]:
divmod(duration, timedelta(weeks=1))

(52, datetime.timedelta(days=1, seconds=22140))

Some of these data model identifiers will only work between an integer or float and a timedelta for example:

In [152]:
2.5 * duration

datetime.timedelta(days=913, seconds=12150)

And some will work between two timedelta instances or a timedelta instance alongside an integer or float:

In [153]:
duration / 2

datetime.timedelta(days=182, seconds=54270)

As the timedelta instance is ordinal, the 6 comparison data model identifiers are defined \_\_eq\_\_, \_\_ne\_\_, \_\_lt\_\_, \_\_le\_\_, \_\_gt\_\_ and \_\_ge\_\_ which define the operators ==, !=, <, <=, > and >=:

In [154]:
duration2 = duration + timedelta(days=100)

In [155]:
duration2 == duration

False

In [156]:
duration2 > duration

True

## timezone

The ZoneInfo class can be used to construct a timezone for example Universal Co-ordinated Time or from a geographic location:

In [157]:
utc = ZoneInfo('UTC')

In [158]:
london = ZoneInfo('Europe/London')

A datetime instance can be constructed with the UTC timezone:

In [159]:
dt1 = datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=utc)
dt1

datetime.datetime(2024, 3, 31, 1, 30, tzinfo=zoneinfo.ZoneInfo(key='UTC'))

It has the timezone name of UTC:

In [160]:
dt1.tzname()

'UTC'

Each geographic location has a timezone. In London for example the following date has a time zone name of British Summer time with a UTC offset of 1 hour:

In [161]:
dt2 = datetime(year=2024, month=3, day=31, hour=0, minute=30, tzinfo=london)
(dt2.tzname(), dt2.utcoffset())

('GMT', datetime.timedelta(0))

The clocks go forward on this date. A time after the clock change can be examined. Notice that the tzname is now British Summer Time with a UTC Offset of 0 hours:

In [162]:
dt3 = datetime(year=2024, month=3, day=31, hour=2, minute=30, tzinfo=london)
(dt3.tzname(), dt3.utcoffset())

('BST', datetime.timedelta(seconds=3600))

On the day the clocks go forward, there is 1 hour that duplicates which is represented by a fold (0 before the clock change and 1 after the clock change):

In [163]:
dt4 = datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=london, fold=0)
(dt4.tzname(), dt4.utcoffset())

('GMT', datetime.timedelta(0))

In [164]:
dt5 = datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=london, fold=1)
(dt5.tzname(), dt5.utcoffset())

('BST', datetime.timedelta(seconds=3600))

Without specification of the fold, there is some ambiguity over this hour.

The clocks change back in the winter:

In [165]:
dt6 = datetime(year=2024, month=10, day=27, hour=1, minute=30, tzinfo=london)
(dt6.tzname(), dt6.utcoffset())

('BST', datetime.timedelta(seconds=3600))

In [166]:
dt7 = datetime(year=2024, month=10, day=27, hour=2, minute=30, tzinfo=london)
(dt7.tzname(), dt7.utcoffset())

('GMT', datetime.timedelta(0))

There is no duplicate time when the clock goes back.

Notice that addition of a British time with a timedelta does not take take into account clock changes:

In [167]:
dt8 = datetime(year=2024, month=3, day=31, hour=0, minute=30, tzinfo=london) + timedelta(hours=4)
dt8

datetime.datetime(2024, 3, 31, 4, 30, tzinfo=zoneinfo.ZoneInfo(key='Europe/London'))

Therefore generally it is more reliable to work with timezones in UTC when working with a timedelta.

## broadcasting

So far a single date, time, datetime or timedelta instance has been constructed. List comprehension can be used with a timedelta instance to get a list of timedelta instances:

In [168]:
[timedelta(days=day) for day in range(10)]

[datetime.timedelta(0),
 datetime.timedelta(days=1),
 datetime.timedelta(days=2),
 datetime.timedelta(days=3),
 datetime.timedelta(days=4),
 datetime.timedelta(days=5),
 datetime.timedelta(days=6),
 datetime.timedelta(days=7),
 datetime.timedelta(days=8),
 datetime.timedelta(days=9)]

Recall that a timedelta added to a datetime instance returns another datetime instance:

In [169]:
dt = datetime(year=2023, month=1, day=1)

This can be taken advantage of while using list comprehension to get a list of datetime instances:

In [170]:
[dt + timedelta(days=day) for day in range(10)]

[datetime.datetime(2023, 1, 1, 0, 0),
 datetime.datetime(2023, 1, 2, 0, 0),
 datetime.datetime(2023, 1, 3, 0, 0),
 datetime.datetime(2023, 1, 4, 0, 0),
 datetime.datetime(2023, 1, 5, 0, 0),
 datetime.datetime(2023, 1, 6, 0, 0),
 datetime.datetime(2023, 1, 7, 0, 0),
 datetime.datetime(2023, 1, 8, 0, 0),
 datetime.datetime(2023, 1, 9, 0, 0),
 datetime.datetime(2023, 1, 10, 0, 0)]

The syntaxing for broadcasting using Python standard libraries is a bit convoluted. Normally instances are broadcast using ndarrays with the third-party Python library numpy. This library needs to be imported:

In [171]:
import numpy as np

The numpy array range function is used to create an array of timedelta instances:

In [172]:
td1 = timedelta(hours=0)

In [173]:
td2 = timedelta(hours=24)

In [174]:
tds = timedelta(hours=1)

In [175]:
tds = np.arange(start=td1, stop=td2, step=tds)
tds

array([          0,  3600000000,  7200000000, 10800000000, 14400000000,
       18000000000, 21600000000, 25200000000, 28800000000, 32400000000,
       36000000000, 39600000000, 43200000000, 46800000000, 50400000000,
       54000000000, 57600000000, 61200000000, 64800000000, 68400000000,
       72000000000, 75600000000, 79200000000, 82800000000],
      dtype='timedelta64[us]')

Or an array of datetime instances:

In [176]:
dt1 = datetime(year=2024, month=1, day=1, hour=0)

In [177]:
dt2 = datetime(year=2024, month=1, day=1, hour=23)

In [178]:
tds = timedelta(hours=1)

In [179]:
dts = np.arange(start=dt1, stop=dt2, step=tds)
dts

array(['2024-01-01T00:00:00.000000', '2024-01-01T01:00:00.000000',
       '2024-01-01T02:00:00.000000', '2024-01-01T03:00:00.000000',
       '2024-01-01T04:00:00.000000', '2024-01-01T05:00:00.000000',
       '2024-01-01T06:00:00.000000', '2024-01-01T07:00:00.000000',
       '2024-01-01T08:00:00.000000', '2024-01-01T09:00:00.000000',
       '2024-01-01T10:00:00.000000', '2024-01-01T11:00:00.000000',
       '2024-01-01T12:00:00.000000', '2024-01-01T13:00:00.000000',
       '2024-01-01T14:00:00.000000', '2024-01-01T15:00:00.000000',
       '2024-01-01T16:00:00.000000', '2024-01-01T17:00:00.000000',
       '2024-01-01T18:00:00.000000', '2024-01-01T19:00:00.000000',
       '2024-01-01T20:00:00.000000', '2024-01-01T21:00:00.000000',
       '2024-01-01T22:00:00.000000'], dtype='datetime64[us]')

Notice the datatypes are slightly different timedelta64[us] and datetime64[us] are the classes used in numpy opposed to the timedelta and datetime classes from the standard datetime module:

In [180]:
? np.timedelta64

Init signature:  np.timedelta64(self, /, *args, **kwargs)
Docstring:
A timedelta stored as a 64-bit integer.

See :ref:`arrays.datetime` for more information.

:Character code: ``'m'``
File:           c:\users\pyip\appdata\local\mambaforge\envs\jupyterlab\lib\site-packages\numpy\__init__.py
Type:           type
Subclasses:

In [181]:
? np.datetime64

Init signature:  np.datetime64(self, /, *args, **kwargs)
Docstring:
If created from a 64-bit integer, it represents an offset from
``1970-01-01T00:00:00``.
If created from string, the string can be in ISO 8601 date
or datetime format.

>>> np.datetime64(10, 'Y')
numpy.datetime64('1980')
>>> np.datetime64('1980', 'Y')
numpy.datetime64('1980')
>>> np.datetime64(10, 'D')
numpy.datetime64('1970-01-11')

See :ref:`arrays.datetime` for more information.

:Character code: ``'M'``
File:           c:\users\pyip\appdata\local\mambaforge\envs\jupyterlab\lib\site-packages\numpy\__init__.py
Type:           type
Subclasses:

The numpy timedelta64 is initialised using an integer or float alongside a unit. Summation of these displays the value in terms of its smallest unit:

In [182]:
np.timedelta64(1, 'D') + np.timedelta64(1, 'h') + np.timedelta64(1, 'm') + np.timedelta64(1, 's')

numpy.timedelta64(90061,'s')

Which has a higher accuracy and can go down to a nanosecond:

In [183]:
np.timedelta64(1, 'ms') + np.timedelta64(1, 'us') + np.timedelta64(1, 'ns')

numpy.timedelta64(1001001,'ns')

The unit 'Y' and 'M' corresponding to Year and Month have a lower accuracy and are not typically used.

The numpy datetime64 typically uses the ISO format for instantiation:

In [184]:
np.datetime64('2008-12-03T20:21:23.001002003')

numpy.datetime64('2008-12-03T20:21:23.001002003')

Finally timedelta and datetime64 are normally displayed in pandas Series within pandas DataFrames. For this pandas needs to be imported:

In [185]:
import pandas as pd

A Series is based on a numpy array with a label:

In [186]:
pd.Series(data=dts, name='datetimes')

0    2024-01-01 00:00:00
1    2024-01-01 01:00:00
2    2024-01-01 02:00:00
3    2024-01-01 03:00:00
4    2024-01-01 04:00:00
5    2024-01-01 05:00:00
6    2024-01-01 06:00:00
7    2024-01-01 07:00:00
8    2024-01-01 08:00:00
9    2024-01-01 09:00:00
10   2024-01-01 10:00:00
11   2024-01-01 11:00:00
12   2024-01-01 12:00:00
13   2024-01-01 13:00:00
14   2024-01-01 14:00:00
15   2024-01-01 15:00:00
16   2024-01-01 16:00:00
17   2024-01-01 17:00:00
18   2024-01-01 18:00:00
19   2024-01-01 19:00:00
20   2024-01-01 20:00:00
21   2024-01-01 21:00:00
22   2024-01-01 22:00:00
Name: datetimes, dtype: datetime64[us]

In [187]:
pd.Series(data=tds, name='timedeltas')

0   0 days 01:00:00
Name: timedeltas, dtype: timedelta64[ns]

datetimes for example are normally used alongside numerical measurement data in a DataFrame:

In [188]:
pd.DataFrame({'datetimes': dts, 
              'temperature': 25 * np.ones(len(dts))})

             datetimes  temperature
0  2024-01-01 00:00:00         25.0
1  2024-01-01 01:00:00         25.0
2  2024-01-01 02:00:00         25.0
3  2024-01-01 03:00:00         25.0
4  2024-01-01 04:00:00         25.0
5  2024-01-01 05:00:00         25.0
6  2024-01-01 06:00:00         25.0
7  2024-01-01 07:00:00         25.0
8  2024-01-01 08:00:00         25.0
9  2024-01-01 09:00:00         25.0
10 2024-01-01 10:00:00         25.0
11 2024-01-01 11:00:00         25.0
12 2024-01-01 12:00:00         25.0
13 2024-01-01 13:00:00         25.0
14 2024-01-01 14:00:00         25.0
15 2024-01-01 15:00:00         25.0
16 2024-01-01 16:00:00         25.0
17 2024-01-01 17:00:00         25.0
18 2024-01-01 18:00:00         25.0
19 2024-01-01 19:00:00         25.0
20 2024-01-01 20:00:00         25.0
21 2024-01-01 21:00:00         25.0
22 2024-01-01 22:00:00         25.0