# Datetime and Zoneinfo Modules

The datetime module contains classes for manipulating dates and times and is complemented by the zoneinfo module which has improvements on timezone implementations.

## Categorize_Identifiers Module

This notebook will use the following functions ```dir2```, ```variables``` and ```view``` in the custom module ```categorize_identifiers``` which is found in the same directory as this notebook file. ```dir2``` is a variant of ```dir``` that groups identifiers into a ```dict``` under categories and ```variables``` is an IPython based a variable inspector. ```view``` is used to view a ```Collection``` in more detail:

In [5]:
from categorize_identifiers import dir2, variables, view

## Imports

The ```datetime``` module can be imported using:

In [39]:
import datetime

Its identifiers can be viewed by using:

In [40]:
dir2(datetime)

{'attribute': ['datetime_CAPI'],
 'constant': ['MAXYEAR', 'MINYEAR', 'UTC'],
 'lower_class': ['date', 'datetime', 'time', 'timedelta', 'timezone', 'tzinfo'],
 'datamodel_attribute': ['__all__',
                         '__builtins__',
                         '__cached__',
                         '__doc__',
                         '__file__',
                         '__loader__',
                         '__name__',
                         '__package__',
                         '__spec__']}

The four main classes of interest are ```date```, ```time```, ```timedelta``` and ```datetime```. These classes are in lower case as they were originally designed to be incorporated into ```builtins``` before being compartmentalised into their own ```datetime``` module. 

Note do not confuse the module name ```datetime``` with the class name ```datetime```.

The other two classes ```timezone``` and ```tzinfo``` are legacy classes for handling timezones. These remain in ```datetime``` for backwards compatibility however it is recommended to use the newer implementation which was developed separately in the ```zoneinfo``` module:

In [43]:
import zoneinfo

The ```zoneinfo``` module contains the ```ZoneInfo``` class which is used to create timezone instances:

In [42]:
dir2(zoneinfo)

{'constant': ['TZPATH'],
 'method': ['available_timezones', 'reset_tzpath'],
 'upper_class': ['InvalidTZPathWarning', 'ZoneInfo', 'ZoneInfoNotFoundError'],
 'datamodel_attribute': ['__all__',
                         '__builtins__',
                         '__cached__',
                         '__doc__',
                         '__file__',
                         '__loader__',
                         '__name__',
                         '__package__',
                         '__path__',
                         '__spec__'],
 'datamodel_method': ['__dir__', '__getattr__'],
 'internal_attribute': ['_common', '_tzpath']}

One module that is commonly used with ```datetime``` is ```time```. In order to avoid naming conflicts, the following code is not normally used:

```python
from datetime import time
from time import time
```

Instead both modules are imported:

In [44]:
import time

And the identifiers can clearly be obtained from each module:

In [48]:
datetime

In [51]:
time

In [49]:
datetime.time

datetime.time

In [50]:
time.time

In [52]:
datetime.datetime

datetime.datetime

Because there is only one class being imported from ```zoneinfo``` and no naming conflicts, the ```ZoneInfo``` class is normally imported using:

In [53]:
from zoneinfo import ZoneInfo

## Date

The identifiers for the ```datetime.date``` class can be examined. It has the instance attributes ```year```, ```month``` and ```day``` which are supplied during instantiation and the class attributes ```min```, ```max``` and ```resolution``` which give details about the minimum and maximum possible dates as well as the time resolution of a day. The ```datetime.date``` class also has a number of other methods that act as alternative constructors for another date format or export the date to such a format respectively:

In [54]:
dir2(datetime.date, object, unique_only=True)

{'attribute': ['day', 'max', 'min', 'month', 'resolution', 'year'],
 'method': ['ctime',
            'fromisocalendar',
            'fromisoformat',
            'fromordinal',
            'fromtimestamp',
            'isocalendar',
            'isoformat',
            'isoweekday',
            'replace',
            'strftime',
            'timetuple',
            'today',
            'toordinal',
            'weekday'],
 'datamodel_method': ['__add__', '__radd__', '__rsub__', '__sub__']}

The initialization signature of the ```datetime.date``` class can be viewed by inputting:

In [55]:
datetime.date?

Init signature: datetime.date(self, /, *args, **kwargs)
Docstring:      date(year, month, day) --> date object
File:           c:\users\pyip\miniconda3\envs\vscode-env\lib\datetime.py
Type:           type
Subclasses:     datetime

It requires positional parameters, the ```year```, the ```month``` and the ```day``` which are collectively needed to specify a calendar date:

In [126]:
day1 = datetime.date(2023, 9, 29)

Note the time is shown using descending format ```year```, ```month``` and then ```day``` to prevent confusion between UK and US formats:

In [10]:
variables()

               Type Size/Shape       Value
Instance Name
py3rd          date             2008-12-03
day1           date             2008-12-03

The formal and informal ```str``` representation differ for a ```datetime.date``` instance with the formal representation matching the way to instantiate a new ```datetime.date``` instance and the informal representation matching the iso format:

In [83]:
repr(day1)

'datetime.date(2008, 12, 3)'

In [84]:
str(day1)

'2008-12-03'

The instance attributes can be read off:

In [12]:
day1.year

2008

In [13]:
day1.month

12

In [15]:
day1.day

3

The class attributes ```min``` and ```max``` give the minimum and maximum possible date instance:

In [57]:
day1.min

datetime.date(1, 1, 1)

In [58]:
day1.max

datetime.date(9999, 12, 31)

The class attribute ```resolution```, gives the time resolution of the date instance, as a ```timedelta``` instance:

In [59]:
day1.resolution

datetime.timedelta(days=1)

Note this is in days which corresponds to the lowest unit possible for the ```date``` instance.

A ```datetime.date``` instance can be constructed in multiple ways and therefore has a number of alternative constructors. Most of these begin with from or to methods. However there is also ```today``` which will return the date today:

In [60]:
day2 = datetime.date.today()

In [20]:
variables()

               Type Size/Shape       Value
Instance Name
py3rd          date             2008-12-03
day1           date             2008-12-03
today          date             2024-02-09

The informal string representation of a ```date``` instance is in the isoformat:

In [22]:
str(day1)

'2008-12-03'

The alternative constructor (class method) ```fromisoformat``` can be used to construct a time instance from an isoformat string which is of the form ```'yyyy-mm-dd'```:

In [61]:
day1a = datetime.date.fromisoformat('2008-12-03')

In [62]:
variables()

               Type Size/Shape       Value
Instance Name
py3rd          date             2008-12-03
day1           date             2008-12-03
today          date             2024-02-09
day2           date             2024-02-09
day1a          date             2008-12-03
day1b          date             2008-12-03
day1c          date             2008-12-03

The method ```weekday``` gives a zero-order index weekday where Monday is at index ```0``` and Sunday is at index ```6```:

In [63]:
day1.weekday()

2

The method ```isoweekday``` gives a first-order index weekday where Monday is at index 1 and Sunday is at index 7:

In [64]:
day1.isoweekday()

3

The method ```isocalendar``` returns a ```date``` in the isoformat which contains a year, week and weekday:

In [65]:
day1.isocalendar()

datetime.IsoCalendarDate(year=2008, week=49, weekday=3)

The alternative constructor (class method) ```fromisocalendar``` is an alternative constructor using this format. The named parameters are however slightly inconsistent using day in fromisocalendar and weekday in isocalendar:

In [66]:
day1b = datetime.date.fromisocalendar(year=2008, week=49, day=3)

The ordinal date begins at:

In [67]:
day1.min

datetime.date(1, 1, 1)

And 1 ordinal unit is 1 day:

In [34]:
day1.toordinal()

733379

This can be calculated as:

In [35]:
(2008 - 1) * 365.2425 + (12 - 1) * 30.4 + (3 - 1) + 1

733379.0975

The ```+1``` at the end is because ```2008``` is a leap year. The ```fromordinal``` alternative constructor will construct a ```date``` instance from this ordinal time:

In [68]:
day1c = datetime.date.fromordinal(733379)

In [38]:
variables()

               Type Size/Shape       Value
Instance Name
py3rd          date             2008-12-03
day1           date             2008-12-03
today          date             2024-02-09
day2           date             2024-02-09
day1a          date             2008-12-03
day1b          date             2008-12-03
day1c          date             2008-12-03

The ```time.time``` returns the system time as a timestamp. This is a unit of measurement in seconds that begins from the Epoch Time ```datetime.date(1970, 1, 1)``` which is designated ```0``` milliseconds:

In [69]:
time.time()

1707487694.751957

The alternative constructor ```fromtimestamp``` can be used to construct a ```datetime.date``` from this:

In [71]:
datetime.date.fromtimestamp(time.time())

datetime.date(2024, 2, 9)

There is no export method to a timestamp as the date is not accurate enough to be expressed in milliseconds.

A ```datetime.date``` instance can also be converted to a timetuple:

In [72]:
day1.timetuple()

time.struct_time(tm_year=2008, tm_mon=12, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=338, tm_isdst=-1)

Or a C-style time string:

In [73]:
day1.ctime()

'Wed Dec  3 00:00:00 2008'

A formatted string for the date instance can be created using the method ```strftime```. Lower case format codes are used for a date ```%y```, ```%m```, ```%d``` in a ```2``` digit format:

In [74]:
day1.strftime('%y')

'08'

In [75]:
day1.strftime('%m')

'12'

In [76]:
day1.strftime('%d')

'03'

The upper case variation ```%Y``` give the years in ```4``` digits:

In [77]:
day1.strftime('%Y')

'2008'

The upper case ```%dD```gives the date in the American format ```(month/day/year)```:

In [78]:
day1.strftime('%D')

'12/03/08'

This is equivalent to:

In [79]:
day1.strftime(r'%m/%d/%y')

'12/03/08'

The British format can be constructed using:

In [81]:
day1.strftime(r'%d/%m/%y')

'03/12/08'

Note that the upper case ```%M``` is reserved for a ```datetime.time```, corresponding to a minute and will be examined later.

The ```replace``` method can be used with the keywords ```year```, ```month``` and ```date``` to replace an attribute in the original ```datetime.date``` instance and because this class is immutable returns a new instance:

In [82]:
day3 = day1.replace(year=2009)

Because ```datetime.date``` instances are ordinal, the following datamodel methods are defined ```__eq__```, ```__ne__```, ```__lt__```, ```__le__```, ```__gt__```, and ```__ge__``` corresponding to the ```6``` comparison operators ```==```, ```!=```, ```<```, ```<=```, ```>``` and ```>=```:

In [86]:
variables()

               Type Size/Shape       Value
Instance Name
py3rd          date             2008-12-03
day1           date             2008-12-03
today          date             2024-02-09
day2           date             2024-02-09
day1a          date             2008-12-03
day1b          date             2008-12-03
day1c          date             2008-12-03
day3           date             2009-12-03

In [85]:
day1 == day2

False

In [87]:
day1 > day2

False

In [89]:
day1 < day2

True

The ```__sub__``` datamodel method is also defined and the ```-``` operator can be used between two ```datetime.date``` instances to the day difference in the form of a ```datetime.timedelta```:

In [90]:
day2 - day1

datetime.timedelta(days=5546)

The ```__add__``` datamodel method is also defined and the ```+``` operator can be used between a ```datetime.date``` instance and a ```datetime.timedelta``` instance to return a new ```datetime.timedelta```:

In [91]:
day1 + datetime.timedelta(days=1)

datetime.date(2008, 12, 4)

## Time

The identifiers for the ```datetime.time``` class can be examined. It has the instance attributes ```hour```, ```minute```, ```second``` and ```microsecond``` which are supplied during instantiation and the class attributes ```min```, ```max``` and ```resolution``` which give details about the minimum and maximum possible dates as well as the time resolution of a day.

The ```tzinfo``` attribute gives details about the timezone and ```fold``` is used for clock changes to distinguish duplicate times (due to clock changes).

The ```datetime.time``` class also has a number of other methods that act as alternative constructors for another time format or export the date to such a format respectively:

In [93]:
dir2(datetime.time, object, unique_only=True)

{'attribute': ['fold',
               'hour',
               'max',
               'microsecond',
               'min',
               'minute',
               'resolution',
               'second',
               'tzinfo'],
 'method': ['dst',
            'fromisoformat',
            'isoformat',
            'replace',
            'strftime',
            'tzname',
            'utcoffset']}

The initialization signature of the ```datetime.time``` class can be viewed by inputting:

In [94]:
time?

Type:        module
String form: <module 'time' (built-in)>
Docstring:
This module provides various functions to manipulate time values.

There are two standard representations of time.  One is the number
of seconds since the Epoch, in UTC (a.k.a. GMT).  It may be an integer
or a floating point number (to represent fractions of seconds).
The Epoch is system-defined; on Unix, it is generally January 1st, 1970.
The actual value can be retrieved by calling gmtime(0).

The other representation is a tuple of 9 integers giving local time.
The tuple items are:
  year (including century, e.g. 1998)
  month (1-12)
  day (1-31)
  hours (0-23)
  minutes (0-59)
  seconds (0-59)
  weekday (0-6, Monday is 0)
  Julian day (day in the year, 1-366)
  DST (Daylight Savings Time) flag (-1, 0 or 1)
If the DST flag is 0, the time is given in the regular time zone;
if it is 1, the time is given in the DST time zone;
if it is -1, mktime() should guess based on the date and time.

A time instance can be constructed by specifying the ```hours```, ```minutes```, ```seconds``` and ```microseconds``` (the lower units of measurement are optional):

In [127]:
time1 = datetime.time(hour=10, minute=43, second=35)

In [128]:
time2 = datetime.time(hour=15, minute=30, second=14, microsecond=156789)

These can be viewed using:

In [129]:
variables()

               Type Size/Shape            Value
Instance Name
py3rd          date                  2008-12-03
day1           date                  2023-09-29
today          date                  2024-02-09
day2           date                  2024-02-09
day1a          time             12:13:14.156789
day1b          date                  2008-12-03
day1c          date                  2008-12-03
day3           date                  2009-12-03
time1          time                    10:43:35
time2          time             15:30:14.156789
time3          time             19:30:14.156789

The formal and informal ```str``` representation differ for a ```datetime.time``` instance with the formal representation matching the way to instantiate a new ```datetime.time``` instance and the informal representation matching the iso format:

In [130]:
repr(time2)

'datetime.time(15, 30, 14, 156789)'

In [131]:
str(time2)

'15:30:14.156789'

The time attributes corresponding to each unit can also be accessed:

In [132]:
time2.hour

15

In [133]:
time2.minute

30

In [134]:
time2.second

14

In [135]:
time2.microsecond

156789

The attributes ```min``` and ```max``` are class attributes and give the minimum and maximum possible ```datetime.time``` instance:

In [136]:
time2.min

datetime.time(0, 0)

In [137]:
time2.max

datetime.time(23, 59, 59, 999999)

Note do not confuse the attribute ```min``` with the attribute ```minute```.

The class attribute ```resolution```, gives the time resolution of the ```datetime.date``` instance, as a ```timedelta``` instance:

In [138]:
time1.resolution

datetime.timedelta(microseconds=1)

Note the resolution for a ```datetime.time``` instance is ```1``` microsecond opposed to ```1``` day as seen for the ```datetime.date``` instance.

The ```isoformat``` method returns the ```datetime.time``` in ```isoformat``` behaving identically to the informal ```str``` method:

In [139]:
time1.isoformat()

'10:43:35'

The alternative constructor (class method) ```fromisoformat``` that can be used to construct a ```datetime.time``` instance from an isoformat ```str``` instance:

In [140]:
day1a = datetime.time.fromisoformat('12:13:14.156789')

In [141]:
variables()

               Type Size/Shape            Value
Instance Name
py3rd          date                  2008-12-03
day1           date                  2023-09-29
today          date                  2024-02-09
day2           date                  2024-02-09
day1a          time             12:13:14.156789
day1b          date                  2008-12-03
day1c          date                  2008-12-03
day3           date                  2009-12-03
time1          time                    10:43:35
time2          time             15:30:14.156789
time3          time             19:30:14.156789

A formatted ```str``` for the ```datetime.time``` instance can be constructed using ```strftime```. Uppercase format codes are generally used for times ```%H```, ```%M```, ```%S``` however a lowercase format code ```%f``` is used for the microseconds:

In [142]:
time2.strftime('%H')

'15'

In [143]:
time2.strftime('%M')

'30'

In [144]:
time2.strftime('%S')

'14'

In [145]:
time2.strftime('%f')

'156789'

The ```replace``` method can be used with the keywords ```hour```, ```minute```, ```seconds``` and ```microseconds``` to replace an attribute in the original ```datetime.time``` instance and returns a new instance because this class is immutable:

In [146]:
time3 = time2.replace(hour=19)

In [147]:
variables()

               Type Size/Shape            Value
Instance Name
py3rd          date                  2008-12-03
day1           date                  2023-09-29
today          date                  2024-02-09
day2           date                  2024-02-09
day1a          time             12:13:14.156789
day1b          date                  2008-12-03
day1c          date                  2008-12-03
day3           date                  2009-12-03
time1          time                    10:43:35
time2          time             15:30:14.156789
time3          time             19:30:14.156789

```datetime.time``` instances are ordinal and the comparison operators are defined to operate between two instances:

In [148]:
day2 > day1

True

## Datetime

The ```datetime.datetime``` class is effectively the combination of the ```datetime.date``` and ```datetime.time``` class. Most of the attributes are consistent to their counterparts in the ```datetime.date``` or ```datetime.tim``` classes respectively:

In [125]:
dir2(datetime.datetime, object, unique_only=True)

{'attribute': ['day',
               'fold',
               'hour',
               'max',
               'microsecond',
               'min',
               'minute',
               'month',
               'resolution',
               'second',
               'tzinfo',
               'year'],
 'method': ['astimezone',
            'combine',
            'ctime',
            'date',
            'dst',
            'fromisocalendar',
            'fromisoformat',
            'fromordinal',
            'fromtimestamp',
            'isocalendar',
            'isoformat',
            'isoweekday',
            'now',
            'replace',
            'strftime',
            'strptime',
            'time',
            'timestamp',
            'timetuple',
            'timetz',
            'today',
            'toordinal',
            'tzname',
            'utcfromtimestamp',
            'utcnow',
            'utcoffset',
            'utctimetuple',
            'weekday'],
 'datamodel_method': ['__add__', '__radd__', '__rsub__', '__sub__']}

The initialization signature of the ```datetime.datetime``` class can be viewed by inputting:

In [149]:
datetime.datetime?

Init signature: datetime.datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\pyip\miniconda3\envs\vscode-env\lib\datetime.py
Type:           type
Subclasses:     ABCTimestamp, _NaT

In [152]:
datetime1 = datetime.datetime(2023, 9, 29, 10, 43, 35, 1)

In [153]:
variables()

                   Type Size/Shape                       Value
Instance Name
py3rd              date                             2008-12-03
day1               date                             2023-09-29
today              date                             2024-02-09
day2               date                             2024-02-09
day1a              time                        12:13:14.156789
day1b              date                             2008-12-03
day1c              date                             2008-12-03
day3               date                             2009-12-03
time1              time                               10:43:35
time2              time                        15:30:14.156789
time3              time                        19:30:14.156789
datetime1      datetime             2023-09-29 10:43:35.000001

The formal and informal ```str``` representation differ for a ```datetime.datetime``` instance with the formal representation matching the way to instantiate a new ```datetime.datetime``` instance and the informal representation being similar in form similar to the iso format:

In [179]:
repr(datetime1)

'datetime.datetime(2023, 9, 29, 10, 43, 35, 1)'

In [180]:
str(datetime1)

'2023-09-29 10:43:35.000001'

Note that there is a subtle difference between the informal ```str``` representation which uses a space between the date and time and the ```isoformat``` which uses a T between the date and time:

In [181]:
datetime1.isoformat()

'2023-09-29T10:43:35.000001'

As a consequence the alternative constructor (class method) ```fromisoformat``` can be used to create a ```datetime.datetime``` instance from a isoformat ```str``` instance (with or without the T):

In [182]:
datetime1a = datetime.datetime.fromisoformat('2023-09-29 10:43:35.000001')

In [183]:
datetime1b = datetime.datetime.fromisoformat('2023-09-29T10:43:35.000001')

In [184]:
variables()

                   Type Size/Shape                       Value
Instance Name
py3rd              date                             2008-12-03
day1               date                             2023-09-29
today              date                             2024-02-09
day2               date                             2024-02-09
day1a              time                        12:13:14.156789
day1b              date                             2008-12-03
day1c              date                             2008-12-03
day3               date                             2009-12-03
time1              time                               10:43:35
time2              time                        15:30:14.156789
time3              time                        19:30:14.156789
datetime1      datetime             2023-09-29 10:43:35.000001
datetime1a     datetime             2023-09-29 10:43:35.000001
datetime1b     datetime             2023-09-29 10:43:35.000001

The ```datetime.datetime``` attributes corresponding to each unit can be read off:

In [154]:
datetime1.year

2023

In [155]:
datetime1.month

9

In [156]:
datetime1.day

29

In [157]:
datetime1.hour

10

In [158]:
datetime1.minute

43

In [161]:
datetime1.second

35

In [162]:
datetime1.microsecond

1

The attributes ```min``` and ```max``` are class attributes and give the minimum and maximum possible ```datetime.datetime``` instance which are a combination of the ```datetime.date``` and ```datetime.time``` attributes ```min``` and ```max```:

In [163]:
datetime.datetime.min

datetime.datetime(1, 1, 1, 0, 0)

In [165]:
datetime.date.min

datetime.date(1, 1, 1)

In [166]:
datetime.time.min

datetime.time(0, 0)

In [168]:
datetime.datetime.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

In [169]:
datetime.date.max

datetime.date(9999, 12, 31)

In [170]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

Once again do not confuse the attribute ```min``` with ```minute```.

The class attribute ```resolution```, gives the time resolution of the ```datetime.datetime``` instance, as a ```datetime.timedelta``` instance:

In [171]:
datetime.datetime.resolution

datetime.timedelta(microseconds=1)

Note this is in microseconds which corresponds to the lowest unit possible for the ```datetime.datetime``` instance. 

The ```date``` and ```time``` methods return a ```datetime.date``` and ```datetime.time``` instance respectively:

In [172]:
datetime1.date()

datetime.date(2023, 9, 29)

In [173]:
datetime1.time()

datetime.time(10, 43, 35, 1)

The alternative constructor combine can be used to combine a ```datetime.date``` and ```datetime.time``` instance:

In [178]:
datetime1.combine(day1, time1)

datetime.datetime(2023, 9, 29, 10, 43, 35)

In [ ]:
datetime.fromisoformat('2008-12-03 20:21:23')

The weekday and the isoweekday use the date related information and return a zero-order indexed week day and 1st order indexed week day respectively:

In [185]:
datetime1.weekday()

4

In [186]:
datetime1.weekday()

4

In [187]:
datetime1.weekday()

4

In [188]:
datetime1.isoweekday()

5

The alternative constructor (class method) ```now``` will create a ```datetime.datetime``` instance from the system clock:

In [190]:
datetime2 = datetime.datetime.now()

In [191]:
variables()

                   Type Size/Shape                       Value
Instance Name
py3rd              date                             2008-12-03
day1               date                             2023-09-29
today              date                             2024-02-09
day2               date                             2024-02-09
day1a              time                        12:13:14.156789
day1b              date                             2008-12-03
day1c              date                             2008-12-03
day3               date                             2009-12-03
time1              time                               10:43:35
time2              time                        15:30:14.156789
time3              time                        19:30:14.156789
datetime1      datetime             2023-09-29 10:43:35.000001
datetime1a     datetime             2023-09-29 10:43:35.000001
datetime1b     datetime             2023-09-29 10:43:35.000001
datetime2      datetime             2024-02-09 15:49:56.187930

All of the alternative constructors seen in the ```datetime.date``` class have consistent counterparts in the ```datetime.datetime``` class which include:

|to|from|
|---|---|
|isocalendar|fromisocalandar|
|toordinal|fromordinal|
|timestamp|fromtimestamp|
|timetuple||
|ctime||

The instance ```datetime1``` can be converted to these other formats using:

In [192]:
datetime1.toordinal()

738792

In [193]:
datetime1.timestamp()

1695980615.000001

In [194]:
datetime1.timetuple()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=29, tm_hour=10, tm_min=43, tm_sec=35, tm_wday=4, tm_yday=272, tm_isdst=-1)

In [195]:
datetime1.ctime()

'Fri Sep 29 10:43:35 2023'

A formatted ```str``` for the ```datetime.datetime``` instance can be created using ```strftime```. Both the format specifiers from the ```datetime.date``` and ```datetime.time``` instance are recognised:

* Lowercase format codes are used for a date ```%y```, ```%m```, ```%d``` in a ```2``` digit format
* Uppercase format code ```%Y``` is used for a ```4``` digit format for a year
* Uppercase format code ```%D``` is used for a date in the US format ```'mm/dd/yy'```
* Uppercase format codes are used for a time ```%H```, ```%M```, ```%S```
* Lowercase format code ```%f``` is used for the microseconds.

This can be used to construct a datetime ```str``` instance in the UK format for example:

In [196]:
datetime1.strftime(r'%H:%M:%S %d/%m/%Y')

'10:43:35 29/09/2023'

The method ```replace``` can be used to create a new instance where one or more of the units are changed:

In [197]:
datetime3 = datetime1.replace(year=2019, second=52)

In [198]:
variables()

                   Type Size/Shape                       Value
Instance Name
py3rd              date                             2008-12-03
day1               date                             2023-09-29
today              date                             2024-02-09
day2               date                             2024-02-09
day1a              time                        12:13:14.156789
day1b              date                             2008-12-03
day1c              date                             2008-12-03
day3               date                             2009-12-03
time1              time                               10:43:35
time2              time                        15:30:14.156789
time3              time                        19:30:14.156789
datetime1      datetime             2023-09-29 10:43:35.000001
datetime1a     datetime             2023-09-29 10:43:35.000001
datetime1b     datetime             2023-09-29 10:43:35.000001
datetime2      datetime             2024-02-09 15:49:56.187930
datetime3      datetime             2019-09-29 10:43:52.000001

```datetime.datetime``` instances are ordinal so the comparison operators are defined:

In [199]:
datetime1 == datetime2

False

In [200]:
datetime1 > datetime2

False

The datamodel method ```__sub__``` and ```___add__``` are defined in a consistent manner to the ```datetime.date``` class. This means the ```-``` computes the time difference between two ```datetime.datetime``` instances, returning a ```datetime.timedelta``` instance:

In [201]:
datetime2 - datetime1

datetime.timedelta(days=133, seconds=18381, microseconds=187929)

And ```+``` can be used to add a ```datetime.datetime``` and ```datetime.timedelta``` instance returning a ```datetime.datetime``` instance:

In [202]:
datetime2 + datetime.timedelta(days=133, seconds=18381, microseconds=187929)

datetime.datetime(2024, 6, 21, 20, 56, 17, 375859)

## Timedelta

A timedelta is a time difference; instances of the timedelta class were seen when subtracting two date or datetime instances from one another. The initialisation signature of this class can be examined:

In [ ]:
? timedelta

Notice the keyword input arguments by largest to smallest are weeks, days, hours, minutes, seconds, milliseconds and microseconds. 

days is first as its the only input argument used for a timedelta involving two date instances.

seconds is next as this unit is the most commonly used timedeltas when dealing with datetime instances that are more commonly expressed to a second.

However since these are keyword arguments they can be assigned in any order, defaulting to 0 when not implied.

The revolution of the earth is 365 days, 6 hours and 9 minutes:

The timedelta is expressed in days and seconds by default:

In [ ]:
duration = timedelta(days=365, hours=6, minutes=9)
duration

The attributes and methods from the timedelta class can be examined:

In [ ]:
for identifier in dir(timedelta):
    if not callable(getattr(timedelta, identifier)):
        print(identifier, end=' ')

In [ ]:
for identifier in dir(timedelta):
    if callable(getattr(timedelta, identifier)):
        print(identifier, end=' ')

The attributes days and seconds give the duration in days and seconds:

In [ ]:
duration

In [ ]:
duration.days

In [ ]:
duration.seconds

The method total seconds converts the years into seconds and returns the total time in seconds:

In [ ]:
duration.total_seconds()

This method essentially calculates:

In [ ]:
duration.days * (24 * 60 * 60) + duration.seconds

The class attributes min and max give the minimum and maximum possible datetime instance. Notice these are negative and positive as time differences can be negative or positive:

In [ ]:
timedelta.min

In [ ]:
timedelta.max

And the class attribute gives the timedelta resolution which is in microseconds:

In [ ]:
timedelta.resolution

The \_\_class\_\_ data model identifier is used to return the class using the builtins class type:

In [ ]:
type(duration)

The formal and informal string representation are slightly different. The formal representation shows the timedelta in days and seconds and the informal representation shows the second components in hours, minutes and seconds:

In [ ]:
repr(duration)

In [ ]:
print(duration)

The timedelta has most the numeric data model methods. For example the unitary data model methods \_\_abs\_\_, \_\_pos\_\_ and \_\_neg\_\_:

In [ ]:
abs(duration)

In [ ]:
+duration

In [ ]:
-duration

The binary data model identifiers \_\_add\_\_, \_\_sub\_\_, \_\_mul\_\_, \_\_truediv\_\_, \_\_floordiv\_\_, \_\_mod\_\_, \_\_divmod\_\_ are defined:

In [ ]:
duration + timedelta(weeks=1)

In [ ]:
duration - timedelta(weeks=1)

In [ ]:
duration / timedelta(weeks=1)

In [ ]:
duration // timedelta(weeks=1)

In [ ]:
duration % timedelta(weeks=1)

In [ ]:
divmod(duration, timedelta(weeks=1))

Some of these data model identifiers will only work between an integer or float and a timedelta for example:

In [ ]:
2.5 * duration

And some will work between two timedelta instances or a timedelta instance alongside an integer or float:

In [ ]:
duration / 2

As the timedelta instance is ordinal, the 6 comparison data model identifiers are defined \_\_eq\_\_, \_\_ne\_\_, \_\_lt\_\_, \_\_le\_\_, \_\_gt\_\_ and \_\_ge\_\_ which define the operators ==, !=, <, <=, > and >=:

In [ ]:
duration2 = duration + timedelta(days=100)

In [ ]:
duration2 == duration

In [ ]:
duration2 > duration

## timezone

The ZoneInfo class can be used to construct a timezone for example Universal Co-ordinated Time or from a geographic location:

In [ ]:
utc = ZoneInfo('UTC')

In [ ]:
london = ZoneInfo('Europe/London')

A datetime instance can be constructed with the UTC timezone:

In [ ]:
dt1 = datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=utc)
dt1

It has the timezone name of UTC:

In [ ]:
dt1.tzname()

Each geographic location has a timezone. In London for example the following date has a time zone name of British Summer time with a UTC offset of 1 hour:

In [ ]:
dt2 = datetime(year=2024, month=3, day=31, hour=0, minute=30, tzinfo=london)
(dt2.tzname(), dt2.utcoffset())

The clocks go forward on this date. A time after the clock change can be examined. Notice that the tzname is now British Summer Time with a UTC Offset of 0 hours:

In [ ]:
dt3 = datetime(year=2024, month=3, day=31, hour=2, minute=30, tzinfo=london)
(dt3.tzname(), dt3.utcoffset())

On the day the clocks go forward, there is 1 hour that duplicates which is represented by a fold (0 before the clock change and 1 after the clock change):

In [ ]:
dt4 = datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=london, fold=0)
(dt4.tzname(), dt4.utcoffset())

In [ ]:
dt5 = datetime(year=2024, month=3, day=31, hour=1, minute=30, tzinfo=london, fold=1)
(dt5.tzname(), dt5.utcoffset())

Without specification of the fold, there is some ambiguity over this hour.

The clocks change back in the winter:

In [ ]:
dt6 = datetime(year=2024, month=10, day=27, hour=1, minute=30, tzinfo=london)
(dt6.tzname(), dt6.utcoffset())

In [ ]:
dt7 = datetime(year=2024, month=10, day=27, hour=2, minute=30, tzinfo=london)
(dt7.tzname(), dt7.utcoffset())

There is no duplicate time when the clock goes back.

Notice that addition of a British time with a timedelta does not take take into account clock changes:

In [ ]:
dt8 = datetime(year=2024, month=3, day=31, hour=0, minute=30, tzinfo=london) + timedelta(hours=4)
dt8

Therefore generally it is more reliable to work with timezones in UTC when working with a timedelta.

## broadcasting

So far a single date, time, datetime or timedelta instance has been constructed. List comprehension can be used with a timedelta instance to get a list of timedelta instances:

In [ ]:
[timedelta(days=day) for day in range(10)]

Recall that a timedelta added to a datetime instance returns another datetime instance:

In [ ]:
dt = datetime(year=2023, month=1, day=1)

This can be taken advantage of while using list comprehension to get a list of datetime instances:

In [ ]:
[dt + timedelta(days=day) for day in range(10)]

The syntaxing for broadcasting using Python standard libraries is a bit convoluted. Normally instances are broadcast using ndarrays with the third-party Python library numpy. This library needs to be imported:

In [ ]:
import numpy as np

The numpy array range function is used to create an array of timedelta instances:

In [ ]:
td1 = timedelta(hours=0)

In [ ]:
td2 = timedelta(hours=24)

In [ ]:
tds = timedelta(hours=1)

In [ ]:
tds = np.arange(start=td1, stop=td2, step=tds)
tds

Or an array of datetime instances:

In [ ]:
dt1 = datetime(year=2024, month=1, day=1, hour=0)

In [ ]:
dt2 = datetime(year=2024, month=1, day=1, hour=23)

In [ ]:
tds = timedelta(hours=1)

In [ ]:
dts = np.arange(start=dt1, stop=dt2, step=tds)
dts

Notice the datatypes are slightly different timedelta64[us] and datetime64[us] are the classes used in numpy opposed to the timedelta and datetime classes from the standard datetime module:

In [ ]:
? np.timedelta64

In [ ]:
? np.datetime64

The numpy timedelta64 is initialised using an integer or float alongside a unit. Summation of these displays the value in terms of its smallest unit:

In [ ]:
np.timedelta64(1, 'D') + np.timedelta64(1, 'h') + np.timedelta64(1, 'm') + np.timedelta64(1, 's')

Which has a higher accuracy and can go down to a nanosecond:

In [ ]:
np.timedelta64(1, 'ms') + np.timedelta64(1, 'us') + np.timedelta64(1, 'ns')

The unit 'Y' and 'M' corresponding to Year and Month have a lower accuracy and are not typically used.

The numpy datetime64 typically uses the ISO format for instantiation:

In [ ]:
np.datetime64('2008-12-03T20:21:23.001002003')

Finally timedelta and datetime64 are normally displayed in pandas Series within pandas DataFrames. For this pandas needs to be imported:

In [ ]:
import pandas as pd

A Series is based on a numpy array with a label:

In [ ]:
pd.Series(data=dts, name='datetimes')

In [ ]:
pd.Series(data=tds, name='timedeltas')

datetimes for example are normally used alongside numerical measurement data in a DataFrame:

In [ ]:
pd.DataFrame({'datetimes': dts, 
              'temperature': 25 * np.ones(len(dts))})